doctype html

html(lang="en")
  head
    include ../partials/header.pug
  body
    div#page-container.header-navbar-fixed.header-navbar-transparent
      include ../partials/navbar.pug
      section#mainContent
        main#main-container
          p Total Doctors: #{collections.doctors.length}
          each doctor in collections.doctors
            a(href= '/'+doctor.path)
              strong= doctor.data.name
            p!= doctor.data.providerAddress
      section#footerNav
        footer#page-footer.bg-white
          .content.content-boxed
            include ../partials/footer.pug
