.black {
	color: #000;
}

body #a0-lock .a0-primary {
	background-color: #f33137 !important;
}

.btn-cancel {
  text-transform: uppercase;
  background: #b4bcc3;
  font: 500 16px/40px "Raleway", sans-serif;
  padding: 0 35px;
  border-radius: 30px;
  color: #fff;
  border: none;
  margin: 0 20px;
}
