#menu.maincontent
  .drop-down-container
    a.toggleMenu(href='#', style='display: none;') Menu
    ul.nav
      li
        a.off(href='/our-doctor.html') Dr. Hawa
      li
        a.off(href='/our-team.html') The Team
      li
        a.off.parent(href='/dental-services/') Dental Services
        ul
          li.no-top-border.left
            a(href='/dental-services/cosmetic-aesthetic-dentistry.html') Cosmetic and Aesthetic Dentistry
          li.no-top-border
            a(href='/dental-services/veneers-crowns-bridges.html') Veneers, Crowns & Bridges
          li.left
            a(href='/dental-services/implant-dentistry.html') Implant Dentistry
          li
            a(href='/dental-services/periodontal-therapy.html') Periodontal Therapy
          li.left
            a(href='/dental-services/dental-hygiene.html') Dental Hygiene
          li
            a(href='/dental-services/dental-emergencies.html') Dental Emergencies
          li.left
            a(href='/dental-services/root-canal-treatment.html') Root Canal Treatment
          li
            a(href='/dental-services/fillings-and-restorative-prodcedures.html') Fillings and Restorative Procedures
          li.left
            a(href='/dental-services/night-guards.html') Night Guards and Sports Guards
          li
            a(href='/dental-services/teeth-whitening.html') Teeth Whitening
          li.left
            a(href='/dental-services/advanced-technology.html') Advanced Technology
          li.last  
      li
        a.off(href='/invisalign.html') Invisalign
      li
        a.off(href='/invisalign-teen.html') Invisalign Teen
      li
        a.off(href='/gorgeous-smile.html') Gorgeous Smile
      li
        a.off(href='/overall-health.html') Overall Health
      li
        a.off(href='/testimonials.html') Testimonials
      li
        a.off(href='/videos.html') Videos
      li
        a.off(href='/contact-and-location.html') Contact
      li
        a.ec(href='/dental-services/dental-emergencies.html') Emergencies