#top-bar
  .maincontent
    a(href='https://www.facebook.com/Northern-Virginia-Dental-Arts-1182931241733885/', target='_blank')
      img(src='/images/icon-facebook.gif', alt='Facebook')
    p
      a(href='/') Home
      a(href='/contact-and-location.html') Contact & Location
      a(href='/financial-options.html') Financial Options
      a(href='/new-patient-forms.html') New Patient Forms
