//- Footer
footer#footer.footer.pb-0.bg-black-111
  .container.pb-20
    .row.multi-row-clearfix
      .col-sm-6.col-md-3
        .widget.dark
          img(alt='', src='/assets/images/logo-wide-white.png')
          p.font-12.mt-20.mb-10
            | VGUCC  is a library of Crowdfunding and Medinova templates with predefined elements which helps you to build your own site. Lorem ipsum dolor sit amet consectetur.
          a.text-gray.font-12(href='#')
            i.fa.fa-angle-double-right.text-theme-colored
            |  Read more
          ul.social-icons.icon-dark.mt-20
            li
              a(href='#', data-bg-color='#3B5998')
                i.fa.fa-facebook
            li
              a(href='#', data-bg-color='#02B0E8')
                i.fa.fa-twitter
            li
              a(href='#', data-bg-color='#05A7E3')
                i.fa.fa-skype
            li
              a(href='#', data-bg-color='#A11312')
                i.fa.fa-google-plus
            li
              a(href='#', data-bg-color='#C22E2A')
                i.fa.fa-youtube
      .col-sm-6.col-md-3
        .widget.dark
          h5.widget-title.line-bottom Tags
          .tags
            a(href='#') doctor
            a(href='#') practice
            a(href='#') judge
            a(href='#') courte
            a(href='#') injury
            a(href='#') injustice
            a(href='#') justice
            a(href='#') Script
            a(href='#') evidence
            a(href='#') success
            a(href='#') fight
            a(href='#') attorneys
            a(href='#') consulting
            a(href='#') support
            a(href='#') cases
            a(href='#') law
            a(href='#') criminal
      .col-sm-6.col-md-3
        .widget.dark
          h5.widget-title.line-bottom Latest News
          .latest-posts
            article.post.media-post.clearfix.pb-0.mb-10
              a.post-thumb(href='#')
                img(src='https://placehold.it/80x55', alt='')
              .post-right
                h5.post-title.mt-0.mb-5
                  a(href='#') Sustainable Construction
                p.post-date.mb-0.font-12 Mar 08, 2015
            article.post.media-post.clearfix.pb-0.mb-10
              a.post-thumb(href='#')
                img(src='https://placehold.it/80x55', alt='')
              .post-right
                h5.post-title.mt-0.mb-5
                  a(href='#') Industrial Coatings
                p.post-date.mb-0.font-12 Mar 08, 2015
            article.post.media-post.clearfix.pb-0.mb-10
              a.post-thumb(href='#')
                img(src='https://placehold.it/80x55', alt='')
              .post-right
                h5.post-title.mt-0.mb-5
                  a(href='#') Storefront Installations
                p.post-date.mb-0.font-12 Mar 08, 2015
      .col-sm-6.col-md-3
        .widget.dark
          h5.widget-title.line-bottom Quick Contact
          ul.list.list-border
            li
              a(href='#') +(012) 345 6789
            li
              a(href='#') hello@yourdomain.com
            li
              a.lineheight-20(href='#') 121 King Street, Melbourne Victoria 3000, Australia
          p.text-white.mb-5.mt-15 Subscribe to our newsletter
          form#footer-mailchimp-subscription-form.newsletter-form.mt-10
            label.display-block(for='mce-EMAIL')
            .input-group
              input#mce-EMAIL.form-control(type='email', value='', name='EMAIL', placeholder='Your Email', data-height='37px')
              span.input-group-btn
                button.btn.btn-colored.btn-theme-colored.m-0(type='submit')
                  i.fa.fa-paper-plane-o.text-white
          //- Mailchimp Subscription Form Validation
          script(type='text/javascript').
            $('#footer-mailchimp-subscription-form').ajaxChimp({
            callback: mailChimpCallBack,
            url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
            });
            function mailChimpCallBack(resp) {
            //- Hide any previous response text
            var $mailchimpform = $('#footer-mailchimp-subscription-form'),
            $response = '';
            $mailchimpform.children(".alert").remove();
            console.log(resp);
            if (resp.result === 'success') {
            $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
            } else if (resp.result === 'error') {
            $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
            }
            $mailchimpform.prepend($response);
            }
  .footer-nav.bg-black-222.p-20
    .row.text-center
      .col-md-12
        p.text-white.font-11.m-0 Copyright ©2015 ThemeMascot. All Rights Reserved
a.scrollToTop(href='#')
  i.fa.fa-angle-up

script(src='/assets/js/custom.js')
