



/*-------------------------------------------
	*  Filename:            global.css 
	*  Description          global css
	*  Version              1.0.1 [2012-01-27]
	*  Style ID             ALL
	*  Author:              ProSites
	---------------------------------------------*/
	
	
	
/* RESETS */	
body,  hr,  .m-form h1,  .m-form-low h1,  .m-form-services h1,  .m-form-inner-services h1,  .PageContact_Contact_Name,  #footer p,  .PageInternetLink_Category_Name,  .PageContact_Office li,  #_ctl2_pnlForm li,  .PageInternetLink_Category,  .PageInternetLink_Link_Description,  .PageInternetLink_Link,  hr.qcform {
	margin: 0px;
	padding: 0px;
}
.bold,  .PageFAQ_PageName,  .m-form h1,  .m-form-low h1,  .m-form-services h1,  .m-form-inner-services h1,  .PageContact_Office_CompanyName1,  .PageContact_Office_CompanyName2,  .PageContact_Office_OfficeLocation,  .PageContact_Contact_Name,  .PageContact_Contact ul,  .PageInternetLink_Category_Name,  .PageInternetLink_Category_Name,  .PageInternetLink_Link_Url,  .PageTestimonial_ProvidedBy,  .PageService_Group_Name,  .PageService_Line_Item_Name table,  .PageService_Line_Group_Name {
	font-weight: bold;
}



/*XHTML PAGE ELEMENTS-----------------------*/
body, input, textarea {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}
hr {
	border-collapse: collapse;
	height: 1px;
	border: 0;
}
ul {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	font-weight: normal;
}
ul li {
	margin: 0px 0px 0px 30px;
	padding: 2px 15px 2px 0px;
	list-style: disc outside;
}

ol {
	margin: 5px 0px;
	font-weight: normal;
}

ol li {
	margin: 0px 0px 0px 5px;
	padding: 2px 15px 2px 0px;
}
p {
	border: 0px;
}
.Button, .ButtonHover {
	text-decoration: none;
	cursor: pointer;
	font-size:12px;
	padding: 4px;
	overflow: visible;
}
a:link, a:visited, a:active, a:hover {
	text-decoration: underline;
	border: none;
}
.clear {
	clear: both;
}
fieldset {
	border: solid 1px; 
	padding: 8px;
}
.qc-err, .m-error {
	color: #ff0000;
}



/* CONTENT----------------------------------*/	
	#container {

}
#StylizedImage {
	padding-bottom: 10px;
}



/* Footer ----------------------------------*/
	#footer {
	margin: 0px auto;
	/*text-align: justify!important;*/
}
#footer .footer_nav, #footer p, #footer .devby {
	margin: 0px;
}
#footer .footer_nav {
	line-height: 18px;
}
#footer p {
	line-height: 14px;
}
#footer br {
	display: none!important; /* nuke coded breaks*/
} 
#footer a:link, #footer a:visited, #footer a:active {
	text-decoration: none;
	font-weight: bold;
}
#footer a:hover {
	text-decoration: none;
	font-weight: bold;
}




/* INTERIOR DEFAULT PAGES -------------------*/

/* PageService_Intro */
.PageService_Stylized {
	font-size: 24px;
}
.PageService_Intro {
}
.PageService_Group {
	margin: 0px;
	padding: 0px;
}
.PageService_Group_Name {
	list-style: none;
	margin-left: 15px;
}
.PageService_Group_Name a:link, .PageService_Group_Name a:visited, .PageService_Group_Name a:active {
}
.PageService_Group_Name a:hover {
}
.PageService_Item {
	list-style: disc outside;
	padding: 0px;
}
.PageService_Group_Description {
	padding-top: 15px;
}
.PageService_Item_Name {
	list-style: disc outside;
}
.PageService_Line_Item_Name {
	position: relative;
	margin: 0px;
	padding-bottom: 6px;
	height: 20px;
	width: auto;
	border-bottom: 1px solid;
}
.PageService_Line_Item_Name table {
	position: absolute!important;
	width: 100%!important;
	font-size:13px;
}
.PageService_Line_Group_Name {
	position: relative;
	margin: 0px;
	padding-bottom: 6px;
	font-size:13px;
	height: 20px;
	border-bottom: solid 1px;
}
.PageService_Line_Group_Items {
	padding: 8px 0px 0px 0px;
	text-align: right;
	display: block;
}
.PageService_Line_Group_Name table {
	position: absolute!important;
	width: 100%!important;
	font-size:13px;
	font-weight: bold;
}
.PageService_Line_Group_Name table td {
	font-size:13px;
	font-weight: bold;
}



/* PageInternetLink */
	.PageInternetLink_Intro {
}
.PageInternetLink_Category_Container {
	margin: 0px;
	padding: 10px 0px;
	border-bottom: 1px solid;
}
.PageInternetLink_Category {
	list-style:none;
	line-height:19px;
	list-style:none;
}
.PageInternetLink_Category_Name {
	font-size:18px;
	padding-top: 20px;
	list-style:none;
}
.PageInternetLink_Category_Description {
	padding: 0px;
	margin: 0px;
	list-style:none;
}
.PageInternetLink_Link {
	list-style:none;
}
.PageInternetLink_Link p {
	margin: 4px 0px;
}
.PageInternetLink_Link_Url {
	margin: 0px;
	padding: 10px 0px 2px;
	list-style:none;
}
.PageInternetLink_Link_Description {
	list-style: none;
}


/* PageFAQ */
	.PageFAQ_Intro {
}
.PageFAQ_Container {
	padding: 10px 0px 0px 5px;
}
.PageFAQ_Question {
	padding-bottom:10px;
}
.PageFAQ_Answer {
	padding-bottom:15px;
	border-bottom: 1px solid red;
	display: none; /*USED FOR JS FUNCTION*/
}
.PageFAQ_Answer p {
	margin: 0px;
	padding-bottom: 10px;
}


/* PageTestimonial */
	#PageTestimonial.Layout {
	width: 100%!important;
	display: table-row!important;
	margin: 0px auto!important;
}
.PageTestimonial_Intro {
	padding-bottom: 18px;
	border-bottom: solid 1px;
}
.PageTestimonial_Container {
	margin: 10px 0px;
	border-bottom: solid 1px;
}
.PageTestimonial_Quote {
	font-style: italic;
}
.PageTestimonial_ProvidedBy {
	text-align:right;
	padding: 7px 0px 10px 0px;
}


/* PageContact */
	.PageContact_Office {
	margin: 0px 0px 2px 0px;
	padding: 0px;
}
.PageContact_Office_CompanyName1, .PageContact_Office_CompanyName2 {
	font-size:16px;
}
.PageContact_Office_OfficeLocation {
	font-size: 14px;
}
.PageContact_Office_Photo {
	border: 1px solid;
	float: left;
	margin: 0 0 10px 15px;
}
.PageContact_Contact {
	margin: 15px 0px 2px 0px;
	padding: 0px;
}
.PageContact_Contact_Photo {
	margin: 15px 0px 0px 0px;
	border: 1px solid;
	/*float: left;*/
}
.PageContact_Contact_Seperator {
	margin: 20px 0 0;
	padding-top: 5px;
	border-top: 1px solid;
}
.PageContact_Contact li {
	margin: 0px;
	padding: 0px;
}
.PageContact_Contact ul {
}


/*hide bullets*/
	.PageContact_Contact, .PageContact_Office, .PageContact_Contact ul, .PageContact_Contact li, .PageContact_Office li, #_ctl2_pnlForm li {
	list-style: none;
}


/*  INTERIOR DEFAULT FORMS ---*/

/* MAIN CONTACT PAGE FORM ---------*/
.qcform {
	margin: 0px 0px 0px 15px;
	text-align: left;
	float: right;
	border: 1px solid;
}
.qcform .header_img {
	padding-top: 10px;
}
.qcform p {
	margin: 0px;
	padding: 0px 2px 5px 0px;
	line-height: 16px;
	text-align: left;
}
.qcform td {
	padding: 2px 15px 2px 15px;
	vertical-align: bottom;
	text-align: center;
}
.qcformcolor {
	padding: 2px;
	width: 234px;
	font: 12px verdana, arial, sans-serif;
	border: 1px solid;
}
hr.qcform {
	margin-bottom: 5px;
	border-collapse: collapse;
	height: 1px;
	border: 0;
}

/*shift to the left 1px*/
.qcform .Button { 
	margin-right: 1px;
}
.qcform .ButtonHover { 
	margin-right: 1px;
}


/* MINI FORM PLUGIN---------*/
	.m-form,  .m-form-low,  .m-form-services,  .m-form-inner-services {
	width: 148px;
	padding: 10px 13px;
	float: right!important;
	border: 1px solid;
}
.m-formcolor,  .m-form-innercolor {
	width: 144px;
	margin-top: 5px;
	padding: 2px;
	float: right;
	border: 1px solid;
}
.m-form .right,  .m-form-low .right,  .m-form-services .right,  .m-form-inner-services .right {
	float: right;
	margin-top: 5px;
}
.m-form h1,  .m-form-low h1,  .m-form-services h1,  .m-form-inner-services h1 {
	font-size: 19px;
	margin-bottom: 2px;
	font-family: arial;
}
.shim {
	float: right;
	clear: right;
	height: 20px;
}
.shim-none {
	float: right;
	clear: right;
}
.shim-left {
	float: left;
	clear: left;
	height: 20px;
	display: block;
}
.return {
	margin: 0 0 8px;
	display: block;
} 

/* edit margin for address spacing*/

/* AppointmentRequestForm */
	#AppointmentRequestForm .qcformcolor {
	padding: 2px;
	width: 234px;
}

/* AppointmentRequestForm - padding above comment field */
#CommentText { 
	padding-top: 0px!important; 
}


@media print {


/*Format copy*/
body {
	font: 100% Times New Roman, serif;
}


/*Hide from printer*/
#Img, #img1, #m-row, #M-row, #n-bg, #prop, #row, #Row, #btm-row, #Btm-row, #BtmRow, #btmrow, #Left, #left, #Right, #right, #Nav, #nav, #Footer, #footer, #Ban, #ban, #banner, #Banner, #Flash, #flash, #flash-interior, #img-top, #img-middle, #img-bottom, .m-form, .qcform, .m-form-low, .m-form-services, .m-form-inner-services {
	display: none!important;
}


/*Default Page Settings Adjustments*/

/* PageTestimonial */
.PageTestimonial_Container {
	margin-top: 10px!important;
	border-top: solid 1px #000!important;
}
.PageTestimonial_Quote {
	font-style: italic!important;
}
.PageTestimonial_ProvidedBy {
	font-weight: bold!important;
	text-align: right!important;
	padding: 7px 0px 10px 0px!important;
}

/* PageFAQ */
.PageFAQ_Container {
	padding-top: 10px!important;
	padding-left: 0px!important;
}
.PageFAQ_Question {
	padding-bottom:10px!important;
}
.PageFAQ_Answer {
	padding-bottom: 15px!important;
	border-bottom: solid 1px #000!important;
}

/* PageService_Intro */
.PageService_Stylized {
	font-size: 24px;
}
.PageService_Group {
	margin-left: 15px!important;
	margin-bottom: 2px!important;
	margin-top: 0px!important;
}
.PageService_Group_Name {
	font-weight: bold!important;
	list-style-position: inside!important;
}
.PageService_Group_Description {
	padding-top:15px;
}
.PageService_Item {
	margin-left: 30px!important;
	margin-bottom: 2px!important;
	margin-top: 0px!important;
	list-style-position: inside;
}
.PageService_Line_Group_Name {
	border-bottom: solid 1px #000!important;
	padding-bottom: 6px!important;
	font-weight: bold!important;
}
.PageService_Line_Group_Items {
	text-align: right!important;
	padding: 8px 0px 0px 0px!important;
}
.PageService_Line_Item_Name {
	border-bottom: solid 1px #000!important;
	padding-bottom: 6px!important;
	font-weight: bold!important;
}
.PageService_Item_Description {
	padding-top:15px!important;
}

} 