//- footer
//-   .row
//-     .span12
//-       ul
//-         li
//-           .copy
//-             p Copyright &copy; 2016 MDOCS
//-         li
//-           a(href='/content/privacy-policy/') Privacy Policy
//-         li
//-           a(href='/content/terms') Terms & Conditions
//-         li
//-           a(href='/contact') Contact Us
//-     .span12
//-       .nap.vcard(itemscope='', itemtype='http://schema.org/Organization')
//-         .fn.org(itemprop='name')= practice.name  
//-           span  - 
//-           span= practice.description  
//-           span  located in  
//-           span= practice.city  
//-           span ,  
//-           span= practice.state  
//-         |  Phone: 
//-         span.tel.mm-phone-number.phoneupdated(itemprop='telephone', content= practice.phone)= practice.phone
//-         span.divider |
//-         |  Fax:  
//-         span.tel.mm-phone-number.phoneupdated(itemprop='telephone', content= practice.fax)= practice.fax
//-         .adr
//-           | Address: 
//-           span.street-address(itemprop='streetAddress')= practice.address
//-           span.locality(itemprop='addressLocality')= practice.city
//-           | , 
//-           span.region(itemprop='addressRegion')= practice.state
//-           span(itemprop='postalCode')= practice.zip
//-     .span12
//-       p
//-         a(href='https://www.mdocs.co', target='_blank') Powered by MDOCS

script(type='text/javascript').
  /* <![CDATA[ */
  var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"http:\\/\/vgucc.com\/wp-includes\/js\/thickbox\/loadingAnimation.gif"};
  /* ]]> */
script(src='/assets/wp-includes/js/thickbox/thickbox.js')
script(src='/assets/wp-includes/js/underscore.min.js')
script(src='/assets/wp-includes/js/shortcode.min.js')
script(src='/assets/wp-admin/js/media-upload.min.js')
script(src='/assets/wp-content/themes/beacon-easton/js/jquery.slides.min.js')
script(src='/assets/wp-content/themes/beacon-theme_new-york/js/min/theme-min.js')
script(src='/assets/wp-content/themes/beacon-easton/js/slick/slick.min.js')
script(src='/assets/wp-content/themes/beacon-easton/js/lightbox.js')
script(src='/assets/wp-content/themes/beacon-easton/js/theme-menu-horizontal-v1.js')
script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDB6_LQEydojGjTHLUDiES-FDxejwx8Uaw&#038;sensor=false')
script(src='/assets/js/infobox.js')
script(src='/assets/wp-includes/js/jquery/ui/core.min.js')
script(src='/assets/wp-includes/js/jquery/ui/widget.min.js')
script(src='/assets/wp-includes/js/jquery/ui/mouse.min.js')
script(src='/assets/wp-includes/js/jquery/ui/draggable.min.js')
script(src='/assets/wp-content/themes/tsm-theme-1/plugins/_the_map/js/vslimscroll.min.js')
script(src='/assets/wp-content/themes/tsm-theme-1/plugins/_the_map/js/jquery.googlemapsplugin.min.js')
script(src='/assets/wp-content/themes/tsm-theme-1/plugins/_the_map/js/init-scripts.js')
script(src='/assets/wp-content/plugins/tsm-b2b/plugins/_the_ga_eventTracking/js/scripts.js')
script(src='/assets/wp-includes/js/wp-embed.min.js')

//- script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
//- script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(src="/assets/lib/slick/slick.min.js")
script(src='/assets/js/pw.js')
