.social-container
  a.social-tab.social-plus(href= practice.social.googleplus, target='_blank')
    i.fa.fa-2x.fa-google-plus
  a.social-tab.social-tw(href= practice.social.twitter, target='_blank')
    i.fa.fa-2x.fa-twitter
  a.social-tab.social-fb(href= practice.social.facebook, target='_blank')
    i.fa.fa-2x.fa-facebook
  a.social-tab.social-yelp(href= practice.social.yelp, target='_blank')
    i.fa.fa-2x.fa-yelp
