<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Website Widget
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="#/dashboard">Home</a></li>
                <li>Settings</li>
                <li>Website Widget</li>
            </ol>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
         <div class="col-md-12">
            <!-- Block Tabs Justified Alternative Style -->
            <div class="block">
                <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-js-tabs>
                    <li class="active">
                        <a href="#btabs-alt-static-justified-home"><i class="fa fa-home"></i> Homepage Small</a>
                    </li>
                    <li>
                        <a href="#btabs-alt-static-justified-slider"><i class="fa fa-cubes"></i> Homepage Slider</a>
                    </li>
                    <li>
                        <a href="#btabs-alt-static-justified-list"><i class="fa fa-list"></i> List of Reviews</a>
                    </li>
                    <li>
                        <a href="#btabs-alt-static-justified-form"><i class="fa fa-star"></i> New Review Form</a>
                    </li>
                </ul>
                <div class="block-content tab-content">
                    <div class="tab-pane active" id="btabs-alt-static-justified-home">
                        <h4 class="font-w300 push-15">Homepage Small Widget Code</h4>
                        <small>Use the "Copy to Clipboard" button to copy this snippet. Once copied, paste this code into the HTML page where you'd like to install the widget.</small>
                        <p></p>
                        
                        <div class="pull-right">
                            <button class="btn btn-success">
                                <i class="fa fa-copy"></i>Copy to Clipboard
                            </button>
                        </div>
                        
                        <div class="content content-full bg-success-light">
    <pre class="pre-sh"><code class="html bg-success-light">&lt;iframe allowtransparency=&quot;true&quot; scrolling=&quot;no&quot; frameborder=&quot;no&quot; src=&quot;https://mdocs.co/widget/icon/?url=http%3A%2F%2Fmdocs.co%2Fundefined&color=orange_white&size=32&quot; style=&quot;width: 32px; height: 32px;&quot;&gt;&lt;/iframe&gt;
                        </code></pre>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane" id="btabs-alt-static-justified-slider">
                        <h4 class="font-w300 push-15">Homepage Slider</h4>
                        <small>Use the "Copy to Clipboard" button to copy this snippet. Once copied, paste this code into the HTML page where you'd like to install the widget.</small>
                        <p></p>
                        
                        <div class="pull-right">
                            <button class="btn btn-success">
                                <i class="fa fa-copy"></i>Copy to Clipboard
                            </button>
                        </div>
                        
                        <div class="content content-full bg-warning-light">
    <pre class="pre-sh"><code class="html bg-warning-light">&lt;iframe allowtransparency=&quot;true&quot; scrolling=&quot;no&quot; frameborder=&quot;no&quot; src=&quot;https://mdocs.co/widget/icon/?url=http%3A%2F%2Fmdocs.co%2Fslider&color=blue&size=32&quot; style=&quot;width: 32px; height: 32px;&quot;&gt;&lt;/iframe&gt;
                        </code></pre>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane" id="btabs-alt-static-justified-list">
                        <h4 class="font-w300 push-15">Lift of Reviews</h4>
                        
                        <small>Use the "Copy to Clipboard" button to copy this snippet. Once copied, paste this code into the HTML page where you'd like to install the widget.</small>
                        <p></p>
                        
                        <div class="pull-right">
                            <button class="btn btn-success">
                                <i class="fa fa-copy"></i>Copy to Clipboard
                            </button>
                        </div>
                        
                        <div class="content content-full bg-info-light">
    <pre class="pre-sh"><code class="html bg-info-light">&lt;iframe allowtransparency=&quot;true&quot; scrolling=&quot;no&quot; frameborder=&quot;no&quot; src=&quot;https://mdocs.co/widget/icon/?url=http%3A%2F%2Fmdocs.co%2Fslider&color=blue&size=32&quot; style=&quot;width: 32px; height: 32px;&quot;&gt;&lt;/iframe&gt;
                        </code></pre>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane" id="btabs-alt-static-justified-form">
                        <h4 class="font-w300 push-15">New Review Form</h4>
                        
                        <small>Use the "Copy to Clipboard" button to copy this snippet. Once copied, paste this code into the HTML page where you'd like to install the widget.</small>
                        <p></p>
                        
                        <div class="pull-right">
                            <button class="btn btn-success">
                                <i class="fa fa-copy"></i>Copy to Clipboard
                            </button>
                        </div>
                        
                        <div class="content content-full bg-danger-light">
    <pre class="pre-sh"><code class="html bg-danger-light">&lt;iframe allowtransparency=&quot;true&quot; scrolling=&quot;no&quot; frameborder=&quot;no&quot; src=&quot;https://mdocs.co/widget/icon/?url=http%3A%2F%2Fmdocs.co%2Fslider&color=blue&size=32&quot; style=&quot;width: 32px; height: 32px;&quot;&gt;&lt;/iframe&gt;
                        </code></pre>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <!-- END Block Tabs Justified Default Style -->
        </div>
    </div>
</div>
