extends ../layouts/layout

block head
  title PracticeWin &middot; Analytics

block content
  iframe#analyticsframe(src=dashboardUrl style="border: 0; width: 100%; height: 100%" onLoad="autoResize();")
block scripts
  script.
    jQuery(document).ready(function () {
      $(window).on('resize', autoResize);
    })
    function autoResize(){
      $('#analyticsframe').height($('#analyticsframe').parent().height());
    }
