doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body.PARALLAX
    include ../partials/navbar.pug
    //- include ../partials/raw/reviews-header.pug
    //- include ../partials/reviewsSmallFlexSlider.pug

    section.location-details.pinstripe
      include ../partials/socialIcons.pug
      #social-crumb.row
        .span12
          .breadcrumb(itemprop='breadcrumb')
            a(href='/')= practice.name
            i.fa.fa-angle-right
            span Contact Us
          h1 Get In Touch with 
            span= practice.name
    include ../partials/contact.pug
    include ../partials/contactForm.pug
    //- include ../partials/map.pug
    include ../partials/footer.pug
