extends ./layout/layout.pug

block head
  title #{application} &middot; Menu

block styles
  style.
    select.form-control + .chosen-container.chosen-container-single .chosen-single {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        background-image:none;
        padding-right: 5px;
    }

    select.form-control + .chosen-container.chosen-container-single .chosen-single div {
        top:4px;
        color:#000;
    }

    select.form-control + .chosen-container .chosen-drop {
        background-color: #FFF;
        border: 1px solid #CCC;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        margin: 2px 0 0;

    }

    select.form-control + .chosen-container .chosen-search input[type=text] {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        background-image:none;
    }

    select.form-control + .chosen-container .chosen-results {
        margin: 2px 0 0;
        padding: 5px 0;
        font-size: 14px;
        list-style: none;
        background-color: #fff;
        margin-bottom: 5px;
    }

    select.form-control + .chosen-container .chosen-results li ,
    select.form-control + .chosen-container .chosen-results li.active-result {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
        background-image:none;
    }
    select.form-control + .chosen-container .chosen-results li.group-result {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: bold;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
        background-image:none;
        padding-left: 10px;
    }

    select.form-control + .chosen-container .chosen-results li:hover,
    select.form-control + .chosen-container .chosen-results li.active-result:hover,
    select.form-control + .chosen-container .chosen-results li.highlighted
    {
        color: #FFF;
        text-decoration: none;
        background-color: #428BCA;
        background-image:none;
    }

    select.form-control + .chosen-container-multi .chosen-choices {
        display: block;
        width: 100%;
        min-height: 34px;
        padding: 6px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        background-image:none;
    }

    select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        height:auto;
        padding:5px 0;
    }

    select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

        background-image: none;
        padding: 3px 24px 3px 5px;
        margin: 0 6px 0 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
        background-color: #FFF;
        border-color: #CCC;
    }

    select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        top:8px;
        right:6px;
    }

    select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
    select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
    select.form-control + .chosen-container .chosen-search input[type=text]:focus{
        border-color: #66AFE9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    }

    select.form-control + .chosen-container-multi .chosen-results li.result-selected{
        display: list-item;
        color: #ccc;
        cursor: default;
        background-color: white;
    }
    ul.jqtree-tree {
      list-style: none outside;
      margin-left: 0;
      margin-bottom: 0;
      padding: 0; }
      ul.jqtree-tree ul.jqtree_common {
        list-style: none outside;
        /*margin-left: 12px;*/
        margin-right: 0;
        margin-bottom: 0;
        padding: 0;
        display: block; }
      ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
        display: none; }
      ul.jqtree-tree li.jqtree_common {
        clear: both;
        list-style-type: none; }
      ul.jqtree-tree .jqtree-toggler {
        border-bottom: none;
        color: #333;
        text-decoration: none;
        vertical-align: middle; }
        ul.jqtree-tree .jqtree-toggler:hover {
          color: #000;
          text-decoration: none; }
        ul.jqtree-tree .jqtree-toggler.jqtree-closed {
          background-position: 0 0; }
        ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
          margin-right: 0.5em; }
        ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {
          margin-left: 0.5em; }
      ul.jqtree-tree .jqtree-element {
        border: solid 1px #ccc;
        width: 100%;
        height: 50px;
        margin: 10px 0;
        padding: 7px 0 ;

        cursor: pointer;
        position: relative; }
      ul.jqtree-tree .jqtree-title {
        color: #1C4257;
        vertical-align: middle;
        }
        ul.jqtree-tree .jqtree-title.jqtree-title-folder {
          margin-left: 0; }
      ul.jqtree-tree li.jqtree-folder {
        margin-bottom: 4px; }
        ul.jqtree-tree li.jqtree-folder.jqtree-closed {
          margin-bottom: 1px; }
      ul.jqtree-tree li.jqtree-ghost {
        position: relative;
        z-index: 10;
        margin-right: 10px;
        /* todo: add classes to span? */ }
        ul.jqtree-tree li.jqtree-ghost span {
          display: block; }
        ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
          border: solid 2px #0000ff;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          border-radius: 100px;
          height: 8px;
          width: 8px;
          position: absolute;
          top: -4px;
          left: -6px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
          background-color: #0000ff;
          height: 2px;
          padding: 0;
          position: absolute;
          top: -1px;
          left: 2px;
          width: 100%; }
        ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
          margin-left: 48px; }
      ul.jqtree-tree span.jqtree-border {

        position: absolute;
        display: block;
        left: -2px;
        top: 0;
        border: solid 2px #0000ff;
        border-radius: 6px;
        margin: 0;
        box-sizing: content-box; }
      ul.jqtree-tree li.jqtree-selected > .jqtree-element,
      ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
        border: solid 2px #97BDD6;
        padding: 6px 0px;
      }
      ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
        outline: dashed 1px #0000ff; }


    span.jqtree-dragging {
      color: #fff;
      background: #000;
      opacity: 0.6;
      cursor: pointer;
      padding: 2px 8px; }

    /* IE 6, 7, 8 */
    @media \0screen\,screen\9  {
      ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
        background: url(jqtree-circle.png) no-repeat;
        border: 0 none; } }


block content
  .container-fluid
    //- .row
    //-   .col-md-4
    //-     .input-group
    //-       .input-group-btn
    //-         .btn
    //-           i.fa.fa-bars
    //-       input.form-control(type='text', aria-label='...')
    //-   .col-md-7
    //-     .input-group
    //-       .input-group-btn(style='min-width: 130px;')
    //-         button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    //-           | Site Link&nbsp;
    //-           span.caret
    //-         ul.dropdown-menu.dropdown-menu-right
    //-           li
    //-             a(href='#') Site Link
    //-           li
    //-             a(href='#') External Link
    //-       .builtin-links-select(style='border-color: red;')
    //-         select.form-control.chosen-select(data-placeholder='Your Favorite Football Team', style='padding-right: 5px; display: none;', tabindex='-1')
    //-           option(value='')
    //-           optgroup(label='NFC EAST')
    //-             option Dallas Cowboys
    //-             option New York Giants
    //-             option Philadelphia Eagles
    //-             option Washington Redskins
    //-           optgroup(label='NFC NORTH')
    //-             option Chicago Bears
    //-             option Detroit Lions
    //-             option Green Bay Packers
    //-             option Minnesota Vikings
    //-   .col-md-1
    //-     button.btn.btn-default
    //-       i.fa.fa-close

    .row
      .col-md-10.col-md-offset-1
        .menu-editor
    .modal.js-delete-confirm(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Are you sure?
          .modal-body
            h4 Current menu item and all it's children will be deleted.
          .modal-footer
            button.btn.btn-default(type='button') Okay

  script#row-template(type='text/x-handlebars-template').
    <div class="row" data-row-id="{{node.id}}">
      <div class="col-md-4">
        <div class="input-group" style="margin-left:{{indent}}px;">
          <div class="input-group-btn">
            <div class="btn"><i class="fa fa-bars"></i></div>
          </div>
          <input type="text" class="form-control" value="{{node.name}}"/>
        </div>
      </div>
      <div class="col-md-7">
        <div class="input-group">
          <div class="input-group-btn" style="min-width: 130px;">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default dropdown-toggle"><span class='caption'>
            {{#ifLinkType node.id availableLinks 0}}Site Link{{/ifLinkType}}
            {{#ifLinkType node.id availableLinks 1}}Custom Link{{/ifLinkType}}
            </span>&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#" class="js-sitelink-click">Site Link</a></li>
              <li><a href="#" class="js-custom-click">Custom Link</a></li>
            </ul>
          </div>
          <div class="externallink-links-select" {{#ifLinkType node.id availableLinks 0}}style="display: none;"{{/ifLinkType}}>
            <input type="text" class="form-control" value="{{node.id}}"/>
          </div>
          <div class="sitelink-links-select" {{#ifLinkType node.id availableLinks 1}}style="display: none;"{{/ifLinkType}}>
            <select data-placeholder="Pick A Link" style="padding-right: 5px; display: none;" tabindex="-1" class="form-control chosen-select">
              <option value=""></option>
              {{#each availableLinks}}
              <optgroup label={{name}}>
                {{#each children}}
                <option value="{{id}}" {{optionSelected id ../../node}}>{{name}}</option>
                {{/each}}
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-default js-remove-node"><i class="fa fa-close"></i></button>
      </div>
    </div>

block scripts
  script(src='/app/js/tree.jquery.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js')
  script.
    (function(init) {
      init(window.jQuery, window, document);
    }(function($, window, document) {
      $.ajax({
        type: 'GET',
        url: '/app/lib/bootstrap/js/modal.js',
        dataType: 'script',
        cache: true
      });

      var $tree = $('.menu-editor')
      var availableLinks = !{availableLinks}


      var MAX_DEPTH = 2
      function getNodeDepth(node) {
        var result = -1;
        while (node) {
          node = node.parent;
          result++;
        }
        return result;
      }

      function checkLinks(link) {
        return function (elem) {
          if (link === elem.id) {
            return true;
          }
          return elem.children ? elem.children.some(checkLinks(link)) : false
        }
      }

      Handlebars.registerHelper('optionSelected', function(a, b) {
        return a === b.id ? 'selected' : '';
      });

      Handlebars.registerHelper('ifLinkType', function(link, links, type, block) {
        var SITE_LINK_TYPE=0
        var CUSTOM_LINK_TYPE=1
        var knownLink = links.some(checkLinks(link))
        if (type === (knownLink ? SITE_LINK_TYPE : CUSTOM_LINK_TYPE)) {
          return block.fn(this);
        }
      });


      function buildMenuNode(node, $li) {
        var depth = getNodeDepth(node)
        var source   = $("#row-template").html();
        var template = Handlebars.compile(source);

        var $row = $('<div class="jqtree-element jqtree_common" role="presentation">' + template({
          indent: depth * 15,
          node: node,
          availableLinks: availableLinks
        }) + '</div>')

        $('.js-sitelink-click', $row).on('click', function(e) {
          $(this).closest('div').find('span[class="caption"]').html($(this).html())
          $('.sitelink-links-select', $row).show()
          $('.externallink-links-select', $row).hide()

        })
        $('.js-custom-click, .js-externallink-click', $row).on('click', function(e) {
          $(this).closest('div').find('span[class="caption"]').html($(this).html())
          $('.sitelink-links-select', $row).hide()
          $('.externallink-links-select', $row).show()
        })

        $('.js-remove-node', $row).on('click', function() {
          var $modal = $('.js-delete-confirm')

          $modal.on("shown.bs.modal", function() {
            $("button.btn-default", $modal).on('click', function(e) {
              $tree.tree('removeNode', node)
              $modal.modal('hide');
            });
          });

          $modal.on("hide.bs.modal", function() {
            $("button.btn-default", $modal).off('click');
          });

          $modal.modal({keyboard:true, show: true});
        })

        $('.chosen-select', $row).chosen({width: '100%'});
        $('.jqtree-element.jqtree_common', $li).replaceWith($row)
      }

      $(function() {
        var data = !{menu};

        $tree.tree({
            data: data,
            autoOpen: true,
            dragAndDrop: true,
            buttonLeft: true,
            onCreateLi: buildMenuNode
        })
        .bind('tree.close',
          function(e) {
            $tree.tree('openNode', e.node);
          }
        )
        .bind('tree.move',
        function(event) {
          var targetDepth = getNodeDepth(event.move_info.target_node);
          if (targetDepth >= MAX_DEPTH) {
            if (event.move_info.position !== 'inside') {
              return
            }
            event.preventDefault();
          }
          if (event.move_info.position !== 'inside') {
            return
          }
          if (event.move_info.moved_node.children.length > 0) {
            event.preventDefault();
          }
        })
      });
    }));
