<section class="contact pinstripe">
  <div class="row">
    <div class="span4 left">
      <div about="0" typeof="{&quot;type&quot;:&quot;MODULE&quot;, &quot;secondary_type&quot;: &quot;CONTACT&quot;, &quot;type_id&quot;: 9938, &quot;fieldname&quot;: &quot;location&quot;}">
        <div property="fieldtext" class="contact-header">Location</div>
      </div>
      <address><span property="name">{{practice.name}}</span><br><span property="streetAddress">{{practice.address}}</span><br><span property="addressLocality">{{practice.city}}, {{practice.state}} {{practice.zip}}</span><br>Phone: <span property="telephone" class="mm-phone-number phoneupdated">{{practice.phone}}</span><br><span about="0" typeof="{&quot;type&quot;:&quot;MODULE&quot;, &quot;secondary_type&quot;: &quot;CONTACT&quot;, &quot;type_id&quot;: 9938, &quot;fieldname&quot;: &quot;fax&quot;}"><span property="fieldtext">Fax: </span></span><span property="fax">{{practice.fax}}</span></address>
    </div>
    <div class="span4 middle">
      <div about="0" typeof="{&quot;type&quot;:&quot;MODULE&quot;, &quot;secondary_type&quot;: &quot;CONTACT&quot;, &quot;type_id&quot;: 9938, &quot;fieldname&quot;: &quot;office-hours&quot;}">
        <div property="fieldtext" class="contact-header">Office Hours</div>
      </div>
      <p>
        <label>Monday<span>{{practice.hours.mon}}</span></label>
        <label>Tuesday<span>{{practice.hours.tue}}</span></label>
        <label>Wednesday<span>{{practice.hours.wed}}</span></label>
        <label>Thursday<span>{{practice.hours.thu}}</span></label>
        <label>Friday<span>{{practice.hours.fri}}</span></label>
        <label>Saturday<span>{{practice.hours.sat}}</span></label>
        <label>Sunday<span>{{practice.hours.sun}}</span></label>
      </p>
    </div>
    <div class="span4 right">
      <div about="0" typeof="{&quot;type&quot;:&quot;MODULE&quot;, &quot;secondary_type&quot;: &quot;CONTACT&quot;, &quot;type_id&quot;: 9938, &quot;fieldname&quot;: &quot;get-in-touch&quot;}">
        <div property="fieldtext" class="contact-header">Get in touch</div>
      </div>
      <p><a href="mailto:{{practice.email}}">{{practice.email}}</a><br><a href="tel:{{practice.phone}}" class="btn-call"><i class="fa fa-phone"></i><span class="mm-phone-number phoneupdated">{{practice.phone}}</span></a><br>
        <button type="button" data-locationid="9938" class="btn-book-online ppop_bookonline_action small">Book Online</button>
      </p>
    </div>
  </div>
</section>
