<section style="background-color: rgb(245, 249, 249);" class="testimonials pinstripe">
  <div class="row">
    <div class="span12">
      <div about="0" typeof="{&quot;type&quot;:&quot;MODULE&quot;, &quot;secondary_type&quot;: &quot;TESTIMONIAL&quot;, &quot;type_id&quot;: null, &quot;fieldname&quot;: &quot;title&quot;}">
        <h5 property="fieldtext">Testimonials</h5>
      </div>
      <div about="0" typeof="{&quot;type&quot;:&quot;MODULE&quot;, &quot;secondary_type&quot;: &quot;TESTIMONIAL&quot;, &quot;type_id&quot;: null, &quot;fieldname&quot;: &quot;words-from-our-patients&quot;}">
        <h4 property="fieldtext">Words from our patients</h4>
      </div>
      <div id="testimonial-slider" class="flexslider">
        <div style="overflow: hidden; position: relative;" class="flex-viewport">
          <ul style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-2310px, 0px, 0px);" class="slides">
            {{#each reviews}}
              <li style="width: 770px; float: left; display: block;">
                <div class="slider-content"><img src="/assets/img/{{site}}.jpg" width="134" height="124" alt="{{site}}" draggable="false"/>
                  <p>"{{reviewLong}}"</p>
                  <h5>{{user}}</h5>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        <ul class="flex-direction-nav">
          <li><a href="#" class="flex-prev"><i class="fa fa-angle-left fa-2x"></i></a></li>
          <li><a href="#" class="flex-next"><i class="fa fa-angle-right fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
