<section class="slider pinstripe">
  <div class="row">
    <div id="rating-slider" class="flexslider">
      <div style="overflow: hidden; position: relative;" class="flex-viewport">
        <ul style="width: 2200%; transition-duration: 0.6s; transform: translate3d(-2580px, 0px, 0px);" class="slides">
          <li aria-hidden="true" style="width: 860px; float: left; display: block;" class="clone">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="https://plus.google.com/100347913264138365402/about" target="_blank">
                    <p>"Words can't describe how amazing my experience was at Beverly Oaks surgery."</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Verified User <strong>Google+</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.yelp.com/biz/david-e-rogers-md-glendale" target="_blank">
                    <p>"Dr Rogers is the best surgeon I have ever been to."</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Mary M. <strong>Yelp</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.vitals.com/doctors/Dr_David_E_Rogers/reviews" target="_blank">
                    <p>"He goes that extra mile for you. He is one of a kind."</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Anonymous <strong>Vitals</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;" class="flex-active-slide">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.yelp.com/biz/david-e-rogers-md-glendale" target="_blank">
                    <p>"Dr. Rogers is a true gift to the medical community."</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Kathryn S.  <strong>Yelp</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.yelp.com/biz/david-e-rogers-md-glendale" target="_blank">
                    <p>"Dr. Rogers is a God sent angel!"</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Nicole S.  <strong>Yelp</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.yelp.com/biz/david-e-rogers-md-glendale" target="_blank">
                    <p>"He is a miracle worker and we were blessed to come across such an MD"</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Natalya C.  <strong>Yelp</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.yelp.com/biz/beverly-oaks-surgery-sherman-oaks?hrid=hwdCJSXgCxtUhkGIIMpE3Q&amp;utm_campaign=www_review_share_popup&amp;utm_medium=copy_link&amp;utm_source=(direct)" target="_blank">
                    <p>"Everyone was so pleasant to deal with from the free consultation to the after care."</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Virginia A. <strong>Yelp</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.yelp.com/biz/beverly-oaks-surgery-sherman-oaks?hrid=Kri9xeV2e10hfeV-TRhPig&amp;utm_campaign=www_review_share_popup&amp;utm_medium=copy_link&amp;utm_source=(direct)" target="_blank">
                    <p>"Basically I would and do recommend Beverly Oaks surgical to all of my friends and family"</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>A.P. <strong>Yelp</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.yelp.com/biz/beverly-oaks-surgery-sherman-oaks?hrid=smpADJ76hzcFFTTi_DQ6BQ&amp;utm_campaign=www_review_share_popup&amp;utm_medium=copy_link&amp;utm_source=(direct)" target="_blank">
                    <p>"Anyone that needs to have surgery and improve their lifestyle need to come here."</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Al. B <strong>Yelp</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li style="width: 860px; float: left; display: block;">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="https://plus.google.com/100347913264138365402/about" target="_blank">
                    <p>"Words can't describe how amazing my experience was at Beverly Oaks surgery."</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Verified User <strong>Google+</strong></p>
                </li>
              </ol>
            </div>
          </li>
          <li aria-hidden="true" style="width: 860px; float: left; display: block;" class="clone">
            <div class="slide-content">
              <ol>
                <li class="comment"><a href="http://www.yelp.com/biz/david-e-rogers-md-glendale" target="_blank">
                    <p>"Dr Rogers is the best surgeon I have ever been to."</p></a></li>
                <li class="rating">
                  <div style="width:120px;" class="rating-block">
                    <div class="rating-inner"><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                  </div>
                  <p>Mary M. <strong>Yelp</strong></p>
                </li>
              </ol>
            </div>
          </li>
        </ul>
      </div>
      <ul class="flex-direction-nav">
        <li><a href="#" class="flex-prev"><i class="fa fa-angle-left fa-2x"></i></a></li>
        <li><a href="#" class="flex-next"><i class="fa fa-angle-right fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</section>
