// Sidebar Scroll Container
#sidebar-scroll
  // Sidebar Content
  // Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode
  .sidebar-content
    // Side Header
    .side-header.side-content.bg-white-op
      button.btn.btn-link.text-gray.pull-right.hidden-md.hidden-lg(type='button')
        i.fa.fa-timesa
      a.h5.text-white(href='/app/dashboard')
        img(src='/app/oneui/assets/img/mdocs-logo-horizontal-white-type.png', style='height:40px;float:left;')
    // END Side Header
    // Side Content
    .side-content
      ul.nav-main
        li
          a(href='/app/welcome')
            i.si.si-rocket
            span.sidebar-mini-hide Welcome
        li
          a(href='/app/dashboard')
            i.si.si-speedometer
            span.sidebar-mini-hide Dashboard
        li.nav-main-heading
          span.sidebar-mini-hide Patient Reviews
        li
          a(href='/app/dashboard')
            i.si.si-speedometer
            span.sidebar-mini-hide Overview
        li
          a(href='/app/pr/phi/patient-reviews')
            i.si.si-star
            span.sidebar-mini-hide Patient Reviews
        li.nav-main-heading
          span.sidebar-mini-hide Settings
        li
          a(href='/app/pr/providers')
            i.si.si-user
            span.sidebar-mini-hide Profiles
        li
          a(href='/app/profile')
            i.si.si-pin
            span.sidebar-mini-hide Account
        li
          a
            i.fa.fa-code
            span.sidebar-mini-hide Website Widget
        li.nav-main-heading
          span.sidebar-mini-hide Help
        li
          a(href='/app/help')
            i.si.si-question
            span.sidebar-mini-hide Help
        li
          a(href='/app/privacy')
            i.si.si-question
            span.sidebar-mini-hide Privacy
        li
          a(href='/app/agreement')
            i.si.si-question
            span.sidebar-mini-hide Agreement
        li
          a(href='/app/terms')
            i.si.si-question
            span.sidebar-mini-hide Terms of Use
    // END Side Content
  // Sidebar Content
// END Sidebar Scroll Container
