// Sidebar Scroll Container
#sidebar-scroll
  // Sidebar Content
  // Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode
  .sidebar-content
    // Side Header
    .side-header.side-content.bg-white-op
      button.btn.btn-link.text-gray.pull-right.hidden-md.hidden-lg(type='button', data-ng-click='oneui.settings.sidebarOpenXs = false', data-js-blur='')
        i.fa.fa-timesa
      a.h5.text-white(data-ui-sref='dashboard', data-js-blur='')
        img(src='/app/oneui/assets/img/mdocs-logo-horizontal-white-type.png', style='height:40px;float:left;')
    // END Side Header
    // Side Content
    .side-content
      // Main navigation functionality (data-js-main-nav attribute is initialized in js/directives.js)
      ul.nav-main(data-js-main-nav='')
        li
          a(data-ui-sref='welcome', data-ui-sref-active='active')
            i.si.si-rocket
            span.sidebar-mini-hide Welcome
        li
          a(data-ui-sref='dashboard', data-ui-sref-active='active')
            i.si.si-speedometer
            span.sidebar-mini-hide Dashboard
        li.nav-main-heading
          span.sidebar-mini-hide Patient Reviews
        li
          a(data-ui-sref='blocks', data-ui-sref-active='active')
            i.si.si-speedometer
            span.sidebar-mini-hide Overview
        li
          a(data-ui-sref='blocks', data-ui-sref-active='active')
            i.si.si-star
            span.sidebar-mini-hide Patient Reviews
        li.nav-main-heading
          span.sidebar-mini-hide Settings
        li
          a(data-ui-sref='providersLocations', data-ui-sref-active='active', href='/app/pr/providers')
            i.si.si-user
            span.sidebar-mini-hide Profiles
        li
          a(data-ui-sref='myProfile', data-ui-sref-active='active', href='/app/profile')
            i.si.si-pin
            span.sidebar-mini-hide Account
        li
          a(data-ui-sref='widget', data-ui-sref-active='active')
            i.fa.fa-code
            span.sidebar-mini-hide Website Widget
        li.nav-main-heading
          span.sidebar-mini-hide Help
        li
          a(data-ui-sref='help', data-ui-sref-active='active')
            i.si.si-question
            span.sidebar-mini-hide Help
        li
          a(data-ui-sref='help', data-ui-sref-active='active')
            i.si.si-question
            span.sidebar-mini-hide Privacy
        li
          a(data-ui-sref='help', data-ui-sref-active='active')
            i.si.si-question
            span.sidebar-mini-hide Agreement
        li
          a(data-ui-sref='help', data-ui-sref-active='active')
            i.si.si-question
            span.sidebar-mini-hide Terms of Use
    // END Side Content
  // Sidebar Content
// END Sidebar Scroll Container
