extends ../layouts/layout.pug

block head
  title #{application} &middot; Welcome!

block styles
  link(rel='stylesheet', href='/app/lib/animate.css/animate.css')

block content
  .container
    center
      h1 Reputation Dashboard
    hr
    br
    br
    .row
      .col-md-6
        style
          .ig-items
            padding 0
        span.center-block.img-responsive.animated.bounceInLeft
          script(id="infogram_0_acf4030e-42df-4ae4-817b-afb41955ecaf" title="Reputation index" src="//e.infogr.am/js/embed.js?3Gz" type="text/javascript")
      .col-md-6
        span.center-block.img-responsive.animated.bounceInLeft
          script(id="infogram_0_2d27a096-6b7a-4f9e-91bd-944a07e283c0" title="Ratings distribution" src="//e.infogr.am/js/embed.js?AH8" type="text/javascript")
    .rom
      .col-md-12
        br
    .row
      .col-md-12
        span.center-block.img-responsive.animated.bounceInLeft
          script(id="infogram_0_03db671c-518e-4a2a-92e8-b3d1a24b9f53" title="Ratings distribution" src="//e.infogr.am/js/embed.js?C9k" type="text/javascript")

    

//- Page-specific stuff
block scripts
  //- Async load odometer styles
  script.
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = 'lib/odometer/themes/odometer-theme-minimal.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);

  //- Tweak the styles a bit...
  style.
    .github-count {
      margin-top:20px;
      font-size: 20px;
      text-align: center;
    }
    .odometer-label {
      margin-right: 10px;
      line-height: 1;
      vertical-align: middle;
    }
    .odometer {
      padding: 13px 21px 11px;
      margin: auto;
      line-height: 1 !important;
      border-radius: 6px;
    }
    .odometer-label a {
      text-decoration: none;
    }
    .odometer-label a:hover {
      color: #B10DC9;
    }

  script.
    $(document).ready(function() {
      //- $('body').addClass('bg-brand1');

      //- Get Mailcheck Script
      $.ajax({
        type: 'GET',
        url: 'lib/odometer/odometer.min.js',
        dataType: 'script',
        cache: true
      }).done(function() {
          $(function(){
            var starsOdometer = new Odometer({ el: $('.odometer')[0], theme: 'minimal', value: '0' });
            starsOdometer.render()

            var update = function() {
              $.ajax('https://api.github.com/repos/dstroot/skeleton?access_token=1003ff07ff454596250e0bfa6940027a77a94866', {
                cache: true,
                success: function(data) {
                  if (data.stargazers_count) {
                    starsOdometer.update(data.stargazers_count);
                  }
                },
                complete: function(xhr) {
                  // Turn off rate limiting since we are using a token
                  //remaining = xhr.getResponseHeader('X-RateLimit-Remaining');
                  //setTimeout(update, 1000 * (4 + Math.pow(1.1, (60 - remaining))));
                  setTimeout(update, 10000);
                },
                error: function(err) {
                  console.log(err);
                }
              });
            };

            setTimeout(update, 1000);
          });
      });
    });
