doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body.PARALLAX
    include ../partials/navbar.pug
    != contents
    include ../partials/reviewsBigFlexSlider.pug
    include ../partials/contact.pug
    //- include ../partials/map.pug
    include ../partials/footer.pug
