section#competitiveAnalysis.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Competitive Analysis
  .padding-all.bg-grey
    ul.list-check.list-unstyled
      li
        span.glyphicon.glyphicon-ok
        |               We’ll work to increase your visibility online so you can begin to capture market share from your competitors and grow your brand. We do this in a number of highly effective ways, which are detailed in this proposal.
      li
        span.glyphicon.glyphicon-ok
        |  We’ll take full advantage of your increased visibility by continually optimizing your listings and ads so they have a high clickability, motivating people to click on you more than your competitors.
      li
        span.glyphicon.glyphicon-ok
        |  We’ll maximize your increased visibility and clickability by perpetually optimizing your website and landing pages for the highest possible conversion rate. Meaning, converting more of your visitors into revenue.
      li
        span.glyphicon.glyphicon-ok
        |  By maximizing your visibility, clickability and convertibility online, we’re able to drive you a better return on investment over time and create a strong long-term, scalable marketing solution for your brand.
      li
        span.glyphicon.glyphicon-ok
        |  Today, more than ever, your digital presence online is key to your brand’s success. We want to partner with you to grow your brand online and gain market share over your competitors. Our full-service solution means we’ll do everything for you so you can focus on running your business while we focus on driving you business.
      li
        span.glyphicon.glyphicon-ok
        |  Leveraging our powerful Patient Reviews by MDOCS platform will help you truly see and measure all your marketing data in one place, which allows you to funnel more of your marketing dollars into what’s working and less of your dollars into what’s not. This saves you time and allows you to get more revenue from your marketing investment over time.
  .padding-all
    h4
      strong Excited to partner with you!
    div
      | First off, thanks for considering us. I’ve enjoyed speaking with you and I definitely think we’ll be great partners for you and your brand. We’d really like an opportunity to earn your business and help grow your brand online so hopefully this proposal provides you the information you’re looking for to facilitate that. If you have any questions just give me a call or shoot me an email. Thank you!
