section#softwareServiceHybrid.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Software as a Service (SaaS)
  .padding-all.bg-grey
    p.text-center.bottom20
      | To deliver the best possible value to our customers, Patient Reviews by MDOCS employs a Software as a Service model, which means no software to install, no upfront costs, no maintenace and no upgrade costs. Watch the following short video from IBM, a leader in SaaS solutions, to learn more about how SaaS can help benefit your bottom line and make you more competitive.
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/R9uSm7CB050', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
  .section-padding.hidden-xs
    p.text-center
      img.hidden-print(src='images/circles-2.jpg', alt='')
