.standardcontainer.commitments
  .maincontent
    div
      h3 We promise:
      ul
        li We'll keep your teeth healthy and beautiful for life. 
        li
          | We'll take time with you, and discuss your dental needs
          br
          | and treatment options to your satisfaction.
        li Your dental visits will be comfortable and gentle.
        li We'll help you create a gorgeous smile.
    img(src='/assets/images/nova-homepage-we-promise.jpg', alt='We Promise', style='margin-left: 0; float: left;')
    #magazine
      h3 Our Magazine
      p
        | For insight into Dr. Hawa and Northern Virginia Dental Arts, 
        a(href='/assets/files/hawa-mag-gilleard-web.pdf', target='_blank') download
        |  our magazine today.
      img#magazine-arrow(src='/assets/images/magazine-arrow.jpg', alt='Magazine')