.standardcontainer.footer
        .maincontent
          .col-4.span_1_of_4
            h4 Quick links
            ul
              li
                a(href='/content/our-doctor') Dr. Hawa
              li
                a(href='/content/our-team') The Team
              li
                a(href='/content/dental-services') Dental Services
              li
                a(href='/content/invisalign') Invisalign
              li
                a(href='/content/invisalign-teen') Invisalign Teen
              li
                a(href='/content/gorgeous-smile') Gorgeous Smile
              li
                a(href='/content/overall-health') Overall Health
              li
                a(href='/content/testimonials') Testimonials
              li
                a(href='/content/videos') Videos
              li
                a(href='/content/contact-and-location') Contact
              li
                a(href='/content/dental-emergencies') Dental Emergencies
              li
                a(href='/content/financial-options') Financial Options
              li
                a(href='/content/new-patient-forms') New Patient Forms
          .col-4.span_1_of_4
            h4 Emergencies
            p Emergencies welcome and usually seen the same day.
            p
              | Please call our main line:
              br
              |           703-444-5108
          .col-4.span_1_of_4
            h4 Hours
            p
              | We are open Monday to Saturday, including evenings for your convenience. Please contact us today to schedule an appointment.
          .col-4.span_1_of_4
            h4 Get in Touch
            p
              strong Location
              br
              |           46175 Westlake Drive, Suite 130
              br
              |           Sterling, VA 20165
            p
              strong Telephone
              br
              |           703-444-5108
            p#copyright © 2015 Northern Virginia Dental Arts