meta(charset='utf-8')
// Always force latest IE rendering engine (even in intranet) & Chrome Frame
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
// InstanceBeginEditable name="doctitle"
title= practice.name
// InstanceEndEditable
meta(name='description', content="If you're looking for a gentle but highly-skilled dentist in Northern Virginia, Dr. Hawa and his staff at Northern Virginia Dental Arts are the answer. Call us today!")
meta(http-equiv='cleartype', content='on')
link(rel='shortcut icon', href='/favicon.ico')
// Responsive and mobile friendly stuff
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
// Stylesheets
link(rel='stylesheet', href='/assets/css/html5reset.css', media='all')
link(rel='stylesheet', href='/assets/css/responsivegridsystem.css', media='all')
link(rel='stylesheet', href='/assets/css/col.css', media='all')
link(rel='stylesheet', href='/assets/css/2cols.css', media='all')
link(rel='stylesheet', href='/assets/css/3cols.css', media='all')
link(rel='stylesheet', href='/assets/css/4cols.css', media='all')
link(rel='stylesheet', href='/assets/css/7cols.css', media='all')
link(rel='stylesheet', href='/assets/css/drop-down-menu.css')
link(rel='stylesheet', href='/assets/css/jquery.bxslider.css')
// Responsive Stylesheets
link(rel='stylesheet', media='only screen and (max-width: 1024px) and (min-width: 769px)', href='/assets/css/1024.css')
link(rel='stylesheet', media='only screen and (max-width: 768px) and (min-width: 481px)', href='/assets/css/768.css')
link(rel='stylesheet', media='only screen and (max-width: 640px)', href='/assets/css/640.css')
link(rel='stylesheet', media='only screen and (max-width: 480px)', href='/assets/css/480.css')
link(rel='stylesheet', media='only screen and (max-width: 360px)', href='/assets/css/360.css')
// All JavaScript at the bottom, except for Modernizr which enables HTML5 elements and feature detects
script(src='/assets/js/modernizr-2.5.3-min.js')
// InstanceBeginEditable name="head"
link(rel='stylesheet', media='only screen and (max-width: 3000px) and (min-width: 1920px)', href='/assets/css/1920.css')
// InstanceEndEditable
// InstanceParam name="videos" type="text" value="off"
// InstanceParam name="mDoctor" type="text" value="off"
// InstanceParam name="mTeam" type="text" value="off"
// InstanceParam name="mDentalServices" type="text" value="off"
// InstanceParam name="mGentleCare" type="text" value="off"
// InstanceParam name="mSmile" type="text" value="off"
// InstanceParam name="invisalign" type="text" value="off"
// InstanceParam name="invisTeen" type="text" value="off"
// InstanceParam name="overallHealth" type="text" value="off"
// InstanceParam name="mTestimonials" type="text" value="off"
// InstanceParam name="mContact" type="text" value="off"
// InstanceParam name="mEmergency" type="text" value="off"
style.
  .pkt_added {text-decoration:none !important;}
script.
  window.MDOCS_ACCOUNT_ID='!{practice.mdocsAccount}'

title= title
