.sidebar-header
	h2 Make appointment
	p
		| For an appointment, oral cancer screening or FREE smile consultation, 
		a(href='/appointment.html') click here today
		| .
	p We look forward to welcoming you to our office!