.standardcontainer
  #menu.maincontent
    .drop-down-container
      a.toggleMenu(href='#', style='display: none;') Menu
      ul.nav
        li
          a.off(href='/ourdoctor') Dr. Hawa
        li
          a.off(href='/ourteam') The Team
        li
          a.off.parent(href='/dentalservices/') Dental Services
          ul
            li.no-top-border.left
              a(href='/cosmetic-aesthetic-dentistry') Cosmetic and Aesthetic Dentistry
            li.no-top-border
              a(href='/veneers-crowns-bridges') Veneers, Crowns & Bridges
            li.left
              a(href='/implant-dentistry') Implant Dentistry
            li
              a(href='/periodontal-therapy') Periodontal Therapy
            li.left
              a(href='/dental-hygiene') Dental Hygiene
            li
              a(href='/dental-emergencies') Dental Emergencies
            li.left
              a(href='/root-canal-treatment') Root Canal Treatment
            li
              a(href='/fillings-and-restorative-prodcedures') Fillings and Restorative Procedures
            li.left
              a(href='/night-guards') Night Guards and Sports Guards
            li
              a(href='/teeth-whitening') Teeth Whitening
            li.left
              a(href='/advanced-technology') Advanced Technology
            li.last  
        li
          a.off(href='/invisalign') Invisalign
        li
          a.off(href='/invisalign-teen') Invisalign Teen
        li
          a.off(href='/gorgeous-smile') Gorgeous Smile
        li
          a.off(href='/overall-health') Overall Health
        li
          a.off(href='/testimonials') Testimonials
        li
          a.off(href='/videos') Videos
        li
          a.off(href='/contact-and-location') Contact
        li
          a.ec(href='/dental-emergencies') Emergencies