#portrait-and-intro
  img(src='/assets/images/dr-portrait.jpg', alt='Dr Portrait')
  h2 NADER HAWA, D.M.D.
  p.why
    | Why are we here?
    br
    | To improve 
    u
      i your
    |  very quality of life!
  p
    | “Hello, I’m Dr. Nader Hawa. My purpose is to improve people’s very quality of life. I work with my expert, friendly team of professionals to keep your teeth healthy and strong for your entire life. We also create gorgeous smiles. We use the miracles of modern dentistry to give you whiter and straighter teeth, or even a Hollywood smile if that is what you want.”
  p.read-more
    a(href='/our-doctor.html') Read More
iframe.home-video(src='https://player.vimeo.com/video/167568794?title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')