.standardcontainer.quote
  .maincontent.centre
    img(src='/assets/images/quote-open.png', alt='Quote')
    p
      | Entire staff was on point. Highly engaging and friendly. Staff works well together - great synergy. High level of genuine interest in the patient. Didn't feel like I was being processed. I think our society has lost a great deal of the personal attention from our healthcare professionals. I will certainly recommend this dental practice to my work associates and friends.
    div(style='margin: auto 0;')
      p.from — Happy Customer: TF —
    img(src='/assets/images/quote-close.png', alt='Quote')

