.standardcontainer.quote
	.maincontent.centre
	img(src='/assets/images/quote-open.png', alt='Quote')
	p
		| Been going for almost 10 years. Always a very professional and friendly atmosphere. Great doctors and dental hygienists and front office staff.
	div(style='margin: auto 0;')
		p.from — Happy Customer: JC —
	img(src='/assets/images/quote-close.png', alt='Quote')

