.standardcontainer.quote
	.maincontent.centre
	img(src='/assets/images/quote-open.png', alt='Quote')
	p
		| It was nice to meet Dr. Hawa. He is very friendly and well liked by the staff. The dental hygienists are also always friendly and careful in their care. 
		| Thank you to Pat and Teri!
	div(style='margin: auto 0;')
		p.from — Happy Customer: JA —
	img(src='/assets/images/quote-close.png', alt='Quote')

