.standardcontainer.quote
	.maincontent.centre
	img(src='/assets/images/quote-open.png', alt='Quote')
	p
		| I thoroughly enjoyed meeting and talking with Dr. Hawa. I enjoyed listening to his experiences with new technology and hearing his genuine concern for the patient. I couldn't be happier to have Dr. Hawa as my new dentist! Thank you for spending your time with me. Everything was perfect!
	div(style='margin: auto 0;')
		p.from — Happy Customer: TB —
	img(src='/assets/images/quote-close.png', alt='Quote')

