.standardcontainer.quote
	.maincontent.centre
		img(src='/assets/images/quote-open.png', alt='Quote')
		p
			| Your entire staff is, and always has been, professional, personable, accommodating, and otherwise wonderful. What a great group you are.
		div(style='margin: auto 0;')
			p.from — Happy Customer: JM —
		img(src='/assets/images/quote-close.png', alt='Quote')