#top-bar
    .maincontent
      a(href=practice.social.facebook, target='_blank')
        img(src='/assets/images/icon-facebook.gif', alt='Facebook')
      p
        a(href='/') Home
        a(href='/contact-and-location.html') Contact & Location
        a(href='/financial-options.html') Financial Options
        a(href='/new-patient-forms.html') New Patient Forms