section#contact.pos-rel.pd-tb-small(data-rgen-sm='pd-tb-small align-c')
  .container
    .flex-row.mr-b-40.mb20
      .flex-col-md-3
        .content
          h2.title.mr-b-30(data-rgen-sm='medium') Contact information
          h3.title.mini.bold-n.mr-b-0 PracticeWin
          p.mr-b-40
            | 21165 Whitfield Pl.
            br
            | Ste#206
            br
            | Sterling, VA 20165
          h3.title.mini.bold-n.mr-b-0 Phone
          p.mr-b-40
            | 571-317-1734
            br
            | 800-880-1551
      .flex-col-md-8.flex-col-md-offset-1.last-md
        h2.title.mr-b-30 Drop us a line
        #contact-form.form-block
          form.js-bookonline-form(action, method='post', data-callback='form_submit', data-callback-beforesubmit="form_before_submit")
            input(name="systype" type="hidden" value="message")
            input(name="profileId" type="hidden" value=practice.mdocsProfile)
            .field-wrp
              .flex-row.gt20.mb10
                .flex-col-md-6
                  .form-group
                    input#fullname.form-control.bdr-op-2(data-label='Name', required, data-msg='Please enter name.', type='text', name='fullname', placeholder='Enter your name')
                .flex-col-md-6
                  .form-group
                    input#email.form-control.bdr-op-2(data-label='Email', required, data-msg='Please enter email.', type='email', name='email', placeholder='Enter your email')
              .flex-row.gt20.mb10
                .flex-col-md-6
                  .form-group
                    input#phone.form-control.bdr-op-2(required, data-label='Phone', data-msg='Please phone number.', type='text', name='phone', placeholder='Enter your phone number')
                .flex-col-md-6
                  .form-group
                    input#subject.form-control.bdr-op-2(data-label='Subject', required, data-msg='Please enter subject.', type='text', name='comment', placeholder='Enter subject')
              .form-group
                textarea#description.form-control.bdr-op-2(data-label='Message', required, data-msg='Please enter your message.', name='description', placeholder='Add your message', cols='30', rows='10')
            button.btn.btn-default.block.js-bookonline-submit(type='button')
              i.fa.fa-envelope-o
              input.js-bookonline-submit(type='submit', value='Submit', style='border:0px; background:transparent;')

  script.
    $(document).ready(function() {
      $('.js-bookonline-form').validate();
    });

    function form_before_submit() {
        $('input.js-bookonline-submit').attr('value','Sending...');
        $('input.js-bookonline-submit').attr('disabled',true);
    }

  script(type='text/javascript', src='/assets/widgets/bookonline/index.js', data-profileid=practice.mdocsAccount)

