section#features.pos-rel.pd-tb-large(data-rgen-sm='pd-tb-small')
  .container.pos-rel.z1
    .w75.mr-auto.align-c
      h2.title Compare Us
      p.title-sub
        | We believe PracticeWin is the best marketing automation suite for medical and dental practices. Compare us to the competition and you'll see why. The chart below will help guide you through your comparison.
    table.price-table.price-table-2.w100
      thead
        tr
          th.feature-hd Features
          th.free.bg-gray1.txt-dark1
            .hd
              small Competitor
          th.pro1.bg-color3.txt-white
            .hd
              small PRACTICEWIN
      tbody
        tr
          td.td-feature
            .info-obj.img-l.g20.mini.align-l.mr-tb-10
              .img
                span.iconwrp.txt-color3
                  i.pe-7s-global
              .info
                h2.fs18.mr-0 Award-Winning Website
                p
                  | Brand-new responsive website that reflects the quality of your service and your brand
          td.td-free
            b.plan-lbl Competitor
            h6 No
            p Extra Fees
          td.td-pro1
            b.plan-lbl PracticeWin
            h6 Yes
            p Standard Feature
        tr
          td.td-feature
            .info-obj.img-l.g20.mini.align-l.mr-tb-10
              .img
                span.iconwrp.txt-color3
                  i.pe-7s-stopwatch
              .info
                h2.fs18.mr-0 Online Appointments
                p Book new patients through a modern online appointment scheduling widget
          td.td-free
            b.plan-lbl Competitor
            h6 Limited
            p Extra Fees
          td.td-pro1
            b.plan-lbl PracticeWin
            h6 Yes
            p Standard Feature
        tr
          td.td-feature
            .info-obj.img-l.g20.mini.align-l.mr-tb-10
              .img
                span.iconwrp.txt-color3
                  i.pe-7s-like2
              .info
                h2.fs18.mr-0 Patient Reviews
                p Generate hundreds of positive reivews on Yelp, Google, Facebook and others
          td.td-free
            b.plan-lbl Competitor
            h6 No
            p Extra Fees
          td.td-pro1
            b.plan-lbl PracticeWin
            h6 Yes
            p Standard Feature
        tr
          td.td-feature
            .info-obj.img-l.g20.mini.align-l.mr-tb-10
              .img
                span.iconwrp.txt-color3
                  i.pe-7s-share
              .info
                h2.fs18.mr-0 Social Media Marketing
                p
                  | Connect with existing patients, attract new patients through integrated social media campaigns
          td.td-free
            b.plan-lbl Competitor
            h6 Limited
            p Extra Fees
          td.td-pro1
            b.plan-lbl PracticeWin
            h6 Yes
            p Standard Feature
        tr
          td.td-feature
            .info-obj.img-l.g20.mini.align-l.mr-tb-10
              .img
                span.iconwrp.txt-color3
                  i.pe-7s-users
              .info
                h2.fs18.mr-0 Referrals
                p
                  | Use your exisitng client relationships to win new clients. Receive and reward for the best referrals
          td.td-free
            b.plan-lbl Competitor
            h6 No
            p Extra Fees
          td.td-pro1
            b.plan-lbl PracticeWin
            h6 Yes
            p Standard Feature
        tr
          td.td-feature
            .info-obj.img-l.g20.mini.align-l.mr-tb-10
              .img
                span.iconwrp.txt-color3
                  i.pe-7s-mail
              .info
                h2.fs18.mr-0 Email Marketing
                p
                  | One of the most-cost effective ways to increase client loyalty and attract new patients
          td.td-free
            b.plan-lbl Competitor
            h6 No
            p Extra Fees
          td.td-pro1
            b.plan-lbl PracticeWin
            h6 Yes
            p Standard Feature