footer.pos-rel.pd-tb-small.bg-dark1(data-rgen-sm='pd-tb-small')
  .container.typo-light(data-rgen-sm='align-c')
    .flex-row.gt40.mb40
      .flex-col-md-3
        p
          a.inline-block.max-px-w150(href='#')
            img(src='/assets/logo1.png', alt='logo')
        p
          | PracticeWin, Inc.
          br
          | 21165 Whitfield Pl.
          br
          | Sterling, VA 20165
        a.sq30.fs16.mr-r-4.rd-4.inline-flex.flex-cc.btn-white(href='#', target='_blank')
          i.fa.fa-facebook
        a.sq30.fs16.mr-r-4.rd-4.inline-flex.flex-cc.btn-white(href='#', target='_blank')
          i.fa.fa-twitter
        a.sq30.fs16.mr-r-4.rd-4.inline-flex.flex-cc.btn-white(href='#', target='_blank')
          i.fa.fa-google
        a.sq30.fs16.mr-r-4.rd-4.inline-flex.flex-cc.btn-white(href='#', target='_blank')
          i.fa.fa-youtube
        a.sq30.fs16.mr-r-4.rd-4.inline-flex.flex-cc.btn-white(href='#', target='_blank')
          i.fa.fa-tumblr
      .flex-col-md-3
        h2.title.tiny QUICK LINKS
        ul.list-1.op-07
          li
            a.txt-white(href='#') Home
          li
            a.txt-white(href='#product') Product
          li
            a.txt-white(href='#features') Features
          li
            a.txt-white(href='#contact') Contact
          li
            a.txt-white(href='https://app.mdocs.co') Client Login
      .flex-col-md-3
        h2.title.tiny RECENT BLOG POSTS
        p.fs12.op-07.mr-b-10.bdr-b.bdr-op-2.light.pd-b-10
          em.op-08 Aug 14, 2016
          br
          a(href='#', target='_blank') 10 secrets of attracting new patients
        p.fs12.op-07.mr-b-10.pd-b-10
          em.op-08 Sep 26, 2016
          br
          a(href='#', target='_blank') How to create a winning dental practice
      .flex-col-md-3
        h2.title.tiny NEWSLETTERS
        p.op-07 Subscribe for our monthly newsletter to stay updated
        // form-block
        .form-block
          form(action="//movel.us2.list-manage.com/subscribe/post?u=842c728654c54e18f82908d9e&amp;id=d041c8318c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
            .flex-row.gt10
              .flex-col-md-9
                .form-group
                  input.form-control.bdr-white.light.w100(data-label='Email', data-msg='Please enter email.', type='email', name='EMAIL', placeholder='Enter your email')
                input#mce-FULLNAME.form-control.bdr-color3.bdr-2.rd-4.bdr-op-5.w100(required='', data-msg='Please enter name.', type='hidden', value='Bottom Fomr', name='FULLNAME', placeholder='Enter your name')
              .flex-col-md-3
                button.btn.solid.btn-default.light.block.fs26.btn-reset(type='submit', data-loading-text='Pleae wait..', style='height: 44px;')
                  i.fa.fa-envelope-o
    hr.light
    p.mr-0.op-05
      a(href='#', target='_blank') Copyright PracticeWin
      |  ©
      script.
        document.write(new Date().getFullYear());
