#gmapwidget1.gmap-widget.mr-b-60.gmapwidget1(data-map-height='600', data-map-latitude='39.030303', data-map-longitude='-77.396681', data-map-markerhd='PracticeWin', data-map-markerhtml='<div class="pd-10 align-c"><h2 class="fs18 mr-b-10">PracticeWin</h2><p class="fs16 mr-0">21165 Whitfield Pl.,<br>Sterling, VA 20165</p></div>', style='opacity: 1; height: 600px; position: relative; overflow: hidden;')
  div(style='height: 100%; width: 100%; position: absolute; background-color: rgb(229, 227, 223);')
    .gm-err-container
      .gm-err-content
        .gm-err-icon
          img(src='https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png', draggable='false', style='-webkit-user-select: none;')
        .gm-err-title Oops! Something went wrong.
        .gm-err-message
          | This page didn't load Google Maps correctly. See the JavaScript console for technical details.

