section.pos-rel.pd-tb-medium.bg-dark1(data-rgen-sm='pd-tb-small align-c')
  .container.pos-rel.z1.typo-light
    .flex-row.gt20.mb20.middle-md.mr-b-70
      .flex-col-md-4
        img(src='/assets/images/process-img.svg', alt='Process')
      .flex-col-md-7.flex-col-md-offset-1
        h2.title HOW IT WORKS
        p.title-sub
          | Here's our prescription for creating a winning practice. Start with a great online experience. Strengthen your local listings. Enhance your patient reviews. Engage patients and win new customers.
        p
          | Our all-in-one marketing solution ensures that patients can find you online, verify that you are professional and legitimate, and easily book appointments. PracticeWin helps patients leave glowing reviews and generate word-of-mouth referrals online. Finally, our solution helps you engage patients on social media and create engaging campaigns. This is our winning formula for health professionals.
    .flex-row.gt50.mb20
      .flex-col-md-3
        .info-obj.img-t.g30.small.align-l.mr-b-0.align-c(data-rgen-sm='align-c')
          .img.txt-dark2
            span.iconwrp.txt-color3
              i.pe-7s-global
          .info
            h3.title.mini.bold-n.txt-color3 1. CREATE A MODERN NEW WEBSITE
            p
              | Start your digital transformation with a brand-new responsive website from PracticeWin
      .flex-col-md-3
        .info-obj.img-t.g30.small.align-l.mr-b-0.align-c(data-rgen-sm='align-c')
          .img.txt-dark2
            span.iconwrp.txt-color3
              i.pe-7s-portfolio
          .info
            h3.title.mini.bold-n.txt-color3 2. ADD YOUR SITE TO BUSINESS LISTINGS
            p Let our experts add your business listing to 70+ relevant medical directories
      .flex-col-md-3
        .info-obj.img-t.g30.small.align-l.mr-b-0.align-c(data-rgen-sm='align-c')
          .img.txt-dark2
            span.iconwrp.txt-color3
              i.pe-7s-like2
          .info
            h3.title.mini.bold-n.txt-color3 3. RECEIVE GREAT PATIENT REVIEWS
            p
              | Use our fully-automated patient review system to generate 100s of positive reviews
      .flex-col-md-3
        .info-obj.img-t.g30.small.align-l.mr-b-0.align-c(data-rgen-sm='align-c')
          .img.txt-dark2
            span.iconwrp.txt-color3
              i.pe-7s-rocket
          .info
            h3.title.mini.bold-n.txt-color3 4. WATCH YOUR PRACTICE GROW!
            p Sit back and monitor your analytics and reports on how your practice grows!
    .flex-row.gt20.mb20.align-c.middle-md
      .flex-col-md-4
        hr.light
      .flex-col-md-4
        a.btn.btn-color3.bold-n.mr-auto.large.round.set-popup(href='#popup-content') LEARN MORE
      .flex-col-md-4
        hr.light