section.pd-tb-large.pos-rel(data-rgen-sm='pd-tb-small')
  .container.pos-rel.z2.align-c
    .w75.mr-auto.typo-light.mr-b-60
      h1.title.large(data-rgen-sm='large') GROW A WINNING PRACTICE
      p.title-sub.mr-b-40
        | Integrated solution for patient acquisition, reputation management, retention marketing, and business insights.
      a.btn.btn-white.set-popup.large(href='#popup-content')
        span.btn-txt SEE IT IN ACTION
    img.mr-auto(src='/assets/intro-app-img-02.png', alt='intro image')
  b.full-wh.z1.bg-rb.bg-repeat-x(data-rgen-sm='hide', data-bg='/assets/svg/intro-graph.svg', style='background-image: url(/assets/svg/intro-graph.svg);')
  b.full-wh
    #videwidget1.full-wh.vide-widget.videwidget1(data-vide-src='/assets/video/doctors1', style='opacity: 1;')
      div(style='position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; -webkit-background-size: cover; background-size: cover; background-color: transparent; background-image: none; background-position: 50% 50%; background-repeat: no-repeat no-repeat;')
        video(autoplay='', loop='', muted='', style='margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1; width: auto; height: 1268px;')
          source(src='/assets/video/doctors1.mp4', type='video/mp4')
          source(src='/assets/video/doctors1.webm', type='video/webm')
          source(src='/assets/video/doctors1.ogv', type='video/ogg')
      b.full-wh(data-gradient='y', data-g-colors='rgba(0,0,0,0.8)|rgba(0, 184, 255, 0.8)', style='background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 184, 255, 0.8) 100%); background-position: initial initial; background-repeat: initial initial;')
