section.pos-rel.pd-tb-large(data-rgen-sm='pd-tb-small align-c')
  .container.pos-rel.z1
    .align-c.w75.mr-auto.mr-b-70
      h4.f-1.title.mini.bold-2 Growing your practice just got easier
      h2.title(data-rgen-sm='medium') PracticeWin gives you tools to run a winning practice
    .flex-row.gt20.mb20.middle-md
      .flex-col-md-3
        h3.title.small.bold-n Say hello to simple
        p
          | Building and maintaining a winning web presence doesn't have to be difficult. But you need a solid strategy and the tools to execute it.
        p
          | PracticeWin does not require IT knowldedge and demands minimal time from your staff.
        p Thanks to our user-friendly and intuitive design and turn-key setup.
        a.btn.btn-color3.bold-n.solid.set-popup(href='#popup-content') LEARN MORE
      .flex-col-md-9
        img(src='/assets/images/mac-img01.png', alt='image')