section.pos-rel.pd-tb-small(data-rgen-sm='pd-tb-small')
    .container.pos-rel.z1
      .w-75.mr-auto.align-c.mr-b-50
        h2.title.large(data-rgen-sm='medium') PracticeWin is mobile. Just like you.
        p.title-sub(data-rgen-sm='small')
          | Take your practice marketing suite wherever your travels may take you. Our mobile-friendly practice growth platform supports all mobile and desktop devices
      .w75.mr-auto.mr-b-40
        img(src='/assets/images/device-group.png', alt='image')
      .pd-40.pd-b-20.bg-color3.rd-5(data-rgen-sm='align-c')
        .flex-row.gt20.mb20.middle-md
          .flex-col-md-2
            img.max-px-w120(src='/assets/images/icon-img-02.png', data-rgen-sm='mr-auto', alt='app-icon')
          .flex-col-md-5.typo-light
            h2.title.small.mr-b-10 See it in Action
            p.title-sub.mini.mr-0 Talk to our sales representatives to schedule a demo
          .flex-col-md-5.align-r(data-rgen-sm='align-c')
            a.btn.btn-default.bold-n.mr-auto.large.light.round.set-popup(href='#popup-content') SCHEDULE A DEMO