#popup-content.white-popup-block.popup-content.mfp-hide
  .pop-header.align-c.pd-b-0(data-rgen-sm='pd-20')
    p.sq90.inline-flex.flex-cc.fs80.mr-0.txt-color1
      i.pe-7s-mail
    h2.title.mr-0(data-rgen-sm='small') SCHEDULE A DEMO
  .pop-body(data-rgen-sm='pd-20')
    .form-block
      form.form-widget.js-bookonline-form(action='https://axc0hldmja.execute-api.us-east-1.amazonaws.com/prod/mdocsappointment', method='post')
        input(name="form_source" type="hidden" value="PracticeWin Portal Schedule A Demo Form")
        .field-wrp
          .form-group
            input.form-control(data-label='Name', required='', data-msg='Please enter name.', type='text', name='fullname', placeholder='Enter your name')
          .form-group
            input.form-control(data-label='Email', required='', data-msg='Please enter email.', type='email', name='email', placeholder='Enter your email')
          .form-group
            input.form-control(required='', data-label='Phone', data-msg='Please phone number.', type='text', name='phone', placeholder='Enter your phone number')
          .form-group
            textarea.form-control(data-label='Message', data-msg='Please enter your message.', name='description', placeholder='Add your message', cols='30', rows='10')
        button.btn.solid.btn-default.block(type='button')
          i.fa.fa-envelope-o
          input(type='submit', value='Submit', style='border:0px; background:transparent;')
