section#product.pos-rel.pd-tb-medium.bg-color3.pd-t-0(data-rgen-sm='pd-tb-small')
  .container.pos-rel.z1.typo-light
    .w75.mr-auto.align-c.mr-b-60
      h3.title.large(data-rgen-sm='large') Practice Growth Tools
      p.title-sub
        | Building your practice and managing your online reputation has never been easier. With PRACTICEWIN you have the power to take your business to the next level!
    .flex-row.gt40.mb20
      .flex-col-md-4
        .info-obj.img-t.g20.medium.align-c.pd-10
          .img.txt-color3
            span.iconwrp.rd.bg-dark1
              i.pe-7s-world
          .info
            h2.title.mini.bold-n Online Presence
            p
              | Modern & Responsive Website
              br
              | Healthcare & Business Listing Management
              br
              | Social Profile Management
      .flex-col-md-4
        .info-obj.img-t.g20.medium.align-c.pd-10
          .img.txt-color3
            span.iconwrp.rd.bg-dark1
              i.pe-7s-like2
          .info
            h2.title.mini.bold-n Online Reputation
            p
              | Patient Reviews
              br
              | Review Syndication
              br
              | Reputation Monitoring
      .flex-col-md-4
        .info-obj.img-t.g20.medium.align-c.pd-10
          .img.txt-color3
            span.iconwrp.rd.bg-dark1
              i.pe-7s-graph3
          .info
            h2.title.mini.bold-n Analytics & Insights
            p
              | Appointment Tracking
              br
              | SEO Dashboard
              br
              | Social Media Monitoring
      .flex-col-md-4
        .info-obj.img-t.g20.medium.align-c.pd-10
          .img.txt-color3
            span.iconwrp.rd.bg-dark1
              i.pe-7s-add-user
          .info
            h2.title.mini.bold-n Patient Acquisition
            p
              | 24/7 Online Scheduling
              br
              | Search Engine Optimization
              br
              | Campaigns & Premium Advertising
      .flex-col-md-4
        .info-obj.img-t.g20.medium.align-c.pd-10
          .img.txt-color3
            span.iconwrp.rd.bg-dark1
              i.pe-7s-magnet
          .info
            h2.title.mini.bold-n Patient Retention
            p
              | Appointment Reminders
              br
              | Recare Reminders
              br
              | Content Blog
      .flex-col-md-4
        .info-obj.img-t.g20.medium.align-c.pd-10
          .img.txt-color3
            span.iconwrp.rd.bg-dark1
              i.pe-7s-like
          .info
            h2.title.mini.bold-n Patient Engagement
            p
              | Newsletters
              br
              | Patient Education
              br
              | Social Media Outreach & Integrated Campaigns
  b.full-wh(data-gradient='y', data-g-colors='rgba(74, 83, 110,0)|rgba(45, 51, 69, 0.25)')