section.pos-rel.pd-0.bg-color3(data-rgen-sm='pd-tb-small')
    .flex-row.middle-md.pos-rel.z1
      .flex-col-md-5.typo-light
        .align-c.w60.mr-auto
          img.mr-auto.max-px-w120.mr-b-40(src='/assets/images/icon-img-02.png', alt='app-icon')
          h3.title.fs40.bold-n.mr-b-40(data-rgen-sm='medium') Works perfectly on any mobile device
          a.btn.btn-dark1.solid.round.set-popup(href='#popup-content') SEE IT IN ACTION
      .flex-col-md-7(data-rgen-sm='hide')
        img(src='/assets/images/iphone-img-07.png', alt='image')
    b.full-wh(data-gradient='y', data-g-colors='rgba(74, 83, 110,0)|rgba(45, 51, 69, 0.25)')