section.pos-rel.pd-tb-small(data-rgen-sm='pd-tb-small')
  .container.pos-rel.z1
    .w-75.mr-auto.align-c.mr-b-50
      h2.title(data-rgen-sm='medium') Subscribe to our newsletter for deals and feature updates
      p.title-sub(data-rgen-sm='small') Interested in getting the best deals? Enter your email and stay in the know.
      form.form-widget.w75.mr-auto.-mr-b-70.validate(action='//vk.us14.list-manage.com/subscribe/post?u=d392f85b2874154d1d9f49db8&amp;id=26fb4ddd40', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        .field-wrp
          .flex-row.gt10
            .flex-col-md-5
              .form-group
                input#mce-FULLNAME.form-control.bdr-color3.bdr-2.rd-4.bdr-op-5.w100(required='', data-msg='Please enter name.', type='text', value='', name='FULLNAME', placeholder='Enter your name')
            .flex-col-md-5
              .form-group
                input.form-control.bdr-color3.bdr-2.rd-4.bdr-op-5.w100#mce-EMAIL.required.email(type='email', value='', name='EMAIL', data-msg='Please enter email.', placeholder='Enter your email')
            .flex-col-md-2
              .form-group
                input#mc-embedded-subscribe.button.btn.solid.btn-dark1.bdr-2.block.btn-reset.bold-n(type='submit', data-loading-text='Pleae wait..', style='min-height: 46px;', value='Subscribe', name='subscribe')
                  
    img.w100(src='/assets/images/abstract-bg-01.png', data-rgen-sm='hide', alt='bg-image')


