section#testimonials.pos-rel.pd-tb-small.bg-gray2(data-rgen-sm='pd-tb-small')
  .container.pos-rel.z1
    .w-75.mr-auto.align-c.mr-b-50
      h4.title.mini.mr-0.bold-n Testimonials
      h2.title(data-rgen-sm='medium') What our customers say
    .flex-row.gt50.mb20
      .flex-col-md-6
        .info-obj.img-l.g0.small.h100.align-l
          .img.z1.mr-t-10(style='margin-right: -20px;')
            span.iconwrp.rd.bg-color3.txt-white
              i.fa.fa-quote-left
          .info.bg-white.pd-30.rd-5.h100
            p.fs16
              | I have really enjoyed working with PracticeWin on our new website. The process has been shorter than I anticipated, and the support couldn't be better. I can't wait to see how the website increases our business and more than that, our relationships with our patients. Thank you for offering such a top quality product.
            hr
            .mr-t-10
              img.rd.inline-block.align-m.mr-r-10.max-px-w50(src='/assets/person2.jpg', alt='Ron')
              .inline-block.align-m
                h3.bold-1.fs16.mr-0 Ron M.
                em.fs12 Dental Practice Manager
      .flex-col-md-6
        .info-obj.img-l.g0.small.h100.align-l
          .img.z1.mr-t-10(style='margin-right: -20px;')
            span.iconwrp.rd.bg-color3.txt-white
              i.fa.fa-quote-left
          .info.bg-white.pd-30.rd-5.h100
            p.fs16
              | We love our new growth plan so far! It has everything that we could ask for and PracticeWin really goes out of their way to help you. From the website to our new email marketing campaign, we are starting to see a noticable increase in new patients. Thank you, PracticeWin!
            hr
            .mr-t-10
              img.rd.inline-block.align-m.mr-r-10.max-px-w50(src='/assets/person1.jpg', alt='Jen')
              .inline-block.align-m
                h3.bold-1.fs16.mr-0 Jennifer A., MD
                em.fs12 Family Practice