.pull-right
  | Crafted with&nbsp;
  i.fa.fa-heart.text-city
  | &nbsp;by&nbsp;
  a.font-w600(href='http://www.practicewin.com', target='_blank') PracticeWin
.pull-left
  a.font-w600(href='http://www.practicewin.com', target='_blank') PracticeWin v1.0.3
  |  © 
  span(data-js-year-copy='') 2017
//- Add some space for Zopim
br
