section
  li.nav-main-heading
    span.sidebar-mini-hide Help
  li
    a(href='/app/help')
      i.si.si-question
      span.sidebar-mini-hide Help
  li
    a(href='/app/privacy')
      i.si.si-lock
      span.sidebar-mini-hide Privacy
  li
    a(href='/app/agreement')
      i.si.si-info
      span.sidebar-mini-hide Agreement
  li
    a(href='/app/terms')
      i.si.si-bell
      span.sidebar-mini-hide Terms of Use
