meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
- var contentData = data || {}
title= (title || contentData.seoTitle || contentData.title)
  |  |  
  = practice.name
meta(name='description', content= (description || contentData.seoDescription || practice.seo.description))
meta(name='keywords', content= (keywords || contentData.seoKeywords || practice.seo.keywords))
meta(http-equiv='cleartype', content='on')
link(rel='shortcut icon', href='/favicon.ico')

// Responsive and mobile friendly stuff
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

// Widgets
script(type="text/javascript" src="/assets/js/jquery.min.js")
script(type="text/javascript" src="/assets/js/jquery.validate.min.js")
script(type="text/javascript" src="/assets/js/additional-methods.min.js")

// Stylesheets
link(rel='stylesheet', href='/assets/css/html5reset.css', media='all')
link(rel='stylesheet', href='/assets/css/responsivegridsystem.css', media='all')
link(rel='stylesheet', href='/assets/css/col.css', media='all')
link(rel='stylesheet', href='/assets/css/2cols.css', media='all')
link(rel='stylesheet', href='/assets/css/3cols.css', media='all')
link(rel='stylesheet', href='/assets/css/4cols.css', media='all')
link(rel='stylesheet', href='/assets/css/7cols.css', media='all')
link(rel='stylesheet', href='/assets/css/drop-down-menu.css')
link(rel='stylesheet', href='/assets/css/jquery.bxslider.css')
// Responsive Stylesheets
link(rel='stylesheet', media='only screen and (max-width: 1024px) and (min-width: 769px)', href='/assets/css/1024.css')
link(rel='stylesheet', media='only screen and (max-width: 768px) and (min-width: 481px)', href='/assets/css/768.css')
link(rel='stylesheet', media='only screen and (max-width: 640px)', href='/assets/css/640.css')
link(rel='stylesheet', media='only screen and (max-width: 480px)', href='/assets/css/480.css')
link(rel='stylesheet', media='only screen and (max-width: 360px)', href='/assets/css/360.css')
// All JavaScript at the bottom, except for Modernizr which enables HTML5 elements and feature detects
script(src='/assets/js/modernizr-2.5.3-min.js')
// InstanceBeginEditable name="head"
link(rel='stylesheet', media='only screen and (max-width: 3000px) and (min-width: 1920px)', href='/assets/css/1920.css')

style.
  .pkt_added {text-decoration:none !important;}
script.
  window.MDOCS_ACCOUNT_ID='!{practice.mdocsAccount}'

title= title
