.standardcontainer.quote
  .maincontent.centre
    img(src='/assets/images/quote-open.png', alt='Quote')
    p The hygienist was great, the doctor was great, and the staff was great!
    div(style='margin: auto 0;')
      p.from — Happy Customer: DC —
    img(src='/assets/images/quote-close.png', alt='Quote')

