.standardcontainer.quote
	.maincontent.centre
		img(src='/assets/images/quote-open.png', alt='Quote')
		p
			| The office is always clean and friendly. I love the staff and would refer anyone needing a dentist to your office.
		div(style='margin: auto 0;')
			p.from — Happy Customer: CA —
		img(src='/assets/images/quote-close.png', alt='Quote')

