.standardcontainer.quote
	.maincontent.centre
		img(src='/assets/images/quote-open.png', alt='Quote')
		p 
			| Best dental care in the USA!
		div(style='margin: auto 0;')
			p.from — Happy Customer: KD —
		img(src='/assets/images/quote-close.png', alt='Quote')

