.standardcontainer.quote
	.maincontent.centre
		img(src='/assets/images/quote-open.png', alt='Quote')
		p
			| You guys are just awesome people, in addition to being fantastic professionals, of course.
		div(style='margin: auto 0;')
			p.from — Happy Customer: GA —
		img(src='/assets/images/quote-close.png', alt='Quote')


