.standardcontainer.quote
	.maincontent.centre
		img(src='/assets/images/quote-open.png', alt='Quote')
		p
			| Keep up the good work.
		div(style='margin: auto 0;')
			p.from — Happy Customer: JB —
		img(src='/assets/images/quote-close.png', alt='Quote')

