// Footer Navigation
.row.push-30-t.items-push-2x
  .col-sm-4
    h3.h5.font-w600.text-uppercase.push-20 Company
    ul.list.list-simple-mini.font-s13
      li
        a.font-w600(href='frontend_home.html') Home
      li
        a.font-w600(href='frontend_features.html') Features
      li
        a.font-w600(href='frontend_pricing.html') Pricing
      li
        a.font-w600(href='frontend_about.html') About Us
      li
        a.font-w600(href='frontend_contact.html') Contact Us
  .col-sm-4
    h3.h5.font-w600.text-uppercase.push-20 Support
    ul.list.list-simple-mini.font-s13
      li
        a.font-w600(href='frontend_login.html') Log In
      li
        a.font-w600(href='frontend_signup.html') Sign Up
      li
        a.font-w600(href='frontend_support.html') Support Center
      li
        a.font-w600(href='javascript:void(0)') Privacy Policy
      li
        a.font-w600(href='javascript:void(0)') Terms & Conditions
  .col-sm-4
    h3.h5.font-w600.text-uppercase.push-20 Get In Touch
    .font-s13.push
      strong Liberty Eye Center
      br
      span= practice.address
      br
      |  City, State, Zip
      br
      abbr(title='Phone') P:
      |  (123) 456-7890
    .font-s13
      i.si.si-envelope-open
      |  company@example.com
// END Footer Navigation
// Copyright Info
.font-s12.push-20.clearfix
  hr.remove-margin-t
  .pull-right
    | Crafted with 
    i.fa.fa-heart.text-city
    |  by 
    a.font-w600(href='http://mdocs.co', target='_blank') MDOCS
  .pull-left
    a.font-w600(href='http://mdocs.co', target='_blank') MDOCS v.2.1
    |  © 
    span.js-year-copy
// END Copyright Info
