doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body.PARALLAX
    include ../partials/navbar.pug
    include ../partials/raw/index.pug
    != contents
    include ../partials/footer.pug
