mixin star_mixin(rate)
  - for (var i = 0; i < 5; ++i) {
    if (i < rate) && ((i + 1) <= rate)
      i.fa.fa-fw.fa-star(data-index=i)
    else if (i < rate) && ((i + 0.1) <= rate)
      i.fa.fa-fw.fa-star-half-o(data-index=i)
    else
      i.fa.fa-fw.fa-star-o(data-index=i)
  - }

mixin survery_status(status)
  case status
    when 0
      span New
    when 1
      span Accessed
    when 2
      span Submitted

doctype html
html(lang='en')
  include ../partialsNew/head.pug
  body
    span New Layout
    include ../partialsNew/navigation.pug
    include ../partialsNew/flash.pug
    block content
    include ../partialsNew/footer.pug
    block scripts
