section#coverPage.section-page.text-center.section-one
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType
        |  —
      p.bottom.hidden-print
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
      p.visible-print
        img(src='images/logo-mdocs-dark.png', alt='')
    .header-title
      p.subtitle.bottom Proposal for:
      h1.doctorName
      h5.doctorAddress
  .section-padding.bg-grey.text-lg
    p.bottom.text-lite Created By:
    p
      strong.createdBy
    p.bottom.text-lite Date:
    p.bottom
      strong.createdDate
  .padding-all.section-overview.text-white
    h2.bottom20
      | The
      strong.text-lowercase
        | #1 patient reviews system for
        span.doctorType
        | s
      br.hidden-xs
      | and the best online reputation management for generating more sales.
    p.bottom20
      img(src='images/five-stars.png', alt='')
    p.text-lite.text-lg.bottom35-md.text-capitals
      em
        | Top Rated National™
        span.doctorType
        |  Patient Review Platform
    p.bottom
      img(src='images/overview-devices.png', alt='')
