section#executiveSummary.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Executive Summary
  .padding-all.bg-grey
    ul.list-check.list-unstyled
      li
        span.glyphicon.glyphicon-ok
        | Recent 
        a(href='#industryResearch') industry research
        |  shows that online reviews are among the most critical factors impacting cosumers' choices today.
      li
        span.glyphicon.glyphicon-ok
        |  We’ve compiled a 
        a(href='#reviewCard') detailed report card
        |, showing your current reviews and ratings in 12 of the most widely user patient review sites.
      li
        span.glyphicon.glyphicon-ok
        |  We also gathered your 
        a(href='#recentReviews') most recent reviews
        |, as a sample to show what your patients have been saying recently about your practice.
      li
        span.glyphicon.glyphicon-ok
        |  We looked at your competitors and created a 
        a(href='#competitiveAnalysis') competitive analysis 
        |, so you can clearly see your relative position and the opportunities to improve.
      li
        span.glyphicon.glyphicon-ok
        |  Next, we created a 
        a(href='#financialProjections') financial projection model 
        |, to help you set clear goals and better tie your review progress with your financial well-being.
      li
        span.glyphicon.glyphicon-ok
        |  Finally, we created a 
        a(href='#gamePlan') game plan 
        |, tailored to your current status and tied to your goals. This plan will set you on a path to success as soon as you sign-up. Our proven platfrom was created for medical professionals like you and we stand 100% with you, until you've reached 100% of your goals!
  .padding-all
    h4
      strong Thank you.
    div
      | Thank you for taking the time to read our proposal. We appreciate your time and the opportunity to work with you. The proposal is brief - we hope you'll find the information useful and up to the point. Along with our developers, business leaders and investrors, we believe in buidling remarkable platforms and we are confident that once you experience the power of Patient Reviews by MDOCS, you will become not just a customer, but an advicate. We are looking forward to setting your practice on a path for a great succeess!
