section#finalComments.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
    .header-title
      h1 Final Comments
  .padding-all-small.bg-grey
    | In closing, I hope this proposal has been helpful in determining if we’re the right platform for you. I’m confident there’s no better patient review management system to help improve your brand online. Our PracticeWin platform and our software and full-service business model sets us apart from other similar systems and will help set you apart from your competitors. I’m excited for the possibility to work with you, as is everyone at PracticeWin, so please let me know if there's anything else we can do to earn your business. Thank you!
  .padding-all-small
    .box-final
      .box-logo
        img(src='images/logo-mdocs-white.png')
      p.subtitle.bottom Proposal for:
      h2.title
        span.doctorName #{data.name}
      .text-lg
        p.bottom.text-lite Created By:
        p
          strong.createdBy #{data.created.by}
        p.bottom.text-lite Date:
        p
          strong.createdDate #{data.created.date}
      // <p class="text-blue"><strong><em>Learn More At:</em></strong></p>
      p
        a.btn.btn-primary.btn-lg(href='https://pr.mdocs.co/#pricing', target='_blank') Learn More


