section#finalComments.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Final Comments
  .padding-all-small.bg-grey
    | In closing, I hope this proposal has been helpful in determining if we’re the right partner for you. I’m confident there’s no better partner to help grow your brand online. Our Patient Reviews by MDOCS platform and our software and full-service hybrid business model sets us apart from other marketing companies and will help set you apart from your competitors as well. I’m excited to work with you, as is everyone at Patient Reviews by MDOCS, so please let me know if there's anything else we can do to earn your business. Thanks!
  .padding-all-small
    .box-final
      .box-logo
        img(src='images/logo-mdocs-white.png')
      p.subtitle.bottom Proposal for:
      h2.title
        span.doctorName #{data.name}
      .text-lg
        p.bottom.text-lite Created By:
        p
          strong.createdBy #{data.created.by}
        p.bottom.text-lite Date:
        p
          strong.createdDate #{data.created.date}
      // <p class="text-blue"><strong><em>Learn More At:</em></strong></p>
      p
        a.btn.btn-primary.btn-lg(href='#', target='_blank') Learn More


