section#gamePlan.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
    .header-title
      h1 Game Plan
  .padding-all.bg-grey
    ul.list-check.list-unstyled
      li
        span.glyphicon.glyphicon-ok
        |  We’ll work to increase the number and overall rating of your patient reviews online, so you can begin to capture market share from your competitors and grow your brand. We do this in a number of highly effective ways, which are detailed in this proposal.
      li
        span.glyphicon.glyphicon-ok
        |  We’ll take full advantage of your increased visibility by continually monitoring your patient reviews, optimizing your local listings and ads, so they attract more new patients and motivate people to choose you more than your competitors.
      li
        span.glyphicon.glyphicon-ok
        |  Over time, our system will help you accumulate hundreds of positive reviews online, so you can remain ahead of your competition. While at the same time, our smart system will filter the negative reviews and give you a chance to resolve issues privately, before they become public.
      li
        span.glyphicon.glyphicon-ok
        |  We’ll monitor your review quality and trends over time and continually compare it with your competitors in your area. We'll notify you when we detect changes - postivei or negative - so you can take action, if necessary.
      li
        span.glyphicon.glyphicon-ok
        |  By conducting competitive analysis, we'll put you ahead of your competition where your marketing dollars will help you remain proactive, as opposed to your competitors' reactive approach.
      li
        span.glyphicon.glyphicon-ok
        |  We’ll maximize your increased online reputation by perpetually optimizing your review site presence for the highest possible new patient conversion rate. Over time, this will lead to more online visitors converting into paying customers.
      li
        span.glyphicon.glyphicon-ok
        |  By maximizing your online reputation and visibility, we’re able to drive you a better return on investment over time and create a strong long-term, scalable marketing solution for your brand.
      li
        span.glyphicon.glyphicon-ok
        |  Today, more than ever, your reputation online is key to your brand’s success. We want to partner with you to grow your brand online and gain market share over your competitors. Our full-service solution means we’ll do everything for you so you can focus on running your business while we focus on driving you business.
      li
        span.glyphicon.glyphicon-ok
        |  Leveraging our powerful PracticeWin platform will help you truly see and measure all your reputation management data in one place, which allows you to funnel more of your marketing dollars into what’s working and less of your dollars into what’s not. This saves you time and allows you to get more revenue from your marketing investment over time.
  .padding-all
    h4
      strong Excited to partner with you!
    div
      | First off, thanks for considering us. I’ve enjoyed speaking with you and I definitely think we’ll be great partners for you and your brand. We’d really like an opportunity to earn your business and help grow your brand online so hopefully this proposal provides you the information you’re looking for to facilitate that. If you have any questions just give me a call or shoot me an email. Thank you!
