section#marketingPlans.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Proposed Marketing Plan(s)
  .padding-all-small.bg-grey
    | Click the button below to view your proposed marketing plan(s). Again, we’d really like to earn your business so please contact us with any questions. I'm more than happy to walk through this with you and make adjustments to the plan to narrow down on the budget to fit your needs.
  .section-padding.text-center
    p
      img(src='images/arrow-clickhere.png', alt='')
    p
      a.btn.btn-primary.btn-lg(href='#', target='_blank')
        | View Marketing Plan
        span.glyphicon.glyphicon-new-window
