section#ourAwards.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Our Awards & Accomplishments
  .padding-all.section-awards
    .row.row20
      .col-sm-3
        p.text-center
          img(src='images/badge-google-smb.png', alt='Google SMB Partner')
      .col-sm-9
        h3 Don't take our word for it, take Google's word for it!
        p We've been selected as 1 of only 25 Google PSP Partners in the world!
    hr
    .row
      .col-sm-3
        p.text-center
          img(src='images/badge-bing-bordered.png', alt='Bing Authorized Reseller')
      .col-sm-9
        h3 Official Bing Advertising Partner!
        p We've been selected as 1 of only 13 Bing Advertising Partners in the world!
    hr
    .row
      .col-sm-3
        p.text-center
          img(src='images/badge-inc500.png', alt='')
      .col-sm-9
        h3 Top 10 Marketing Company
        p We have been ranked a national "Top 10 Marketing Company" by Inc. 500
    hr
    .row
      .col-sm-3
        p.text-center
          img(src='images/badge-best-place.png', alt='')
      .col-sm-9
        h3 #1 Best Place to Work
        p We have been rated the nation's #1 Best Place to Work by Glassdoor!
    hr
    .row
      .col-sm-3
        p.text-center
          img(src='images/badge-fastest-growing.png', alt='')
      .col-sm-9
        h3 One of the Nation's Fastest Growing Companies
        p
          | We have been recognized as one of the nation's fastest growing companies by Inc. 500, 3 years in a row.
    hr
    .row
      .col-sm-3
        p.text-center
          img(src='images/badge-family-owned.png', alt='')
      .col-sm-9
        h3 Top 50 Family Owned Company
        p We have been honored as a Colorado Top 50 Owned Company 3 years in a row!
