section#ourReviews.section-page.hidden-print
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
  .padding-all.bg-grey
    .trn-badge
      img(src='images/badge-trn.png', alt='Top Rated National™')
      .badge-vertical
        p Patient Review Platform
    a#trl-badge-poweredby-block(href='http://www.topratedlocal.com' target='_blank') Powered by Top Rated Local ®
