section#ourReviews.section-page.hidden-print
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
  .padding-all.bg-grey
    .trn-badge
      img(src='images/badge-trn.png', alt='Top Rated National™')
      .badge-vertical
        p Marketing Platform
    a#trl-badge-poweredby-block(href='#') Powered by Top Rated Local®
