section.section-page.section-process
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Web Design/Build Process
  .padding-all-small.text-sm
    h3.phase-title
      span.text-sm Phase
      span.phase-number 1
      strong Prep Phase
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li - Complete design questionnaire during kickoff call
            li - Kickoff call with project manager
            li - Provide website content (if required)
          img.phase-img.one.hidden-xs(src='images/phase-1.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-time.png', alt='')
          strong 1 Business Day
        p.text-lite
          | This phase can not be completed until we can complete the kickoff call and design questionnaire. If you delay the kickoff call, it will delay the process by the same amount of days.
    h3.phase-title
      span.text-sm Phase
      span.phase-number 2
      strong Design Phase
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li
              | We design your website based on
              br.hidden-xs
              |  your questionnaire, kickoff call,
              br.hidden-xs
              | content, branding, and goals.
          img.phase-img.two.hidden-xs(src='images/phase-2.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-time.png', alt='')
          strong 7-10 Business Days
        p.text-lite
          | Once the site is ready for your review, your project manager will call to go through the design in detail. This phase can take longer than 7-10 business days if you delay in providing us needed information.
    h3.phase-title
      span.text-sm Phase
      span.phase-number 3
      strong Review and Revise Phase
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li
              | You submit your revisions to the
              br.hidden-xs
              |  design, in list format via email to
              br.hidden-xs
              |  your project manager.
          img.phase-img.three.hidden-xs(src='images/phase-3.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-time.png', alt='')
          strong 3-5 Business Days
        p.text-lite
          | During this phase, we complete your revision requests. This phase can take longer if you delay providing us your list of revisions or provide an extremely long list of revisons.
    h3.phase-title
      span.text-sm Phase
      span.phase-number 4
      strong Final Review
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li
              | You review the design & submit final
              br.hidden-xs
              |  revisions if any (up to 3 rounds of
              br.hidden-xs
              |  revisions are included free if needed).
          img.phase-img.four.hidden-xs(src='images/phase-4.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-time.png', alt='')
          strong 3-4 Business Days
        p.text-lite
          | This phase can take longer if additional rounds of revisions are requested. Generally, 2-3 extra business days per round of revisions. If you need more than the 3 rounds of revisions included, it's fine, we just quote you hourly at that point for additional work.
    h3.phase-title
      span.text-sm Phase
      span.phase-number 5
      strong GO LIVE!
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li - You approve site to go live
            li
              | - Must provide domain info
              br
              |   in order to take site live
          img.phase-img.five.hidden-xs(src='images/phase-5.png', alt='')
          img.phase-img.rocket.hidden-xs(src='images/phase-rocket.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-check.png', alt='')
          strong Take Website Live!
        p.text-lite
          | Once we are given access to your domain & final approvals to take the website live it takes about 24-48 hrs. for your domain to propagate. If 301 redirects are required it could extend this process.
    p.bottom
      img.hidden-xs(src='images/icon-time-white.png', alt='')
      strong 12-15 Business Days
    .row.row20
      .col-sm-6
        p.text-lite
          | This turnaround time can be longer if you’re not responsive, delay providing content, require additional rounds of revisions, delay approvals, etc. That being said, 85% of clients finish inside this time range.
      .col-sm-6
        p.text-lite.text-blue
          | *If your website takes longer than 12-15 business days it's not a problem. Take your time knowing all your un-used marketing fuel rolls forward for usage when you're ready.
