section#buildProcess.section-page.section-process
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
    .header-title
      h1 Patient Reviews Setup Process
  .padding-all-small.text-sm
    h3.phase-title
      span.text-sm Phase 
      span.phase-number  1 
      strong  Conduct Research
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li - Conduct research and complete review profile
            li - Kickoff call with project manager
            li - Provide profile information (if required)
          img.phase-img.one.hidden-xs(src='images/phase-1.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-time.png', alt='')
          strong 1 Business Day
        p.text-lite
          | This phase can not be completed until we can complete the kickoff call and design questionnaire. If you delay the kickoff call, it will delay the process by the same amount of days.
    h3.phase-title
      span.text-sm Phase 
      span.phase-number  2 
      strong  Create Online Profiles
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li
              | We create your online profiles
              br.hidden-xs
              |  based on the kickoff call,
              br.hidden-xs
              | and branding assets.
          img.phase-img.two.hidden-xs(src='images/phase-2.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-time.png', alt='')
          strong 1 Business Day
        p.text-lite
          | Once your profiles are ready for your review, your project manager will call to go through the list in detail. This phase can take longer than 1 business days if you delay in providing us needed information.
    h3.phase-title
      span.text-sm Phase 
      span.phase-number  3 
      strong  Integrate w/ Website
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li
              | We use the web widget
              br.hidden-xs
              |  to integrate your reviews
              br.hidden-xs
              |  into your own website.
          img.phase-img.three.hidden-xs(src='images/phase-3.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-time.png', alt='')
          strong 1 Business Day
        p.text-lite
          | During this phase, we will need access to your website. This phase can take longer if you delay providing us the required information.
    h3.phase-title
      span.text-sm  Phase 
      span.phase-number  4 
      strong  Final Review 
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li
              | You review online profiles
              br.hidden-xs
              |  and your website widget
              br.hidden-xs
              |  before going live.
          img.phase-img.four.hidden-xs(src='images/phase-4.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-time.png', alt='')
          strong 1-2 Business Days
        p.text-lite
          | This phase includes final verification of the online profiles and your setup with PracticeWin.
    h3.phase-title
      span.text-sm  Phase 
      span.phase-number  5 
      strong  GO LIVE! 
    .row
      .col-sm-7
        .phase-box
          ul.list-unstyled.bottom
            li - You approve all changes
            li
              | - All profiles are live
              br
              |  - You can start using PR
          img.phase-img.five.hidden-xs(src='images/phase-5.png', alt='')
          img.phase-img.rocket.hidden-xs(src='images/phase-rocket.png', alt='')
      .col-sm-5.relative
        p.bottom
          img.phase-icon.hidden-xs(src='images/icon-check.png', alt='')
          strong Take Patient Reviews Live!
        p.text-lite
          | Once we are given access to your domain and you've approved all necessary changes, it takes about several hours to complete the process of updating your website and online profiles.
    p.bottom
      img.hidden-xs(src='images/icon-time-white.png', alt='')
      strong  1-3 Business Days
    .row.row20
      .col-sm-6
        p.text-lite
          | This turnaround time can be longer if you’re not responsive, delay providing content, delay approvals, etc. That being said, 95% of our clients launch inside this time range.
      .col-sm-6
        p.text-lite.text-blue
          | *If you don't have your website information available, it's not a problem. We'll work with your web admin to make the changes necessary.
