section#smbPartner.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
    .header-title
      h1
        | We're a Google Premier SMB Partner,
        br.hidden-xs
        | See What They Have to Say About Us
  .padding-all.bg-grey
    p.text-center.bottom20
      | Google AdWords Premier SMB Partners (PSPs) develop and maintain successful online advertising campaigns for your small or medium business (SMB). With deep AdWords experience, PSPs work closely with local businesses such as yours, to help grow and maximize your AdWords campaigns’ performance.
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='//player.vimeo.com/video/119394368?title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
  .section-padding.hidden-xs
    p.text-center
      img(src='images/badge-google-smb.png', alt='Google SMB Partner')
