section#tableOfContents.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
    .header-title
      h1 Table of Contents
  .padding-all.bg-grey
    ul.list-tableofcontents.list-unstyled
      li
        a(href='#coverPage') Cover Page
      li
        a(href='#tableOfContents') Table of Contents
      li
        a(href='#executiveSummary') Excutive Summary
      li
        a(href='#industryResearch') Industry Research
      li
        a(href='#usDifferent') Online Reviews: An Introduction
      li
        a(href='#reviewCard') Detailed Report Card
      li
        a(href='#recentReviews') Recent Reviews
      li
        a(href='#competitiveAnalysis') Competitive Analysis
      li
        a(href='#financialProjections') Financial Projections
      li
        a(href='#gamePlan') Game Plan
      li
        a(href='#softwareServiceHybrid') Software as a Service
      li
        a(href='#howItWorks') How It Works
      li
        a(href='#whatsIncluded') What's Included
      li
        a(href='#ourReviews') Our Reviews
      
      //- li
      //-   a(href='#smbPartner') Google Premier SMB Partner
      li
        a(href='#buildProcess') Web Design/Build Process
      li
        a(href='#ourAwards') Our Awards & Accomplishments
      //- li
      //-   a(href='#marketingPlans') Proposed Marketing Plans
      li
        a(href='#finalComments') Final Comments
