section#usDifferent.section-page.hidden-print
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
    .header-title
      h1 Online Reviews: An Introduction
  .padding-all.bg-grey
    p.text-center.bottom20
      | This short video from The Wall Street Journal introduces the concept of online patient reviews and why they are important to drive business and stay ahead of the competition.
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src="https://www.youtube.com/embed/RawWMN9kyRs", frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
  .section-padding.hidden-xs
    p.text-center
      img(src='images/circles-1.jpg', alt='')
