section#whatsIncluded.section-page.text-center
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
    .header-title
      h1 Included in the #1 Patient Reviews Platform for #{data.type}s
  .padding-all-small.bg-grey
    p.text-center
      | The PracticeWin platform is an intelligent combination of digital marketing software and dedicated marketing services. It's extremely affordable, powerful and full-service. There's simply nothing else like it.
    p.text-blue.bottom
      strong It's everything you need to improve and maintain your online reputation.
  .padding-all.text-sm
    .row.row20
      .col-sm-4
        p
          a.hover-fade(href='http://www.practicewin.com/', target='_blank')
            img(src='images/cta-uxi.jpg', alt='UXi')
        p.bottom20
          | Powerful analytics show you trends and alert you with changes to your online reputation score.
      .col-sm-4
        p
          a.hover-fade(href='http://www.practicewin.com/', target='_blank')
            img(src='images/cta-nla.jpg', alt='NLA')
        p.bottom20
          | Earn more sales and imporove customer loyalty with the leading review management platform.
      .col-sm-4
        p
          a.hover-fade(href='http://www.practicewin.com/', target='_blank')
            img(src='images/cta-tpa.jpg', alt='TPA')
        p.bottom20
          | 92% of prospects read online reviews. Use the #1 platform to gain hundreds of positive reviews.
      .col-sm-4
        p
          a.hover-fade(href='http://www.practicewin.com/', target='_blank')
            img(src='images/cta-lla.jpg', alt='LLA')
        p.bottom20
          | Add, update, sync, enhance and monitor your business listings across dozens of review sites.
      .col-sm-4
        p
          a.hover-fade(href='http://www.practicewin.com/', target='_blank')
            img(src='images/cta-trl.jpg', alt='TRL')
        p.bottom20
          | Control your reputation online and protect your brand with the Top Rated Local® or National program.
      .col-sm-4
        p
          a.hover-fade(href='http://www.practicewin.com/', target='_blank')
            img(src='images/cta-oms.jpg', alt='OMS')
        p.bottom20
          | Leverage world-class marketing talent like marketers, designers, writers and video pros on demand.
      .col-sm-4
        p
          a.hover-fade(href='http://www.practicewin.com/', target='_blank')
            img(src='images/cta-crm.jpg', alt='CRM')
        p.bottom20
          | Manage your patient reviews and display the top reviews on your website with our easy to use and powerful system.
