section#whatsIncluded.section-page.text-center
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Included in the #1 Dentist Marketing Platform™
  .padding-all-small.bg-grey
    p.text-center
      | The Patient Reviews by MDOCS platform is an intelligent combination of digital marketing software and dedicated marketing services. It's extremely affordable, powerful and full-service. There's simply nothing else like it.
    p.text-blue.bottom
      strong It's everything you need to generate sales and grow your brand.
  .padding-all.text-sm
    .row.row20
      .col-sm-4
        p
          a.hover-fade(href='#', target='_blank')
            img(src='images/cta-uxi.jpg', alt='UXi')
        p.bottom20
          | Convert more visitors into sales by leveraging the best websites & landing pages.
      .col-sm-4
        p
          a.hover-fade(href='#', target='_blank')
            img(src='images/cta-nla.jpg', alt='NLA')
        p.bottom20
          | Earn more organic sales & higher keyword rankings with the leading SEO software program.
      .col-sm-4
        p
          a.hover-fade(href='#', target='_blank')
            img(src='images/cta-tpa.jpg', alt='TPA')
        p.bottom20
          | 85% of prospects click on the top 3 ads on Google & Bing. Use the #1 program to get there.
      .col-sm-4
        p
          a.hover-fade(href='#', target='_blank')
            img(src='images/cta-lla.jpg', alt='LLA')
        p.bottom20
          | Add, update, sync, enhance and monitor your business listings across hundreds of local sites.
      .col-sm-4
        p
          a.hover-fade(href='#', target='_blank')
            img(src='images/cta-trl.jpg', alt='TRL')
        p.bottom20
          | Control your reputation online and protect your brand with the Top Rated Local® or National program.
      .col-sm-4
        p
          a.hover-fade(href='#', target='_blank')
            img(src='images/cta-oms.jpg', alt='OMS')
        p.bottom20
          | Leverage world-class marketing talent like marketers, designers, writers and video pros on demand.
      .col-sm-4
        p
          a.hover-fade(href='#', target='_blank')
            img(src='images/cta-crm.jpg', alt='CRM')
        p.bottom20
          | Manage your contacts with the easy to use and powerful Patient Reviews by MDOCS CRM.
