section.slider.pinstripe
  .container.pb-0
    .row
      #rating-slider.flexslider
        .flex-viewport(style='overflow: hidden; position: relative;')
          ul.slides(style='width: 2200%; transition-duration: 0.6s; transform: translate3d(-2580px, 0px, 0px);')
            each review in reviews
              li(style='width: 860px; float: left; display: block;')
                .slide-content
                  ol
                    li.comment
                      a(href= review.link, target='_blank')
                        p= review.reviewShort
                    li.rating
                      .rating-block(style='width:120px;')
                        .rating-inner
                          span
                            i.fa.fa-star
                          span
                            i.fa.fa-star
                          span
                            i.fa.fa-star
                          span
                            i.fa.fa-star
                          span
                            i.fa.fa-star
                      p= review.user
                        strong= review.site
        ul.flex-direction-nav
          li
            a.flex-prev(href='#')
              i.fa.fa-angle-left.fa-2x
          li
            a.flex-next(href='#')
              i.fa.fa-angle-right.fa-2x
