section.meet.pinstripe(style='background-color: rgb(245, 249, 249);')
  .row.type-short
    .span6.right.split-text
      .inner.froala-editor-inline
        h4 About Practice
        .type-wrapper
          .type-overflow
            p
              | Beverly Oaks Surgery is a full-service outpatient surgical facility located in the heart of the Sherman Oaks Medical Community, directly across from Sherman Oaks Hospital. We are proud to be affiliated with some of the top surgeons in the Los Angeles area.
            p
              em
                | We specialize in today’s cutting-edge, minimally invasive procedures with lower costs and less downtime, which means that you can achieve results conveniently and affordably.
            p
              | Our facility is fully equipped for just about any type of surgical procedure that our patients are in need of. Our surgeons are committed to providing personalized, top-quality diagnosis and treatment to patients suffering from sports injuries, orthopedic issues, spine disorders and many other medical conditions. We also offer a variety of cosmetic services, from bariatric surgery to facial injectables.
            p
              | At Beverly Oaks Surgery, we understand that everyone that comes through our door is an individual with unique needs and concerns. You will not find a “one-size-fits-all” approach that is so common amongst many facilities today.
            p
              | Call us today to schedule your FREE consultation, tour our facility, and let our experienced surgeons and staff customize a plan that is right for you.
            p
              | During your consultation, you will meet with one of our experienced surgeons who will take the time to get to know you, explain options, and answer all of your questions, free of charge.
            p
              | We also have patient counselors to assist with insurance, scheduling, financing or anything else you might need. It is our goal to ensure excellence and continuity of care from your first consultation to your last post-operative visit.
            p
              | Whether you have a specific procedure in mind or just wish to explore your possibilities, we are here for you every step of the way.
            p Give us a call and let us find the solution that’s right for you!
        div(about='0', typeof='{"type":"MODULE", "secondary_type": "MEET", "type_id": 1519, "fieldname": "read-more-link"}')
          a.read-more-link(href='javascript:void(0);', property='fieldtext', style='display: inline-block;') Read more
    .span6.left.split-media
      .meet-frame
        a(href='javascript:void(0);', data-toggle='modal', data-target='#photoSlider')
          img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1392582.jpg', width='460', height='356', alt='Beverly Oaks Surgery')
      #main-slider.slider-thumbs
        button.scroll-left.disabled(type='button')
          i.fa.fa-lg.fa-chevron-left
        .thumb-wrapper
          ul(style='width: 320px;')
            li
              a(href='javascript:void(0);', data-toggle='modal', data-target='#photoSlider')
                img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1392583.jpg', width='72', height='72', alt='thumbnail')
            li
              a(href='javascript:void(0);', data-toggle='modal', data-target='#photoSlider')
                img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387752.jpg', width='72', height='72', alt='thumbnail')
            li
              a(href='javascript:void(0);', data-toggle='modal', data-target='#photoSlider')
                img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387756.jpg', width='72', height='72', alt='thumbnail')
            li
              a(href='javascript:void(0);', data-toggle='modal', data-target='#photoSlider')
                img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387754.jpg', width='72', height='72', alt='thumbnail')
        button.scroll-right.disabled(type='button')
          i.fa.fa-lg.fa-chevron-right
      #photoSlider.modal.fade(tabindex='-1', role='dialog', aria-labelledby='photoSliderLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#photoSliderLabel.modal-title About Practice
            .modal-body
              #modal-slide.slider-frame
                button.main-slide-left
                  i.fa.fa-2x.fa-chevron-left
                button.main-slide-right
                  i.fa.fa-2x.fa-chevron-right
                ul(style='margin-left: 0px;')
                  li
                    img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1392582.jpg', width='460', height='356', alt='Beverly Oaks Surgery')
                  li
                    img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387751.jpg', width='460', height='356', alt='Beverly Oaks Surgery')
                  li
                    img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387755.jpg', width='460', height='356', alt='Beverly Oaks Surgery')
                  li
                    img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387753.jpg', width='460', height='356', alt='Beverly Oaks Surgery')
              #modal-slider.slider-thumbs
                button.scroll-left.disabled(type='button')
                  i.fa.fa-lg.fa-chevron-left
                .thumb-wrapper
                  ul(style='width: 320px;')
                    li
                      img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1392583.jpg', width='72', height='72', alt='thumbnail')
                    li
                      img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387752.jpg', width='72', height='72', alt='thumbnail')
                    li
                      img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387756.jpg', width='72', height='72', alt='thumbnail')
                    li
                      img(src='https://sa1s3.patientpop.com/assets/images/provider/photos/1387754.jpg', width='72', height='72', alt='thumbnail')
                button.scroll-right.disabled(type='button')
                  i.fa.fa-lg.fa-chevron-right
  .row.type-full
    p
      | Beverly Oaks Surgery is a full-service outpatient surgical facility located in the heart of the Sherman Oaks Medical Community, directly across from Sherman Oaks Hospital. We are proud to be affiliated with some of the top surgeons in the Los Angeles area.
    p
      em
        | We specialize in today’s cutting-edge, minimally invasive procedures with lower costs and less downtime, which means that you can achieve results conveniently and affordably.
    p
      | Our facility is fully equipped for just about any type of surgical procedure that our patients are in need of. Our surgeons are committed to providing personalized, top-quality diagnosis and treatment to patients suffering from sports injuries, orthopedic issues, spine disorders and many other medical conditions. We also offer a variety of cosmetic services, from bariatric surgery to facial injectables.
    p
      | At Beverly Oaks Surgery, we understand that everyone that comes through our door is an individual with unique needs and concerns. You will not find a “one-size-fits-all” approach that is so common amongst many facilities today.
    p
      | Call us today to schedule your FREE consultation, tour our facility, and let our experienced surgeons and staff customize a plan that is right for you.
    p
      | During your consultation, you will meet with one of our experienced surgeons who will take the time to get to know you, explain options, and answer all of your questions, free of charge.
    p
      | We also have patient counselors to assist with insurance, scheduling, financing or anything else you might need. It is our goal to ensure excellence and continuity of care from your first consultation to your last post-operative visit.
    p
      | Whether you have a specific procedure in mind or just wish to explore your possibilities, we are here for you every step of the way.
    p Give us a call and let us find the solution that’s right for you!
    br
    div(about='0', typeof='{"type":"MODULE", "secondary_type": "MEET", "type_id": 1519, "fieldname": "read-less-link"}')
      a.read-less-link(href='javascript:void(0);', property='fieldtext') Read less
