section.promo.pinstripe.jcaho-accredited(style='background-color: rgb(245, 249, 249);')
  .row.type-short
    .span6.right.split-text
      .inner
        h4 JCAHO Accredited
        .type-wrapper(style='height: auto;')
          .type-overflow
            p
              | We are is a fully accredited facility by The Joint Commission with the highest level of safety and patient care.
            p
              | We specialize in today’s cutting-edge, minimally invasive procedures with lower costs and less downtime.
            p
              | Our board certified surgeons are highly experienced and trained in weight loss bariatric surgeries, cosmetic services, and many other surgical procedures.
        div(about='0', typeof='{"type":"MODULE", "secondary_type": "PROMO", "type_id": 2605, "fieldname": "read-more-link"}')
          a.read-more-link(href='javascript:void(0);', property='fieldtext') Read more
        div(about='0', typeof='{"type":"MODULE", "secondary_type": "PROMO", "type_id": 2605, "fieldname": "read-less-link"}')
          a.read-less-link(href='javascript:void(0);', style='display:none;', property='fieldtext') Read less
    .span6.left.split-media
      .slider-frame.promo-slider(data-delay='0')
        ul
          li.slide
            a(href='http://www.jointcommission.org/accreditation/accreditation_main.aspx', target='_blank')
              img(src='/assets/img/cert.png', width='460', height='356', alt='')
