section.services.pinstripe
  .row
    .span12
      h5  What we offer 
      h4  Services 
      .service-block.grid9.with-thumbs
        .service
          .service-bg
            img(src='/assets/img/1395836.jpg')
          a(href='/services/cosmetic-surgery')
            .service-border
            span
              | Cosmetic Surgery
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
        .service
          .service-bg
            img(src='/assets/img/1386187.jpg')
          a(href='/services/pain-management')
            .service-border
            span
              | Pain Management
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
        .service
          .service-bg
            img(src='/assets/img/1386194.jpg')
          a(href='/services/ear-nose-throat')
            .service-border
            span
              | Ear, Nose & Throat
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
        .service
          .service-bg
            img(src='/assets/img/1386203.jpg')
          a(href='/services/general-surgery')
            .service-border
            span
              | General Surgery
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
        .service
          .service-bg
            img(src='/assets/img/1386200.jpg')
          a(href='/services/spine')
            .service-border
            span
              | Spine
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
        .service
          .service-bg
            img(src='/assets/img/1386155.jpg')
          a(href='/services/gynecology')
            .service-border
            span
              | Gynecology
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
        .service
          .service-bg
            img(src='/assets/img/1386180.jpg')
          a(href='/services/weight-loss-surgery')
            .service-border
            span
              | Weight Loss Surgery
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
        .service
          .service-bg
            img(src='/assets/img/1386154.jpg')
          a(href='/services/orthopedic-consultation')
            .service-border
            span
              | Orthopedic Consultation
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
        .service
          .service-bg
            img(src='/assets/img/1394552.png')
          a(href='/services/adult-circumcision')
            .service-border
            span
              | Adult Circumcision
              i.fa.fa-angle-right.fa-2x
            button
              | more info
              i.fa.fa-chevron-circle-right
    #service-list  
