//- Header
header#header.header
  .header-top.bg-theme-colored.sm-text-center
    .container
      .row
        .col-md-6
          .widget.no-border.m-0
            ul.list-inline.sm-text-center.mt-5
              li.m-0.pl-10.pr-10
                i.fa.fa-phone.text-white
                |  
                a.text-white(href='#')= practice.phone
              li.text-white.m-0.pl-10.pr-10
                i.fa.fa-clock-o.text-white
                |  Mon-Fri 9am-8pm
              li.text-white.m-0.pl-10.pr-10
                i.fa.fa-clock-o.text-white
                |  Sat-Sun 10am-6pm
              //- li.m-0.pl-10.pr-10
              //-   i.fa.fa-envelope-o.text-white
              //-   |  
              //-   a.text-white(href='#')= practice.email
        .col-md-6
          //- #side-panel-trigger.side-panel-trigger.pull-right.flip.sm-pull-none.mt-5
          //-   a(href='#')
          //-     i.fa.fa-bars.font-24.text-white
          .widget.no-border.m-0
            ul.social-icons.icon-dark.icon-circled.icon-theme-colored.icon-sm.pull-right.flip.sm-pull-none.sm-text-center.mt-sm-15
              li
                a(href='#')
                  i.fa.fa-facebook.text-white
              li
                a(href='#')
                  i.fa.fa-twitter.text-white
              li
                a(href='#')
                  i.fa.fa-google-plus.text-white
              li
                a(href='#')
                  i.fa.fa-instagram.text-white
              li
                a(href='#')
                  i.fa.fa-linkedin.text-white
  .header-middle.p-0.bg-lightest.xs-text-center
    .container.pt-0.pb-0
      .row
        .col-xs-12.col-sm-4.col-md-5
          .widget.no-border.m-0
            a.menuzord-brand.pull-left.flip.xs-pull-center.mb-15(href='javascript:void(0)')
              img(src='/assets/images/logo-wide@2x.png', alt= practice.name)
        .col-xs-12.col-sm-4.col-md-4
          .widget.no-border.pull-right.sm-pull-none.sm-text-center.mt-10.mb-10.m-0
            ul.list-inline
              li
                i.icon_mobile.text-theme-colored.font-32.mt-5.sm-display-block
              li
                a.font-12.text-gray.text-uppercase(href='#') Call us today!
                h5.font-14.m-0= practice.phone
        .col-xs-12.col-sm-4.col-md-3
          .widget.no-border.pull-right.sm-pull-none.sm-text-center.mt-10.mb-10.m-0
            ul.list-inline
              li
                i.fa.fa-clock-o.text-theme-colored.font-36.mt-5.sm-display-block
              li
                //- a.font-12.text-gray.text-uppercase(href='#') We are open!
                h5.font-13.text-black.m-0  Mon-Fri 9am-8pm
                h5.font-13.text-black.m-0  Sat-Sun 10am-6pm
  .header-nav
    .header-nav-wrapper.navbar-scrolltofixed.bg-light
      .container
        nav#menuzord.menuzord.blue.bg-light
          ul.menuzord-menu
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/about') Services
            li
              a(href='/employment') Employment
            li
              a(href='#home') Patient Education
              ul.dropdown
                li
                  a(href='#') Asthma
                li
                  a(href='#') Diabetes
                li
                  a(href='#') Flu
                li
                  a(href='#') Glaucoma
                li
                  a(href='#') Hepatitis B Immunization
                li
                  a(href='#') Homocysteine
                li
                  a(href='#') Hypertension
                li
                  a(href='#') Impotence
                li
                  a(href='#') Lasik Eye Surgery
                li
                  a(href='#') Prostate Cancer
                li
                  a(href='#') Thyroid Disorder
                li
                  a(href='#') Sleep Apnea
            li
              a(href='/forms') Forms
              ul.dropdown
                li
                  a(href='#') FAA Flight Physical Form
                li
                  a(href='#') Immigration Forms
                li
                  a(href='#') Medical Records Release Form
                li
                  a(href='#') Motor Vehicle Accident Form
                li
                  a(href='#') Notice of Privacy Practices
                li
                  a(href='#') Registration Packet
                li
                  a(href='#') School Entrance Physical
                li
                  a(href='#') Sports Physical
                li
                  a(href='#') Workers Comp Forms
            li
              a(href='/feedback') Feedback
            li
              a(href='/contact') Contact
                
           
          ul.pull-right.flip.hidden-sm.hidden-xs
            .widget.no-border.m-0
              // Modal: Appointment Starts
              a.btn.btn-colored.btn-flat.btn-theme-colored.mt-15(data-toggle='modal', data-target='#BSParentModal', href='/assets/ajax-load/form-appointment.html') Make an Appointment
              // Modal: Appointment End




//- Modal - Appontment Form Starts
#modal_appontment_form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .border-1px.p-25
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.text-theme-colored.text-uppercase.m-0 Make an Appointment
        .line-bottom.mb-30
        p Lorem ipsum dolor sit amet, consectetur elit.
        // Appointment Form
        form#popup_appointment_form(name='popup_appointment_form', method='post', action='includes/appointment.php')
          .row
            .col-sm-12
              .form-group.mb-10
                input#form_name.form-control(name='form_name', type='text', required='', placeholder='Enter Name', aria-required='true')
            .col-sm-12
              .form-group.mb-10
                input#form_email.form-control.required.email(name='form_email', type='email', placeholder='Enter Email', aria-required='true')
            .col-sm-12
              .form-group.mb-10
                input.form-control.required.datetime-picker(name='form_appontment_date', type='text', placeholder='Appoinment Date & Time', aria-required='true')
          .form-group.mb-10
            textarea#form_message.form-control.required(name='form_message', placeholder='Enter Message', rows='5', aria-required='true')
          .form-group.mb-0.mt-20
            input#form_botcheck.form-control(name='form_botcheck', type='hidden', value='')
            button.btn.btn-dark.btn-theme-colored(type='submit', data-loading-text='Please wait...') Send Message
        // Appointment Form Validation
        script(type='text/javascript').
          $("#popup_appointment_form").validate({
          submitHandler: function(form) {
          var form_btn = $(form).find('button[type="submit"]');
          var form_result_div = '#form-result';
          $(form_result_div).remove();
          form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
          var form_btn_old_msg = form_btn.html();
          form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
          $(form).ajaxSubmit({
          dataType:  'json',
          success: function(data) {
          if( data.status == 'true' ) {
          $(form).find('.form-control').val('');
          }
          form_btn.prop('disabled', false).html(form_btn_old_msg);
          $(form_result_div).html(data.message).fadeIn('slow');
          setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
          }
          });
          }
          });
//- Modal - Appontment Form Ends


//- Header
//- header#header.header
  .header-nav.navbar-fixed-top.header-dark.navbar-white.navbar-transparent.navbar-sticky-animated.animated-active
    .header-nav-wrapper
      .container
        nav#menuzord-right.menuzord.blue
          a.menuzord-brand.pull-left.flip(href='javascript:void(0)')
            img(src='/assets/images/logo-wide.png', alt='')
          ul.menuzord-menu
            li.active
              a(href='#home') Home
              ul.dropdown
                li
                  a(href='#') Multipage Layout
                  ul.dropdown
                    li
                      a(href='index-mp-layout1.html') Multipage Layout1
                    li
                      a(href='index-mp-layout2.html') Multipage Layout2
                    li
                      a(href='index-mp-layout3.html') Multipage Layout3
                    li
                      a(href='index-mp-layout4.html') Multipage Layout4
                    li
                      a(href='index-mp-layout5.html') Multipage Layout5
                    li
                      a(href='index-mp-layout6.html') Multipage Layout6
                    li
                      a(href='index-mp-layout7.html') Multipage Layout7
                    li
                      a(href='index-mp-layout8.html') Multipage Layout8
                li
                  a(href='#') Singlepage Layout
                  ul.dropdown
                    li
                      a(href='index-sp-layout1.html') Singlepage Layout1
                    li
                      a(href='index-sp-layout2.html') Singlepage Layout2
                    li
                      a(href='index-sp-layout3.html') Singlepage Layout3
                    li
                      a(href='index-sp-layout4.html') Singlepage Layout4
                    li
                      a(href='index-sp-layout5.html') Singlepage Layout5
                    li
                      a(href='index-sp-layout6.html') Singlepage Layout6
                    li
                      a(href='index-sp-layout7.html') Singlepage Layout7
                    li
                      a(href='index-sp-layout8.html') Singlepage Layout8
                li
                  a(href='#') Boxed Multipage Layout
                  ul.dropdown
                    li
                      a(href='index-boxed-mp-layout1.html') Boxed Multipage Layout1
                    li
                      a(href='index-boxed-mp-layout2.html') Boxed Multipage Layout2
                    li
                      a(href='index-boxed-mp-layout3.html') Boxed Multipage Layout3
                    li
                      a(href='index-boxed-mp-layout4.html') Boxed Multipage Layout4
                    li
                      a(href='index-boxed-mp-layout5.html') Boxed Multipage Layout5
                    li
                      a(href='index-boxed-mp-layout6.html') Boxed Multipage Layout6
                    li
                      a(href='index-boxed-mp-layout7.html') Boxed Multipage Layout7
                    li
                      a(href='index-boxed-mp-layout8.html') Boxed Multipage Layout8
                li
                  a(href='#') Boxed Single Layout
                  ul.dropdown
                    li
                      a(href='index-boxed-sp-layout1.html') Boxed Singlepage Layout1
                    li
                      a(href='index-boxed-sp-layout2.html') Boxed Singlepage Layout2
                    li
                      a(href='index-boxed-sp-layout3.html') Boxed Singlepage Layout3
                    li
                      a(href='index-boxed-sp-layout4.html') Boxed Singlepage Layout4
                    li
                      a(href='index-boxed-sp-layout5.html') Boxed Singlepage Layout5
                    li
                      a(href='index-boxed-sp-layout6.html') Boxed Singlepage Layout6
                    li
                      a(href='index-boxed-sp-layout7.html') Boxed Singlepage Layout7
                    li
                      a(href='index-boxed-sp-layout8.html') Boxed Singlepage Layout8
                li
                  a(href='#') Dark Layout
                  ul.dropdown
                    li
                      a(href='index-dark-mp-layout1.html') Dark Multipage Layout1
                    li
                      a(href='index-dark-mp-layout2.html') Dark Multipage Layout2
                    li
                      a(href='index-dark-mp-layout3.html') Dark Multipage Layout3
                    li
                      a(href='index-dark-mp-layout4.html') Dark Multipage Layout4
                    li
                      a(href='index-dark-mp-layout5.html') Dark Multipage Layout5
                    li
                      a(href='index-dark-mp-layout6.html') Dark Multipage Layout6
                    li
                      a(href='index-dark-mp-layout7.html') Dark Multipage Layout7
                    li
                      a(href='index-dark-mp-layout8.html') Dark Multipage Layout8
                li
                  a(href='#') RTL Layout
                  ul.dropdown
                    li
                      a(href='index-rtl-mp-layout1.html') RTL Multipage Layout1
                    li
                      a(href='index-rtl-mp-layout2.html') RTL Multipage Layout2
                    li
                      a(href='index-rtl-mp-layout3.html') RTL Multipage Layout3
                    li
                      a(href='index-rtl-mp-layout4.html') RTL Multipage Layout4
                    li
                      a(href='index-rtl-mp-layout5.html') RTL Multipage Layout5
                    li
                      a(href='index-rtl-mp-layout6.html') RTL Multipage Layout6
                    li
                      a(href='index-rtl-mp-layout7.html') RTL Multipage Layout7
                    li
                      a(href='index-rtl-mp-layout8.html') RTL Multipage Layout8
                li
                  a(href='#') Menu Full Page Layout
                  ul.dropdown
                    li
                      a(href='index-menu-full-page-mp.html') Multipage
                    li
                      a(href='index-menu-full-page-sp.html') Singlepage
                li
                  a(href='#') Vertical Layout
                  ul.dropdown
                    li
                      a(href='index-vertical-nav-mp-layout1.html') Multipage Layout 1
                    li
                      a(href='index-vertical-nav-mp-layout2.html') Multipage Layout 2
                    li
                      a(href='index-vertical-nav-sp-layout1.html') Singlepage Layout 1
                    li
                      a(href='index-vertical-nav-sp-layout2.html') Singlepage Layout 2
                li
                  a(href='#')
                    | Portfolio Home Layouts 
                    span.label.label-info New
                  ul.dropdown
                    li
                      a(href='index-hot-portfolio-presentation-layout1.html') Portfolio Presentation Layout1
                    li
                      a(href='index-hot-portfolio-presentation-layout2.html') Portfolio Presentation Layout2
                    li
                      a(href='index-hot-portfolio-presentation-layout3.html') Portfolio Presentation Layout3
                li
                  a(href='#')
                    | Hot Layouts 
                    span.label.label-info New
                  ul.dropdown
                    li
                      a(href='index-hot-slider-fullpage-home.html') Fullscreen Home Layout
                    li
                      a(href='index-hot-magazine-home.html') Magazine Home Layout
                    li
                      a(href='index-hot-parallax-home-layout1.html') Parallax Home Layout 1
                    li
                      a(href='index-hot-parallax-home-layout2.html') parallax Home Layout 2
                    li
                      a(href='index-hot-personal-home-layout1.html') Personal Home Layout 1
                    li
                      a(href='index-hot-personal-home-layout2.html') Personal Home Layout 2
                    li
                      a(href='index-hot-personal-home-layout3.html') Personal Home Layout 3
                    li
                      a(href='index-hot-shop-home.html') Shop Home Layout
                    li
                      a(href='index-hot-slider-split-home-layout1.html') Split Slider Home Layout 1
                    li
                      a(href='index-hot-slider-split-home-layout2.html') Split Slider Home Layout 2
                    li
                      a(href='index-hot-vertical-rev-slider-home-layout1.html') Vertical Rev Slider Home Layout 1
                    li
                      a(href='index-hot-vertical-rev-slider-home-layout2.html') Vertical Rev Slider Home Layout 2
                li
                  a(href='#') Home Variations
                  ul.dropdown
                    li
                      a(href='#') Rev Slider
                      ul.dropdown
                        li
                          a(href='index-home-variation-revslider-style1.html') Layout1
                        li
                          a(href='index-home-variation-revslider-style2.html') Layout2
                        li
                          a(href='index-home-variation-revslider-style3.html') Layout3
                    li
                      a(href='index-home-variation-layerslider.html') Layer Slider
                    li
                      a(href='#') Maximage Slider
                      ul.dropdown
                        li
                          a(href='index-home-variation-maximageslider-style1.html') Layout1
                        li
                          a(href='index-home-variation-maximageslider-style2.html') Layout2
                        li
                          a(href='index-home-variation-maximageslider-style3.html') Layout3
                    li
                      a(href='index-home-variation-owl-carousel.html') Owl Slider
                    li
                      a(href='index-home-variation-typed-text.html') Typed Text Layout
                    li
                      a(href='index-home-variation-video-background.html') Youtube Background Video
                    li
                      a(href='index-home-variation-html5-video.html') Html5 Background Video
                    li
                      a(href='index-home-variation-bg-image-parallax.html') Bg Image Parallax Layout
                    li
                      a(href='index-home-variation-bg-static.html') Bg Static Layout
                    li
                      a(href='#') Home Appointment Form
                      ul.dropdown
                        li
                          a(href='index-home-variation-appointment-form-style1.html') Layout1
                        li
                          a(href='index-home-variation-appointment-form-style2.html') Layout2
            li
              a(href='#') Features
              ul.dropdown
                li
                  a(href='features-preloader.html') Preloaders
                li
                  a(href='#') Header
                  ul.dropdown
                    li
                      a(href='features-header-style1.html') Header Style1
                    li
                      a(href='features-header-style2.html') Header Style2
                    li
                      a(href='features-header-style3.html') Header Style3
                    li
                      a(href='features-header-style4.html') Header Style4
                    li
                      a(href='features-header-style5.html') Header Style5
                    li
                      a(href='features-header-style6.html') Header Style6
                    li
                      a(href='features-header-style7.html') Header Style7
                    li
                      a(href='features-header-vertical-nav.html')
                        | Vertical Header 
                        span.label.label-success New
                li
                  a(href='#')
                    | Page Title 
                    span.label.label-success New
                  ul.dropdown
                    li
                      a(href='features-page-title-text-left.html') Text Left
                    li
                      a(href='features-page-title-text-center.html') Text Center
                    li
                      a(href='features-page-title-text-right.html') Text Right
                    li
                      a(href='features-page-title-mini-version.html') Mini Version
                    li
                      a(href='features-page-title-big-version.html') Big Version
                    li
                      a(href='features-page-title-extra-big-version.html') Extra Big Version
                    li
                      a(href='features-page-title-bg-white.html') Bg White
                    li
                      a(href='features-page-title-bg-image.html') Bg Image
                    li
                      a(href='features-page-title-bg-image-parallax.html') Bg Image Parallax
                    li
                      a(href='features-page-title-bg-video.html') Bg Video
                    li
                      a(href='features-page-title-full-transparent.html') Full Transparent
                li
                  a(href='#') Side Push Panel
                  ul.dropdown
                    li
                      a(href='features-side-push-panel-left-overlay.html') Left Overlay
                    li
                      a(href='features-side-push-panel-left-push.html') Left Push
                    li
                      a(href='features-side-push-panel-right-overlay.html') Right Overlay
                    li
                      a(href='features-side-push-panel-right-push.html') Right Push
                li
                  a(href='#')
                    | Menu Style 
                    span.label.label-success New
                  ul.dropdown
                    li
                      a(href='features-menu-style-border-top.html') Border Top
                    li
                      a(href='features-menu-style-border-bottom.html') Border Bottom
                    li
                      a(href='features-menu-style-border-boxed.html') Border Boxed
                    li
                      a(href='features-menu-style-border-left.html') Border Left
                    li
                      a(href='features-menu-style-border-top-bottom.html') Border Top Bottom
                    li
                      a(href='features-menu-style-bottom-trace.html') Bottom Trace
                    li
                      a(href='features-menu-style-boxed.html') Boxed
                    li
                      a(href='features-menu-style-colored.html') Colored
                    li
                      a(href='features-menu-style-dark.html') Dark
                    li
                      a(href='features-menu-style-gradient.html') Gradient
                    li
                      a(href='features-menu-style-rounded-boxed.html') Rounded Boxed
                    li
                      a(href='features-menu-style-shadow.html') Shadow
                    li
                      a(href='features-menu-style-strip.html') Strip
                    li
                      a(href='features-menu-style-subcolored.html') Sub-Colored
                    li
                      a(href='features-menu-style-top-bottom-boxed-border.html') Top Bottom Boxed Border
                li
                  a(href='#') Sliders
                  ul.dropdown
                    li
                      a(href='#') Revolution Slider
                      ul.dropdown
                        li
                          a(href='features-home-revslider.html') Revolution Slider
                        li
                          a(href='features-rev-slider-premium-templates.html') Revolution Slider All In One
                    li
                      a(href='#')
                        | Layer Slider 
                        span.label.label-success New
                      ul.dropdown
                        li
                          a(href='features-home-layerslider.html') Layer Slider
                        li
                          a(href='features-layerslider-slider-premium-templates.html') Layer Slider All In One
                    li
                      a(href='#')
                        | Master Slider 
                        span.label.label-success New
                      ul.dropdown
                        li
                          a(href='features-home-master-slider-with-animated-layers.html') Master Slider
                        li
                          a(href='features-master-slider-premium-templates.html') Master Slider All In One
                    li
                      a(href='features-home-bg-image-slider.html') Bg Image Slider
                    li
                      a(href='features-home-owl-fullwidth-carousel.html') Owl Fullwidth Carousel
                    li
                      a(href='features-home-parallax-bg.html') Static/Parallax Image Bg
                    li
                      a(href='features-home-video-bg.html') Video Image Bg
                li
                  a(href='#') Form
                  ul.dropdown
                    li
                      a(href='#') Contact Form
                      ul.dropdown
                        li
                          a(href='page-contact1.html') Form style 1
                        li
                          a(href='page-contact2.html') Form style 2
                        li
                          a(href='page-contact3.html') Form style 3
                        li
                          a(href='page-contact4.html') Form style 4
                    li
                      a(href='#') Login/Register Form
                      ul.dropdown
                        li
                          a(href='#') Login/Register
                          ul.dropdown
                            li
                              a(href='form-login-register-style1.html') Form style 1
                            li
                              a(href='form-login-register-style2.html') Form style 2
                        li
                          a(href='#') Login
                          ul.dropdown
                            li
                              a(href='form-login-style1.html') Form style 1
                            li
                              a(href='form-login-style2.html') Form style 2
                            li
                              a(href='form-login-style3.html') Form style 3
                        li
                          a(href='#') Register
                          ul.dropdown
                            li
                              a(href='form-register-style1.html') Form style 1
                            li
                              a(href='form-register-style2.html') Form style 2
                            li
                              a(href='form-register-style3.html') Form style 3
                    li
                      a(href='#') Subscribe Form
                      ul.dropdown
                        li
                          a(href='form-subscribe.html') Form style 1
                    li
                      a(href='#') Appointment Form
                      ul.dropdown
                        li
                          a(href='form-appointment-style1.html') Form style 1
                        li
                          a(href='form-appointment-style2.html') Form style 2
                        li
                          a(href='form-appointment-style3.html') Form style 3
                    li
                      a(href='#') Job Apply Form
                      ul.dropdown
                        li
                          a(href='form-job-apply-style1.html') Form style 1
                        li
                          a(href='form-job-apply-style2.html') Form style 2
                        li
                          a(href='form-job-apply-style3.html') Form style 3
                    li
                      a(href='#') Quick Contact Form
                      ul.dropdown
                        li
                          a(href='form-quick-contact-style1.html') Form style 1
                        li
                          a(href='form-quick-contact-style2.html') Form style 2
                        li
                          a(href='form-quick-contact-style3.html') Form style 3
                li
                  a(href='#')
                    | Paypal Form 
                    span.label.label-success New
                  ul.dropdown
                    li
                      a(href='#') Donation Onetime
                      ul.dropdown
                        li
                          a(href='form-paypal-donate-onetime-style1.html') Style1
                        li
                          a(href='form-paypal-donate-onetime-style2.html') Style2
                        li
                          a(href='form-paypal-donate-onetime-style3.html') Style3
                        li
                          a(href='form-paypal-donate-onetime-style4.html') Style4
                        li
                          a(href='form-paypal-donate-onetime-style5.html') Style5
                        li
                          a(href='form-paypal-donate-onetime-style6.html') Style6
                        li
                          a(href='form-paypal-donate-onetime-style7.html') Style7
                    li
                      a(href='#') Donation Recurring
                      ul.dropdown
                        li
                          a(href='form-paypal-donate-recurring-style1.html') Style1
                        li
                          a(href='form-paypal-donate-recurring-style2.html')  Style2
                        li
                          a(href='form-paypal-donate-recurring-style3.html') Style3
                        li
                          a(href='form-paypal-donate-recurring-style4.html') Style4
                        li
                          a(href='form-paypal-donate-recurring-style5.html') Style5
                    li
                      a(href='#') Both Onetime/Recurring
                      ul.dropdown
                        li
                          a(href='form-paypal-donate-both-onetime-recurring-style1.html') Style1
                        li
                          a(href='form-paypal-donate-both-onetime-recurring-style2.html') Style2
                        li
                          a(href='form-paypal-donate-both-onetime-recurring-style3.html') Style3
                        li
                          a(href='form-paypal-donate-both-onetime-recurring-style4.html') Style4
                    li
                      a(href='form-paypal-cart-style1.html') Cart Payment
                    li
                      a(href='form-paypal-order-style1.html') Order Payment Style1
                    li
                      a(href='form-paypal-order-style2.html') Order Payment Style2
                li
                  a(href='#')
                    | Popup Promo Box 
                    span.label.label-success New
                  ul.dropdown
                    li
                      a(href='features-popup-promo-box.html') Default
                    li
                      a(href='features-popup-promo-box-cookie-enabled.html') Cookie Enabled
                li
                  a(href='#') Footer
                  ul.dropdown
                    li
                      a(href='#') Footer Dark
                      ul.dropdown
                        li
                          a(href='features-footer-dark-style1.html#footer') Footer Dark One
                        li
                          a(href='features-footer-dark-style2.html#footer') Footer Dark Two
                        li
                          a(href='features-footer-dark-style3.html#footer') Footer Dark Three
                        li
                          a(href='features-footer-dark-style4.html#footer') Footer Dark Four
                        li
                          a(href='features-footer-dark-style5.html#footer') Footer Dark Five
                        li
                          a(href='features-footer-dark-style6.html#footer') Footer Dark Six
                    li
                      a(href='#') Footer White
                      ul.dropdown
                        li
                          a(href='features-footer-white-style1.html#footer') Footer White One
                        li
                          a(href='features-footer-white-style2.html#footer') Footer White Two
                        li
                          a(href='features-footer-white-style3.html#footer') Footer White Three
                        li
                          a(href='features-footer-white-style4.html#footer') Footer White Four
                        li
                          a(href='features-footer-white-style5.html#footer') Footer White Five
                        li
                          a(href='features-footer-white-style6.html#footer') Footer White Six
            li
              a(href='#') Pages
              ul.dropdown
                li
                  a(href='#') About
                  ul.dropdown
                    li
                      a(href='page-about1.html') About Style1
                    li
                      a(href='page-about2.html') About Style2
                    li
                      a(href='page-about3.html') About Style3
                li
                  a(href='#') Services
                  ul.dropdown
                    li
                      a(href='page-services1.html') Services Style1
                    li
                      a(href='page-services2.html') Services Style2
                    li
                      a(href='page-service-details.html') Services Details
                li
                  a(href='page-appointment.html') Appointment
                li
                  a(href='#') FAQ
                  ul.dropdown
                    li
                      a(href='page-faq-style1.html') FAQ Style1
                    li
                      a(href='page-faq-style2.html') FAQ Style2
                    li
                      a(href='page-faq-style3.html') FAQ Style3
                    li
                      a(href='page-faq-style4.html') FAQ Style4
                li
                  a(href='#') Contact
                  ul.dropdown
                    li
                      a(href='page-contact1.html') Contact Style1
                    li
                      a(href='page-contact2.html') Contact Style2
                    li
                      a(href='page-contact3.html') Contact Style3
                    li
                      a(href='page-contact4.html') Contact Style4
                li
                  a(href='#') Calender
                  ul.dropdown
                    li
                      a(href='page-calender1.html') Calender Style1
                    li
                      a(href='page-calender2.html') Calender Style2
                li
                  a(href='#') Events
                  ul.dropdown
                    li
                      a(href='#') Events Calendar
                      ul.dropdown
                        li
                          a(href='events-calendar-style1.html') Calendar Style1
                        li
                          a(href='events-calendar-style2.html') Calendar Style1
                    li
                      a(href='#') Events Grid
                      ul.dropdown
                        li
                          a(href='events-grid-2column.html') Grid 2column
                        li
                          a(href='events-grid-3column.html') Grid 3column
                        li
                          a(href='events-grid-4column.html') Grid 4column
                        li
                          a(href='events-grid-left-sidebar.html') Grid Left Sidebar
                        li
                          a(href='events-grid-right-sidebar.html') Grid Right Sidebar
                    li
                      a(href='#') Events List
                      ul.dropdown
                        li
                          a(href='events-list-left-sidebar.html') List Left Sidebar
                        li
                          a(href='events-list-right-sidebar.html') List Right Sidebar
                        li
                          a(href='events-list-no-sidebar.html') List No Sidebar
                    li
                      a(href='#') Events Details
                      ul.dropdown
                        li
                          a(href='events-details-style1.html') Details Style1
                        li
                          a(href='events-details-style2.html') Details Style2
                        li
                          a(href='events-details-style3.html') Details Style3
                    li
                      a(href='events-table.html') Events Table
                li
                  a(href='#')
                    | Job 
                    span.label.label-success New
                  ul.dropdown
                    li
                      a(href='job-list.html') Job List
                    li
                      a(href='job-details-style1.html') Job Details Style1
                    li
                      a(href='job-details-style2.html') Job Details Style2
                li
                  a(href='#') Pricing
                  ul.dropdown
                    li
                      a(href='page-pricing1.html') Pricing Style1
                    li
                      a(href='page-pricing2.html') Pricing Style2
                    li
                      a(href='page-pricing3.html') Pricing Style3
                li
                  a(href='page-about4.html') Page with Sidebar
                  ul.dropdown
                    li
                      a(href='page-sidebar-right.html') Page Right Sidebar
                    li
                      a(href='page-sidebar-left.html') Page Left Sidebar
                li
                  a(href='#') Photo Gallery
                  ul.dropdown
                    li
                      a(href='photo-gallery-grid.html') Gallery Grid
                    li
                      a(href='photo-gallery-masonry-tiles.html') Gallery Masonry Tiles
                li
                  a(href='#')
                    | Shop 
                    span.label.label-success New
                  ul.dropdown
                    li
                      a(href='shop-category.html') Category
                    li
                      a(href='shop-category-sidebar.html') Category Sidebar
                    li
                      a(href='shop-product-details.html') Product Details
                    li
                      a(href='shop-cart.html') Cart
                    li
                      a(href='shop-checkout.html') Checkout
                li
                  a(href='#') Page 404
                  ul.dropdown
                    li
                      a(href='page-404-style1.html') Style1
                    li
                      a(href='page-404-style2.html') Style2
                    li
                      a(href='page-404-style3.html') Style3
                li
                  a(href='#') Under Construction
                  ul.dropdown
                    li
                      a(href='page-under-construction-style1.html') Style1
                    li
                      a(href='page-under-construction-style2.html') Style2
                    li
                      a(href='page-under-construction-style3.html') Style3
                li
                  a(href='#') Coming Soon
                  ul.dropdown
                    li
                      a(href='page-coming-soon-style1.html') Style1
                    li
                      a(href='page-coming-soon-style2.html') Style2
                    li
                      a(href='page-coming-soon-style3.html') Style3
            li
              a(href='#')
                | Portfolio 
                span.label.label-success New
              ul.dropdown
                li
                  a(href='#') Boxed
                  ul.dropdown
                    li
                      a(href='#') Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-boxed-gutter-1-col.html') 1 Column
                        li
                          a(href='portfolio-boxed-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-boxed-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-boxed-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-boxed-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-boxed-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-boxed-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-boxed-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-boxed-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-boxed-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-boxed-1-col.html') 1 Column
                        li
                          a(href='portfolio-boxed-2-col.html') 2 Columns
                        li
                          a(href='portfolio-boxed-3-col.html') 3 Columns
                        li
                          a(href='portfolio-boxed-4-col.html') 4 Columns
                        li
                          a(href='portfolio-boxed-5-col.html') 5 Columns
                        li
                          a(href='portfolio-boxed-6-col.html') 6 Columns
                        li
                          a(href='portfolio-boxed-7-col.html') 7 Columns
                        li
                          a(href='portfolio-boxed-8-col.html') 8 Columns
                        li
                          a(href='portfolio-boxed-9-col.html') 9 Columns
                        li
                          a(href='portfolio-boxed-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-boxed-title-gutter-1-col.html') 1 Column
                        li
                          a(href='portfolio-boxed-title-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-boxed-title-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-boxed-title-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-boxed-title-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-boxed-title-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-boxed-title-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-boxed-title-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-boxed-title-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-boxed-title-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-boxed-title-1-col.html') 1 Column
                        li
                          a(href='portfolio-boxed-title-2-col.html') 2 Columns
                        li
                          a(href='portfolio-boxed-title-3-col.html') 3 Columns
                        li
                          a(href='portfolio-boxed-title-4-col.html') 4 Columns
                        li
                          a(href='portfolio-boxed-title-5-col.html') 5 Columns
                        li
                          a(href='portfolio-boxed-title-6-col.html') 6 Columns
                        li
                          a(href='portfolio-boxed-title-7-col.html') 7 Columns
                        li
                          a(href='portfolio-boxed-title-8-col.html') 8 Columns
                        li
                          a(href='portfolio-boxed-title-9-col.html') 9 Columns
                        li
                          a(href='portfolio-boxed-title-10-col.html') 10 Columns
                li
                  a(href='#') Wide
                  ul.dropdown
                    li
                      a(href='#') Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-wide-gutter-1-col.html') 1 Column
                        li
                          a(href='portfolio-wide-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-wide-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-wide-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-wide-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-wide-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-wide-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-wide-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-wide-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-wide-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-wide-1-col.html') 1 Column
                        li
                          a(href='portfolio-wide-2-col.html') 2 Columns
                        li
                          a(href='portfolio-wide-3-col.html') 3 Columns
                        li
                          a(href='portfolio-wide-4-col.html') 4 Columns
                        li
                          a(href='portfolio-wide-5-col.html') 5 Columns
                        li
                          a(href='portfolio-wide-6-col.html') 6 Columns
                        li
                          a(href='portfolio-wide-7-col.html') 7 Columns
                        li
                          a(href='portfolio-wide-8-col.html') 8 Columns
                        li
                          a(href='portfolio-wide-9-col.html') 9 Columns
                        li
                          a(href='portfolio-wide-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-wide-title-gutter-1-col.html') 1 Column
                        li
                          a(href='portfolio-wide-title-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-wide-title-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-wide-title-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-wide-title-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-wide-title-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-wide-title-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-wide-title-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-wide-title-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-wide-title-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-wide-title-1-col.html') 1 Column
                        li
                          a(href='portfolio-wide-title-2-col.html') 2 Columns
                        li
                          a(href='portfolio-wide-title-3-col.html') 3 Columns
                        li
                          a(href='portfolio-wide-title-4-col.html') 4 Columns
                        li
                          a(href='portfolio-wide-title-5-col.html') 5 Columns
                        li
                          a(href='portfolio-wide-title-6-col.html') 6 Columns
                        li
                          a(href='portfolio-wide-title-7-col.html') 7 Columns
                        li
                          a(href='portfolio-wide-title-8-col.html') 8 Columns
                        li
                          a(href='portfolio-wide-title-9-col.html') 9 Columns
                        li
                          a(href='portfolio-wide-title-10-col.html') 10 Columns
                li
                  a(href='#') Masonry Boxed
                  ul.dropdown
                    li
                      a(href='#') Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-masonry-boxed-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-masonry-boxed-2-col.html') 2 Columns
                        li
                          a(href='portfolio-masonry-boxed-3-col.html') 3 Columns
                        li
                          a(href='portfolio-masonry-boxed-4-col.html') 4 Columns
                        li
                          a(href='portfolio-masonry-boxed-5-col.html') 5 Columns
                        li
                          a(href='portfolio-masonry-boxed-6-col.html') 6 Columns
                        li
                          a(href='portfolio-masonry-boxed-7-col.html') 7 Columns
                        li
                          a(href='portfolio-masonry-boxed-8-col.html') 8 Columns
                        li
                          a(href='portfolio-masonry-boxed-9-col.html') 9 Columns
                        li
                          a(href='portfolio-masonry-boxed-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-2-col.html') 2 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-3-col.html') 3 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-4-col.html') 4 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-5-col.html') 5 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-6-col.html') 6 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-7-col.html') 7 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-8-col.html') 8 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-9-col.html') 9 Columns
                        li
                          a(href='portfolio-masonry-boxed-gutter-title-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-masonry-boxed-title-2-col.html') 2 Columns
                        li
                          a(href='portfolio-masonry-boxed-title-3-col.html') 3 Columns
                        li
                          a(href='portfolio-masonry-boxed-title-4-col.html') 4 Columns
                        li
                          a(href='portfolio-masonry-boxed-title-5-col.html') 5 Columns
                        li
                          a(href='portfolio-masonry-boxed-title-6-col.html') 6 Columns
                        li
                          a(href='portfolio-masonry-boxed-title-7-col.html') 7 Columns
                        li
                          a(href='portfolio-masonry-boxed-title-8-col.html') 8 Columns
                        li
                          a(href='portfolio-masonry-boxed-title-9-col.html') 9 Columns
                        li
                          a(href='portfolio-masonry-boxed-title-10-col.html') 10 Columns
                li
                  a(href='#') Masonry Wide
                  ul.dropdown
                    li
                      a(href='#') Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-masonry-wide-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-masonry-wide-2-col.html') 2 Columns
                        li
                          a(href='portfolio-masonry-wide-3-col.html') 3 Columns
                        li
                          a(href='portfolio-masonry-wide-4-col.html') 4 Columns
                        li
                          a(href='portfolio-masonry-wide-5-col.html') 5 Columns
                        li
                          a(href='portfolio-masonry-wide-6-col.html') 6 Columns
                        li
                          a(href='portfolio-masonry-wide-7-col.html') 7 Columns
                        li
                          a(href='portfolio-masonry-wide-8-col.html') 8 Columns
                        li
                          a(href='portfolio-masonry-wide-9-col.html') 9 Columns
                        li
                          a(href='portfolio-masonry-wide-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Title - Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-masonry-wide-gutter-title-2-col.html') 2 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-title-3-col.html') 3 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-title-4-col.html') 4 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-title-5-col.html') 5 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-title-6-col.html') 6 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-title-7-col.html') 7 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-title-8-col.html') 8 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-title-9-col.html') 9 Columns
                        li
                          a(href='portfolio-masonry-wide-gutter-title-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Title - Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-masonry-wide-title-2-col.html') 2 Columns
                        li
                          a(href='portfolio-masonry-wide-title-3-col.html') 3 Columns
                        li
                          a(href='portfolio-masonry-wide-title-4-col.html') 4 Columns
                        li
                          a(href='portfolio-masonry-wide-title-5-col.html') 5 Columns
                        li
                          a(href='portfolio-masonry-wide-title-6-col.html') 6 Columns
                        li
                          a(href='portfolio-masonry-wide-title-7-col.html') 7 Columns
                        li
                          a(href='portfolio-masonry-wide-title-8-col.html') 8 Columns
                        li
                          a(href='portfolio-masonry-wide-title-9-col.html') 9 Columns
                        li
                          a(href='portfolio-masonry-wide-title-10-col.html') 10 Columns
                li
                  a(href='#') Tiles Boxed
                  ul.dropdown
                    li
                      a(href='#') Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-tiles-boxed-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-tiles-boxed-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-tiles-boxed-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-tiles-boxed-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-tiles-boxed-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-tiles-boxed-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-tiles-boxed-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-tiles-boxed-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-tiles-boxed-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-tiles-boxed-2-col.html') 2 Columns
                        li
                          a(href='portfolio-tiles-boxed-3-col.html') 3 Columns
                        li
                          a(href='portfolio-tiles-boxed-4-col.html') 4 Columns
                        li
                          a(href='portfolio-tiles-boxed-5-col.html') 5 Columns
                        li
                          a(href='portfolio-tiles-boxed-6-col.html') 6 Columns
                        li
                          a(href='portfolio-tiles-boxed-7-col.html') 7 Columns
                        li
                          a(href='portfolio-tiles-boxed-8-col.html') 8 Columns
                        li
                          a(href='portfolio-tiles-boxed-9-col.html') 9 Columns
                        li
                          a(href='portfolio-tiles-boxed-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-tiles-boxed-title-2-col.html') 2 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-3-col.html') 3 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-4-col.html') 4 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-5-col.html') 5 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-6-col.html') 6 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-7-col.html') 7 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-8-col.html') 8 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-9-col.html') 9 Columns
                        li
                          a(href='portfolio-tiles-boxed-title-10-col.html') 10 Columns
                li
                  a(href='#') Tiles Wide
                  ul.dropdown
                    li
                      a(href='#') Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-tiles-wide-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-tiles-wide-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-tiles-wide-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-tiles-wide-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-tiles-wide-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-tiles-wide-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-tiles-wide-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-tiles-wide-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-tiles-wide-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-tiles-wide-2-col.html') 2 Columns
                        li
                          a(href='portfolio-tiles-wide-3-col.html') 3 Columns
                        li
                          a(href='portfolio-tiles-wide-4-col.html') 4 Columns
                        li
                          a(href='portfolio-tiles-wide-5-col.html') 5 Columns
                        li
                          a(href='portfolio-tiles-wide-6-col.html') 6 Columns
                        li
                          a(href='portfolio-tiles-wide-7-col.html') 7 Columns
                        li
                          a(href='portfolio-tiles-wide-8-col.html') 8 Columns
                        li
                          a(href='portfolio-tiles-wide-9-col.html') 9 Columns
                        li
                          a(href='portfolio-tiles-wide-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter
                      ul.dropdown
                        li
                          a(href='portfolio-tiles-wide-title-gutter-2-col.html') 2 Columns
                        li
                          a(href='portfolio-tiles-wide-title-gutter-3-col.html') 3 Columns
                        li
                          a(href='portfolio-tiles-wide-title-gutter-4-col.html') 4 Columns
                        li
                          a(href='portfolio-tiles-wide-title-gutter-5-col.html') 5 Columns
                        li
                          a(href='portfolio-tiles-wide-title-gutter-6-col.html') 6 Columns
                        li
                          a(href='portfolio-tiles-wide-title-gutter-7-col.html') 7 Columns
                        li
                          a(href='portfolio-tiles-wide-title-gutter-8-col.html') 8 Columns
                        li
                          a(href='portfolio-tiles-wide-title-gutter-9-col.html') 9 Columns
                        li
                          a(href='portfolio-tiles-wide-title-gutter-10-col.html') 10 Columns
                    li
                      a(href='#') Title - Gutter Less
                      ul.dropdown
                        li
                          a(href='portfolio-tiles-wide-title-2-col.html') 2 Columns
                        li
                          a(href='portfolio-tiles-wide-title-3-col.html') 3 Columns
                        li
                          a(href='portfolio-tiles-wide-title-4-col.html') 4 Columns
                        li
                          a(href='portfolio-tiles-wide-title-5-col.html') 5 Columns
                        li
                          a(href='portfolio-tiles-wide-title-6-col.html') 6 Columns
                        li
                          a(href='portfolio-tiles-wide-title-7-col.html') 7 Columns
                        li
                          a(href='portfolio-tiles-wide-title-8-col.html') 8 Columns
                        li
                          a(href='portfolio-tiles-wide-title-9-col.html') 9 Columns
                        li
                          a(href='portfolio-tiles-wide-title-10-col.html') 10 Columns
                li
                  a(href='#') Loading Styles
                  ul.dropdown
                    li
                      a(href='portfolio-extra-infinity-scroll.html') Infinity Scroll
                    li
                      a(href='portfolio-extra-infinity-scroll-lazyload.html') Infinity Scroll Lazyload
                    li
                      a(href='portfolio-extra-pagination.html') Pagination
                    li
                      a(href='portfolio-extra-jquery-pagination.html') Pagination Jquery
                li
                  a(href='#') Single
                  ul.dropdown
                    li
                      a(href='portfolio-details-image.html') With - Image
                    li
                      a(href='portfolio-details-image-gallery.html') With - Image Gallery
                    li
                      a(href='portfolio-details-video-gallery.html') With - Video Gallery
            li
              a(href='#home') Doctors
              ul.dropdown
                li
                  a(href='page-doctors1.html') Doctors Style1
                li
                  a(href='page-doctors2.html') Doctors Style2
                li
                  a(href='page-doctors3.html') Doctors Style3
                li
                  a(href='page-doctor-details.html') Doctors Details
            li
              a(href='javascript:void(0)') Blog
              .megamenu
                .megamenu-row
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        h5.pl-10
                          strong Classic:
                      li
                        a(href='blog-classic-right-sidebar.html') Right Sidebar
                      li
                        a(href='blog-classic-left-sidebar.html') Left Sidebar
                      li
                        a(href='blog-classic-both-sidebar.html') Both Sidebar
                      li
                        a(href='blog-classic-no-sidebar.html') No Sidebar
                      li
                        a(href='blog-classic-small-thumbs.html') Small Thumbs
                      li
                        h6.pl-10
                          strong Extra:
                      li
                        a(href='blog-timeline.html') Timeline
                      li
                        a(href='blog-timeline-masonry.html') Timeline Masonry
                      li
                        a(href='blog-extra-infinity-scroll.html') Infinity Scroll
                      li
                        a(href='blog-extra-infinity-scroll-lazyload.html') Infinity Scroll + Lazyload
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        h5.pl-10
                          strong Grid:
                      li
                        a(href='blog-grid-2-column.html') 2 Columns
                      li
                        a(href='blog-grid-3-column.html') 3 Columns
                      li
                        a(href='blog-grid-4-column.html') 4 Columns
                      li
                        h6.text-black.font-weight-600.pl-10 Full Width:
                      li
                        a(href='blog-grid-width-2-column.html') 2 Columns
                      li
                        a(href='blog-grid-width-3-column.html') 3 Columns
                      li
                        a(href='blog-grid-width-4-column.html') 4 Columns
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        h5.pl-10
                          strong Masonry:
                      li
                        a(href='blog-masonry-2-column.html') 2 Columns
                      li
                        a(href='blog-masonry-3-column.html') 3 Columns
                      li
                        a(href='blog-masonry-4-column.html') 4 Columns
                      li
                        h6.text-black.font-weight-600.pl-10 Full Width:
                      li
                        a(href='blog-masonry-width-2-column.html') 2 Columns
                      li
                        a(href='blog-masonry-width-3-column.html') 3 Columns
                      li
                        a(href='blog-masonry-width-4-column.html') 4 Columns
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        h5.pl-10
                          strong Single:
                      li
                        a(href='blog-single-right-sidebar.html') Right Sidebar
                      li
                        a(href='blog-single-left-sidebar.html') Left Sidebar
                      li
                        a(href='blog-single-both-sidebar.html') Both Sidebar
                      li
                        a(href='blog-single-no-sidebar.html') No Sidebar
                      li
                        h6.text-black.font-weight-600.pl-10 Comments Plugins:
                      li
                        a(href='blog-single-facebook-comments.html#comments') Facebook Comments
                      li
                        a(href='blog-single-disqus-comments.html#comments') Disqus Comments
            li
              a(href='javascript:void(0)') Mega Menu
              .megamenu
                .megamenu-row
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        h5.pl-10
                          strong Quick Links:
                      li
                        a(href='#') Privacy Policy
                      li
                        a(href='#') Donor Privacy Policy
                      li
                        a(href='#') Disclaimer
                      li
                        a(href='#') Terms of Use
                      li
                        a(href='#') Copyright Notice
                      li
                        a(href='#') Media Center
                      li
                        a(href='#') Privacy Policy
                      li
                        a(href='#') Donor Privacy Policy
                  .col5
                    h5
                      strong Featured News:
                    article.post.clearfix
                      .entry-header
                        .post-thumb
                          img.img-responsive(src='http://placehold.it/360x200', alt='')
                        h4.entry-title
                          a(href='#') Bankruptcy Rights Proceedings
                      .entry-content
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua
                        a.btn.btn-default.btn-xs(href='#') read more..
                  .col4
                    h5
                      strong Latest News:
                    .list-dashed
                      article.post.media-post.clearfix.pb-0.mb-10
                        a.post-thumb(href='#')
                          img(alt='', src='http://placehold.it/75x75')
                        .post-right
                          h5.post-title.mt-0
                            a(href='#') Bankruptcy Rights Proceedings
                          p Oct 23, 2015
                      article.post.media-post.clearfix.pb-0.mb-10
                        a.post-thumb(href='#')
                          img(alt='', src='http://placehold.it/75x75')
                        .post-right
                          h5.post-title.mt-0
                            a(href='#') Assertive and Persistent Advocacy
                          p Jun 23, 2015
                      article.post.media-post.clearfix.pb-0.mb-10
                        a.post-thumb(href='#')
                          img(alt='', src='http://placehold.it/75x75')
                        .post-right
                          h5.post-title.mt-0
                            a(href='#') Government Contracts Procurement
                          p Apr 15, 2015
                      article.post.media-post.clearfix.pb-0.mb-10
                        a.post-thumb(href='#')
                          img(alt='', src='http://placehold.it/75x75')
                        .post-right
                          h5.post-title.mt-0
                            a(href='#') Criminal Defence Advocacy
                          p Mar 08, 2015
            li
              a(href='javascript:void(0)') Shortcodes
              .megamenu
                .megamenu-row
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        a(href='shortcode-accordion.html')
                          i.fa.fa-list-ul
                          |  Accordion
                      li
                        a(href='shortcode-alerts.html')
                          i.fa.fa-exclamation-circle
                          |  Alerts
                      li
                        a(href='shortcode-animations.html')
                          i.fa.fa-magic
                          |  Animations
                      li
                        a(href='shortcode-background-html5-video.html')
                          i.fa.fa-video-camera
                          |  HTML5 Background Video
                      li
                        a(href='shortcode-blockquotes.html')
                          i.fa.fa-quote-right
                          |  Blockquotes
                      li
                        a(href='shortcode-button-groups-and-dropdowns.html')
                          i.fa.fa-link
                          |  Button Groups
                      li
                        a(href='shortcode-button-hover-effect.html')
                          i.fa.fa-flag-o
                          |  Button Hover Effect
                      li
                        a(href='shortcode-buttons.html')
                          i.fa.fa-external-link
                          |  Buttons
                      li
                        a(href='shortcode-call-to-actions.html')
                          i.fa.fa-plus-square
                          |  Call To Actions
                      li
                        a(href='shortcode-charts.html')
                          i.fa.fa-pie-chart
                          |  Charts
                      li
                        a(href='shortcode-columns-grids.html')
                          i.fa.fa-columns
                          |  Columns Grids
                      li
                        a(href='shortcode-divider.html')
                          i.fa.fa-indent
                          |  Divider
                      li
                        a(href='shortcode-dropcaps.html')
                          i.fa.fa-bold
                          |  Dropcaps
                      li
                        a(href='shortcode-datetime-datepicker.html')
                          i.fa.fa-calendar
                          |  Date Picker
                      li
                        a(href='shortcode-datetime-timepicker.html')
                          i.fa.fa-calendar
                          |  Time Picker
                      li
                        a(href='shortcode-datetime-datetimepicker.html')
                          i.fa.fa-calendar
                          |  Bootstrap Date-Time Picker
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        a(href='shortcode-datetime-datepair.html')
                          i.fa.fa-calendar
                          |  Date Pair
                      li
                        a(href='shortcode-flex-sliders.html')
                          i.fa.fa-sliders
                          |  Flex Sliders
                      li
                        a(href='shortcode-flickr-feed.html')
                          i.fa.fa-sliders
                          |  Flickr Feed
                      li
                        a(href='shortcode-flipbox.html')
                          i.fa.fa-square
                          |  Flipbox
                      li
                        a(href='shortcode-forms.html')
                          i.fa.fa-align-justify
                          |  Forms
                      li
                        a(href='shortcode-funfacts.html')
                          i.fa.fa-eye-slash
                          |  Funfacts
                      li
                        a(href='shortcode-iconbox.html')
                          i.fa.fa-unsorted
                          |  Icon Box
                      li
                        a(href='shortcode-icon-7stroke.html')
                          i.fa.fa-circle-o
                          |  Icons 7stroke
                      li
                        a(href='shortcode-icon-elegant-icons.html')
                          i.fa.fa-eye-slash
                          |  Icons Elegant
                      li
                        a(href='shortcode-icon-flat-color-icons.html')
                          i.fa.fa-i-cursor
                          |  Icons Flat Color
                      li
                        a(href='shortcode-icon-fontawesome.html')
                          i.fa.fa-fort-awesome
                          |  Icons FontAwesome
                      li
                        a(href='shortcode-icon-fontawesome-tutorial.html')
                          i.fa.fa-fonticons
                          |  Icons FontAwesome Tutorial
                      li
                        a(href='shortcode-icon-strokegap.html')
                          span.strokegap-icon.strokegap-icon-WorldWide
                          |  Icons Strokegap
                      li
                        a(href='shortcode-image-box.html')
                          i.fa.fa-file-image-o
                          |  Image Box
                      li
                        a(href='shortcode-instagram.html')
                          i.fa.fa-instagram
                          |  Instagram Feed
                      li
                        a(href='shortcode-labels-badges.html')
                          i.fa.fa-check-square-o
                          |  Labels Badges
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        a(href='shortcode-listgroup-panels.html')
                          i.fa.fa-th-list
                          |  Listgroup Panels
                      li
                        a(href='shortcode-lists.html')
                          i.fa.fa-list
                          |  Lists
                      li
                        a(href='shortcode-maps.html')
                          i.fa.fa-map-o
                          |  Maps
                      li
                        a(href='shortcode-master-sliders.html')
                          i.fa.fa-sliders
                          |  Master Sliders
                      li
                        a(href='shortcode-media-embed.html')
                          i.fa.fa-play-circle-o
                          |  Media Embed
                      li
                        a(href='shortcode-modal-bootstrap.html')
                          i.fa.fa-search-plus
                          |  Modal
                      li
                        a(href='shortcode-modal-lightbox.html')
                          i.fa.fa-expand
                          |  Lightbox
                      li
                        a(href='shortcode-navigation.html')
                          i.fa.fa-navicon
                          |  Navigation
                      li
                        a(href='shortcode-owl-carousel.html')
                          i.fa.fa-sliders
                          |  Owl Carousel
                      li
                        a(href='shortcode-pagination.html')
                          i.fa.fa-arrow-circle-o-right
                          |  Pagination
                      li
                        a(href='shortcode-pricing-tables.html')
                          i.fa.fa-dollar
                          |  Pricing Tables
                      li
                        a(href='shortcode-progressbar.html')
                          i.fa.fa-tasks
                          |  Progress Bars
                      li
                        a(href='shortcode-responsive.html')
                          i.fa.fa-tablet
                          |  Responsive
                      li
                        a(href='shortcode-separator.html')
                          i.fa.fa-minus-square-o
                          |  Separator
                      li
                        a(href='shortcode-sitemap.html')
                          i.fa.fa-sitemap
                          |  Sitemap
                      li
                        a(href='shortcode-sliders.html')
                          i.fa.fa-sliders
                          |  Sliders
                  .col3
                    ul.list-unstyled.list-dashed
                      li
                        a(href='shortcode-smoothscrolling.html')
                          i.fa.fa-binoculars
                          |  Smoothscrolling
                      li
                        a(href='shortcode-social-icons.html')
                          i.fa.fa-facebook-square
                          |  Social Icons
                      li
                        a(href='shortcode-subscribe.html')
                          i.fa.fa-user-plus
                          |  Subscribe
                      li
                        a(href='shortcode-tables.html')
                          i.fa.fa-table
                          |  Tables
                      li
                        a(href='shortcode-tabs.html')
                          i.fa.fa-indent
                          |  Tabs
                      li
                        a(href='shortcode-textblock.html')
                          i.fa.fa-bold
                          |  Textblock
                      li
                        a(href='shortcode-thumbnails-carousels.html')
                          i.fa.fa-sliders
                          |  Thumbnails/carousels
                      li
                        a(href='shortcode-title.html')
                          i.fa.fa-text-height
                          |  Title
                      li
                        a(href='shortcode-timer-final-countdown.html')
                          i.fa.fa-text-height
                          |  Timer Final Countdown
                      li
                        a(href='shortcode-timer-flipclock.html')
                          i.fa.fa-text-height
                          |  Timer Flipclock
                      li
                        a(href='shortcode-timer-slick-circular.html')
                          i.fa.fa-text-height
                          |  Timer Slick Circular
                      li
                        a(href='shortcode-twitter.html')
                          i.fa.fa-twitter-square
                          |  Twitter Feed
                      li
                        a(href='shortcode-typography.html')
                          i.fa.fa-font
                          |  Typography
                      li
                        a(href='shortcode-vertical-timeline.html')
                          i.fa.fa-arrows-v
                          |  Vertical Timeline
                      li
                        a(href='shortcode-widgets.html')
                          i.fa.fa-gift
                          |  Widgets
                      li
                        a(href='shortcode-working-process.html')
                          i.fa.fa-exchange
                          |  Working Process
