extends ../layouts/layout

block head
  title #{application} &middot; Help

block styles
  link(rel='stylesheet', href='/css/page-privacy.min.css')
  style.
    h2 {
      text-align: center;
      color: blue;
    }

block content

  .container
    .row
      .col-sm-12.col-md-10
        h2 #{application} HELP
        br
        p This page is currently under development.
