extends ../layouts/layout

block head
  title #{application} &middot; Help

block styles
  link(rel='stylesheet', href='/css/page-privacy.min.css')

block content

  .container
    .row
      .col-sm-12.col-md-10
        h2 #{application} HELP
        p TODO: Fill with content
