.w-mdocs(data-w-id=id, data-width=width)
noscript
  a(href='/w/c?'+id)
    img(src='app/img/widgets/'+width+'/noscript.png', alt='Top Rated Practice by MDOCS', srcset='app/img/widgets/'+ width +'/noscript@2x.png 2x, app/img/widgets/'+ width +'/noscript@3x.png 3x')
