doctype html
html
  head
    title Patient Reviews: #{data.type} Proposal for #{data.name}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    meta(name='robots', content='noindex,nofollow')
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')
  body
    main.main(role='main')
      .container
        script(type='application/json', id='reviewCardData') !{JSON.stringify(data.reviewCardData, null, 2)}
        include ./partials/coverPage.pug
        include ./partials/tableOfContents.pug
        include ./partials/executiveSummary.pug
        include ./partials/industryResearch.pug
        include ./partials/usDifferent.pug
        script(src='https://cdn.polyfill.io/v2/polyfill.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js')
        include ./partials/reviewCard.pug
        include ./partials/recentReviews.pug

        script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js')
        link(rel='stylesheet', type='text/css', href='vendor/mapicon/css/map-icons.min.css')
        include ./partials/competitorsMap.pug
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCKJes8GVG8WXULPuwx17muLOSVWyharEM&callback=initCompetitorsMap')
        script(type='text/javascript', src='vendor/mapicon/js/map-icons.js')

        //- include ./partials/reportCard.pug
        //- include ./partials/competitiveAnalysis.pug

        script(src='vendor/chartist/dist/chartist.min.js')
        script(src='vendor/chartist-plugin-accessibility/dist/chartist-plugin-accessibility.min.js')
        script(src='vendor/chartist-plugin-fill-donut/dist/chartist-plugin-fill-donut.min.js')
        script(src='vendor/chartist-plugin-threshold/dist/chartist-plugin-threshold.min.js')
        script(src='vendor/chartist-plugin-pointlabels/dist/chartist-plugin-pointlabels.min.js')
        script(src='vendor/chartist-plugin-axistitle/dist/chartist-plugin-axistitle.min.js')
        script(src='vendor/chartist-plugin-legend/chartist-plugin-legend.js')
        link(rel='stylesheet', href='vendor/chartist/dist/chartist.min.css')
        include ./partials/financialProjections.pug
        //- include ./partials/financialProjection.pug
        include ./partials/gamePlan.pug
        include ./partials/softwareServiceHybrid.pug
        include ./partials/howItWorks.pug
        include ./partials/whatsIncluded.pug
        include ./partials/ourReviews.pug
        include ./partials/sectionPage.pug
        include ./partials/ourAwards.pug
        //- include ./partials/smbPartner.pug
        include ./partials/finalComments.pug
    block scripts
