<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Pages
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="#/dashboard">Home</a></li>
                <li>Website Content</li>
                <li>Pages</li>
            </ol>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
      <div ng-repeat="page in websiteContent.pages track by page.id" class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
        <div class="img-container fx-img-rotate-r">
          <h3 class="font-w400 push-5">{{page.name}}</h3>
            <img class="img-responsive" src="assets/img/photos/photo17.jpg" alt="">
            <div class="img-options">
                <div class="img-options-content">
                    <h3 class="font-w400 text-white push-5">{{page.name}}</h3>
                    <h4 class="h6 font-w400 text-white-op push-15">{{page.content}}</h4>
                    <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo17@2x.jpg">
                        <i class="fa fa-search-plus"></i> View
                    </a>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                        <a class="btn btn-default" ng-click="deletePage(page.id)"><i class="fa fa-times"></i> Delete</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
