<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Website Settings
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a class="link-effect" href="#/dashboard">Home</a></li>
                <li>Settings</li>
                <li>Website</li>
            </ol>
        </div>
    </div>
</div>

<div class="content">


    <div class="row">
      <div class="col-xs-6">

        <form class="js-validation-bootstrap form-horizontal ng-pristine ng-valid" action="index.html" method="post" novalidate="novalidate">
            
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-practiceName">Practice name <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="val-practiceName" ng-model="websiteEditor.settings.practiceName" placeholder="Please enter a practice name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="val-practiceDescription">Practice description <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="val-practiceDescription" ng-model="websiteEditor.settings.practiceDescription" placeholder="Please enter a practice description">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="val-practicePhone">Practice phone <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="phone" id="val-practicePhone" ng-model="websiteEditor.settings.practicePhone" placeholder="Please enter a practice phone number">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="val-practiceEmail">Practice email <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="email" id="val-practiceEmail" ng-model="websiteEditor.settings.practiceEmail" placeholder="Please enter a practice email address">
                </div>
            </div>


            <!-- <div class="form-group">
                <label class="col-md-4 control-label" for="val-password">Password <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="password" id="val-password" name="val-password" placeholder="Choose a good one..">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-confirm-password">Confirm Password <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="password" id="val-confirm-password" name="val-confirm-password" placeholder="..and confirm it to be safe!">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-select2">Select2</label>
                <div class="col-md-7">
                    <select class="form-control select2-hidden-accessible" id="val-select2" name="val-select2" style="width: 100%;" data-placeholder="Choose one.." data-js-select2="" tabindex="-1" aria-hidden="true">
                        <option value=""></option>
                        <option value="1">HTML</option>
                        <option value="2">CSS</option>
                        <option value="3">JavaScript</option>
                        <option value="4">PHP</option>
                        <option value="5">MySQL</option>
                        <option value="6">Ruby</option>
                        <option value="7">AngularJS</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-val-select2-container"><span class="select2-selection__rendered" id="select2-val-select2-container"><span class="select2-selection__placeholder">Choose one..</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-select2-multiple">Select2 Multiple</label>
                <div class="col-md-7">
                    <select class="form-control select2-hidden-accessible" id="val-select2-multiple" name="val-select2-multiple" style="width: 100%;" data-placeholder="Choose at least two.." multiple="" data-js-select2="" tabindex="-1" aria-hidden="true">
                        <option value=""></option>
                        <option value="1">HTML</option>
                        <option value="2">CSS</option>
                        <option value="3">JavaScript</option>
                        <option value="4">PHP</option>
                        <option value="5">MySQL</option>
                        <option value="6">Ruby</option>
                        <option value="7">AngularJS</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Choose at least two.." style="width: 335px;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-suggestions">Suggestions <span class="text-danger">*</span></label>
                <div class="col-md-8">
                    <textarea class="form-control" id="val-suggestions" name="val-suggestions" rows="18" placeholder="Share your ideas with us.."></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-skill">Best Skill <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <select class="form-control" id="val-skill" name="val-skill">
                        <option value="">Please select</option>
                        <option value="html">HTML</option>
                        <option value="css">CSS</option>
                        <option value="javascript">JavaScript</option>
                        <option value="ruby">Ruby</option>
                        <option value="php">PHP</option>
                        <option value="asp">ASP.NET</option>
                        <option value="python">Python</option>
                        <option value="mysql">MySQL</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-currency">Currency <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="val-currency" name="val-currency" placeholder="$30.50">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-website">Website <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="val-website" name="val-website" placeholder="http://example.com">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-phoneus">Phone (US) <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="val-phoneus" name="val-phoneus" placeholder="212-999-0000">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-digits">Digits <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="val-digits" name="val-digits" placeholder="3">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-number">Number <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="val-number" name="val-number" placeholder="3.0">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="val-range">Range [1, 5] <span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="val-range" name="val-range" placeholder="3">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Terms <span class="text-danger">*</span></label>
                <div class="col-md-8">
                    <label class="css-input css-checkbox css-checkbox-primary" for="val-terms">
                        <input type="checkbox" id="val-terms" name="val-terms" value="1"><span></span> I agree to the terms
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                </div>
            </div> -->
        </form>
    </div>



    </div>
</div>
