html(itemscope='', itemtype='http://schema.org/LocalBusiness')
  head#ctl00_Head1
    include ../partials/header.pug
  body
    #header_bg
      img(src='/assets/images/header-top.png')
    #container_bg
      #container
        include ../partials/topnavbar.pug
        #header
          img#ctl00_HdrMain(src='/assets/images/mheader_1103681.jpg')
        #panels_bg
          #slides
            .slides_container(style='overflow: hidden; position: relative; display: block;')
              .slides_control(style='position: relative; width: 2940px; height: 290px; left: -980px;')
                div(style='position: absolute; top: 0px; left: 980px; z-index: 0;')
                  img(src='/assets/images/panel1.png', alt='Smile Care', width='980', height='228')
                div(style='position: absolute; top: 0px; left: 980px; z-index: 0; display: none;')
                  img(src='/assets/images/panel2.png', alt='Feel Better Today', width='980', height='228')
                div(style='position: absolute; top: 0px; left: 980px; z-index: 0; display: none;')
                  img(src='/assets/images/panel3.png', alt='Comprehensive Dental Care', width='980', height='228')
          .panels_flower
        include ../partials/phone.pug
        #content
          #StylizedImage
            img#ctl00_ImageFlareStylized1_ImageFlareStylized1(src='/assets/images/s_Welcome711035189.jpg')
          include ../partials/contact.pug
          h1(style='text-align: left;')
            span(style='font-size: 18px;')
              | Lansdowne
              span Dentist
              | - Dr. Paul Ellington - Family & Senior Dental Care
          p(style='text-align: center;')
            span(style='font-size: 14px;')
              strong Lansdowne Family & Cosmetic Dentistry - Celebrating 28 Years!
          hr
          // Place this render call where appropriate
          strong
            script#facebook-jssdk(src='//connect.facebook.net/en_US/all.js#xfbml=1')
          br
          | Welcome to the home of Lansdowne Family & Cosmetic Dentistry – your place for friendly dental care in Lansdowne, VA. We happily treat patients of all ages, from children to seniors, and protect the health and beauty of their smiles. 
          a(href='http://www.lansdownesmiles.com/our-doctor/', target='_self') Dr. Paul Ellington
          | , our experienced and gentle dentist, treats every patient with the personalized attention they need for successful oral health care. 
          h1(style='text-align: left;')
            span(style='font-size: 14px;')
              img(alt='', style='border-width: 3px; border-style: solid; width: 250px; height: 313px; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; float: right;', src='/assets/images/Image00005.jpg')
              | Cosmetic and Restorative Dentistry in Lansdowne, VA
          p
            | Your Lansdowne dental practice specialize in cosmetic dentistry and dental restorations for new and improved smiles. Cosmetic dental treatments help our adult patients get smiles that look healthy and vibrant, while restorations allow teeth to remain strong and promote healthy oral function.  Our most popular cosmetic and restorative therapies include:
          p(style='margin-left: 40px;')
            | • 
            a(href='http://www.lansdownesmiles.com/cosmetic-dentistry/porcelain-veneers/', target='_self') Porcelain veneers
            br
            | • 
            a(href='http://www.lansdownesmiles.com/cosmetic-dentistry/porcelain-crowns-caps/', target='_self') Dental crowns
            br
            | • 
            a(href='http://www.lansdownesmiles.com/cosmetic-dentistry/teeth-whitening/', target='_self') Teeth whitening
            br
            | • 
            a(href='http://www.lansdownesmiles.com/cosmetic-dentistry/porcelain-fixed-bridges', target='_self') Fixed bridges
            br
            | • 
            a(href='http://www.lansdownesmiles.com/cosmetic-dentistry/composite-fillings/', target='_self') Composite dental fillings
          p
            | Dr. Ellington also helps patients achieve and maintain excellent oral health with routine preventive care and maintenance, such as
            strong twice yearly teeth cleanings
            |  and even periodontal care to protect the health of your gums.  Our team assists patients in
            strong preventing the negative effects of gum disease and dental caries
            | that cause damage to teeth and surrounding tissue.
          h2
            span(style='font-size: 14px;') Preventing Dental Problems and Promoting Improved Wellness
          p
            | Our whole team is committed to helping patients achieve improved wellness.
            strong We teach healthy brushing and flossing habits to young patients
            |  to promote good dental habits from early on.  Our Lansdowne dental office also caters to
            strong
            strong
            strong
            strong senior dental patients
            | , helping them keep their natural teeth and enjoy a solid foundation of oral health and function. We provide tips, advice, and treatments that are specifically geared to help senior patients enjoy beautiful smiles.
            br
            br
            | We have roots in our valued
            a(href='HealthFairsEvents.aspx') community
            | . As many of you know, our doctors also practice in Potomac Falls, where every year for the last 6 years they have participated, along with their staff, in "Give Kids a Smile Day". This year they saw 13 deserving patients and donated over $10,000 of dental services. Well done, everyone!
          h2
            span(style='font-size: 14px;') Contact a Lansdowne Dentist Today – Call Dr. Ellington!
          p
            | For more information on how Dr. Ellington and his team can help you, and members of your family, achieve excellent oral health
            a(href='http://www.lansdownesmiles.com/contact/', target='_self') call our office
            |  for your consultation.
            br
          hr
          table(style='width: 726px; height: 200px;')
            tbody
              tr
                td
                  strong
                    | Lansdowne Family & Cosmetic Dentistry
                    br
                    | 44115 Woodridge Parkway Suite 280
                    br
                    | Lansdowne, VA 20176
                    br
                    | Phone: 703-858-2380
                    br
                    | Fax: 703-858-7001
                    br
                    a(href='mailto:admin@lansdownesmiles.co') admin@lansdownesmiles.co
                td
                  p
                    span
                      strong Please call one of our friendly staff during these hours:
                    br
                  p
                    strong
                      span
                        | Monday: 7:00am-5:00pm
                        br
                        | Tuesday: 9:00am-5:00pm
                        br
                        | Wednesday: 7:00am-3:00pm
                        br
                        | Thursday: 8:00am-5:00pm
                        br
                        | Friday: 9:00am-1:00pm
          p(style='font-weight: normal;')
          br(clear='all')
      include ../partials/footer.pug
    script(type='text/javascript').
    script(src='/assets/js/jquery.slides.1.1.9.js')
    script.
      $(function(){
      $('#slides').slides({
      preload: false,
      pagination: !1,
      generatePagination: !1,
      prependPagination: !1,
      play: 5000,
      pause: 2500,
      hoverPause: false
      });
      });
