html(itemscope='', itemtype='http://schema.org/LocalBusiness')
  head#ctl00_Head1
    include ../partials/header.pug
  body
    #header_bg
      img(src='/assets/images/header-top.png')
    #container_bg
      #container
        include ../partials/drawmenu.pug
        include ../partials/topnavbar.pug
        #header
          img#ctl00_HdrMain(src='/assets/images/mheader_1103681.jpg')
        include ../partials/banner_v1.pug
        include ../partials/phone.pug
        != data.htmlContent
      include ../partials/page_footer.pug