body {
  font-family: Lato, sans, sans-serif;
}

/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #FF196F;
  /* Control the thikness of your lines */
  stroke-width: 4px;
  /* Create a dashed line with a pattern */
  // stroke-dasharray: 10px 20px;
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #FF196F;
  /* Size of your points */
  stroke-width: 12px;
  /* Make your points appear as squares */
  // stroke-linecap: square;
}

.ct-fill-donut-label {
  padding: 20px;
  background: #fff9f9;
  border-radius: 5px;
}
