section.contact.pinstripe
  .row
    .span4.left
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "CONTACT", "type_id": 9938, "fieldname": "location"}')
        .contact-header(property='fieldtext') Location
      address
        span(property='name') Beverly Oaks Surgery
        br
        span(property='streetAddress')
          | 4910 Van Nuys Boulevard, Suite #308
        br
        span(property='addressLocality') Sherman Oaks, CA 91403
        br
        |         Phone: 
        span.mm-phone-number.phoneupdated(property='telephone') 818-839-7003
        br
        span(about='0', typeof='{"type":"MODULE", "secondary_type": "CONTACT", "type_id": 9938, "fieldname": "fax"}')
          span(property='fieldtext') Fax: 
        span(property='fax') 818-986-9089
    .span4.middle
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "CONTACT", "type_id": 9938, "fieldname": "office-hours"}')
        .contact-header(property='fieldtext') Office Hours
      p
        label
          | Monday
          span
            | 9:00am - 5:00pm
        label
          | Tuesday
          span
            | 9:00am - 5:00pm
        label
          | Wednesday
          span
            | 9:00am - 5:00pm
        label
          | Thursday
          span
            | 9:00am - 5:00pm
        label
          | Friday
          span
            | 9:00am - 5:00pm
        label
          | Saturday
          span
            | Closed
        label
          | Sunday
          span
            | Closed
    .span4.right
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "CONTACT", "type_id": 9938, "fieldname": "get-in-touch"}')
        .contact-header(property='fieldtext') Get in touch
      p
        a(href='mailto:christine@beverlyoakssurgery.com') christine@beverlyoakssurgery.com
        br
        a.btn-call(href='tel:8188397003')
          i.fa.fa-phone
          span.mm-phone-number.phoneupdated 818-839-7003
        br
        button.btn-book-online.ppop_bookonline_action.small(type='button', data-locationid='9938')
          | Book Online
