section.testimonials.pinstripe(style='background-color: rgb(245, 249, 249);')
  .row
    .span12
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "TESTIMONIAL", "type_id": null, "fieldname": "title"}')
        h5(property='fieldtext') Testimonials
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "TESTIMONIAL", "type_id": null, "fieldname": "words-from-our-patients"}')
        h4(property='fieldtext') Words from our patients
      #testimonial-slider.flexslider
        .flex-viewport(style='overflow: hidden; position: relative;')
          ul.slides(style='width: 1000%; transition-duration: 0.6s; transform: translate3d(-2310px, 0px, 0px);')
            each review in reviews
              li(style='width: 770px; float: left; display: block;')
                .slider-content
                  img(src='/assets/img/' + review.site.toLowerCase() + '.jpg', width='134', height='124', alt= review.site, draggable='false')
                  p= review.reviewLong
                  h5= review.user
        ul.flex-direction-nav
          li
            a.flex-prev(href='#')
              i.fa.fa-angle-left.fa-2x
          li
            a.flex-next(href='#')
              i.fa.fa-angle-right.fa-2x
