section.testimonials.pinstripe(style='background-color: rgb(245, 249, 249);')
  .row
    .span12
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "TESTIMONIAL", "type_id": null, "fieldname": "title"}')
        h5(property='fieldtext') Testimonials
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "TESTIMONIAL", "type_id": null, "fieldname": "words-from-our-patients"}')
        h4(property='fieldtext') Words from our patients
      #testimonial-slider.flexslider
        .flex-viewport(style='overflow: hidden; position: relative;')
          ul.slides(style='width: 1000%; transition-duration: 0.6s; transform: translate3d(-2310px, 0px, 0px);')
            li.clone(aria-hidden='true', style='width: 770px; float: left; display: block;')
              .slider-content
                img(src='/assets/img/1353592.jpg', width='134', height='124', alt='Yelp', draggable='false')
                p
                  | "We were pleasantly accommodated! Beginning to end glad we were able to deal with your professional medical group."
                h5 Sean M
            li(style='width: 770px; float: left; display: block;')
              .slider-content
                img(src='/assets/img/1353592.jpg', width='134', height='124', alt='Yelp', draggable='false')
                p
                  | "Thank you to Dr. Elias and his wonderful team for taking such good care of me and changing my life!! I feel so confident and beautiful!!!"
                h5 Melissa M
            li(style='width: 770px; float: left; display: block;')
              .slider-content
                img(src='/assets/img/1353592.jpg', width='134', height='124', alt='Yelp', draggable='false')
                p
                  | "From the moment you call for the first time and make the appointment you can tell they are different from the rest."
                h5 Luis C
            li.flex-active-slide(style='width: 770px; float: left; display: block;')
              .slider-content
                img(src='/assets/img/1353592.jpg', width='134', height='124', alt='Yelp', draggable='false')
                p
                  | "We were pleasantly accommodated! Beginning to end glad we were able to deal with your professional medical group."
                h5 Sean M
            li.clone(aria-hidden='true', style='width: 770px; float: left; display: block;')
              .slider-content
                img(src='/assets/img/1353592.jpg', width='134', height='124', alt='Yelp', draggable='false')
                p
                  | "Thank you to Dr. Elias and his wonderful team for taking such good care of me and changing my life!! I feel so confident and beautiful!!!"
                h5 Melissa M
        //- ol.flex-control-nav.flex-control-paging
        //-   li
        //-     a 1
        //-   li
        //-     a 2
        //-   li
        //-     a.flex-active 3
        ul.flex-direction-nav
          li
            a.flex-prev(href='#')
              i.fa.fa-angle-left.fa-2x
          li
            a.flex-next(href='#')
              i.fa.fa-angle-right.fa-2x
