section.slider.pinstripe
  .row
    #rating-slider.flexslider
      .flex-viewport(style='overflow: hidden; position: relative;')
        ul.slides(style='width: 2200%; transition-duration: 0.6s; transform: translate3d(-2580px, 0px, 0px);')
          li.clone(aria-hidden='true', style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='https://plus.google.com/100347913264138365402/about', target='_blank')
                    p "Words can't describe how amazing my experience was at Beverly Oaks surgery."
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Verified User 
                    strong Google+
          li(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.yelp.com/biz/david-e-rogers-md-glendale', target='_blank')
                    p "Dr Rogers is the best surgeon I have ever been to."
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Mary M. 
                    strong Yelp
          li(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.vitals.com/doctors/Dr_David_E_Rogers/reviews', target='_blank')
                    p "He goes that extra mile for you. He is one of a kind."
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Anonymous 
                    strong Vitals
          li.flex-active-slide(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.yelp.com/biz/david-e-rogers-md-glendale', target='_blank')
                    p "Dr. Rogers is a true gift to the medical community."
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Kathryn S.  
                    strong Yelp
          li(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.yelp.com/biz/david-e-rogers-md-glendale', target='_blank')
                    p "Dr. Rogers is a God sent angel!"
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Nicole S.  
                    strong Yelp
          li(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.yelp.com/biz/david-e-rogers-md-glendale', target='_blank')
                    p "He is a miracle worker and we were blessed to come across such an MD"
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Natalya C.  
                    strong Yelp
          li(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.yelp.com/biz/beverly-oaks-surgery-sherman-oaks?hrid=hwdCJSXgCxtUhkGIIMpE3Q&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)', target='_blank')
                    p
                      | "Everyone was so pleasant to deal with from the free consultation to the after care."
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Virginia A. 
                    strong Yelp
          li(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.yelp.com/biz/beverly-oaks-surgery-sherman-oaks?hrid=Kri9xeV2e10hfeV-TRhPig&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)', target='_blank')
                    p
                      | "Basically I would and do recommend Beverly Oaks surgical to all of my friends and family"
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | A.P. 
                    strong Yelp
          li(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.yelp.com/biz/beverly-oaks-surgery-sherman-oaks?hrid=smpADJ76hzcFFTTi_DQ6BQ&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)', target='_blank')
                    p
                      | "Anyone that needs to have surgery and improve their lifestyle need to come here."
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Al. B 
                    strong Yelp
          li(style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='https://plus.google.com/100347913264138365402/about', target='_blank')
                    p "Words can't describe how amazing my experience was at Beverly Oaks surgery."
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Verified User 
                    strong Google+
          li.clone(aria-hidden='true', style='width: 860px; float: left; display: block;')
            .slide-content
              ol
                li.comment
                  a(href='http://www.yelp.com/biz/david-e-rogers-md-glendale', target='_blank')
                    p "Dr Rogers is the best surgeon I have ever been to."
                li.rating
                  .rating-block(style='width:120px;')
                    .rating-inner
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                      span
                        i.fa.fa-star
                  p
                    | Mary M. 
                    strong Yelp
      
      ul.flex-direction-nav
        li
          a.flex-prev(href='#')
            i.fa.fa-angle-left.fa-2x
        li
          a.flex-next(href='#')
            i.fa.fa-angle-right.fa-2x
