doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body
    div#page-container.header-navbar-fixed.header-navbar-transparent
      include ../partials/navbar.pug
      section#mainContent
        main#main-container
          //- include ../partials/raw/index.pug
          != contents
      section#footerNav
        footer#page-footer.bg-white
          .content.content-boxed
            include ../partials/footer.pug
