extends ../layouts/layout

block head
  title #{application} &middot; Welcome

block styles
  link(rel='stylesheet', href='/css/page-privacy.min.css')

block content

  .container
    .row
      .col-sm-12.col-md-10
        h1 Patient Reviews by MDOCS is here!
        br
        p TODO: Fill with content
