doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body.PARALAX
    include ../partials/navbar.pug
    include ../partials/raw/index.pug
    include ../partials/reviewsSmallFlexSlider.pug
    include ../partials/raw/about.pug
    include ../partials/raw/services.pug
    include ../partials/raw/promo.pug
    include ../partials/insurance.pug
    include ../partials/reviewsBigFlexSlider.pug
    include ../partials/contact.pug
    include ../partials/map.pug
    != contents
    include ../partials/footer.pug
