doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body.PARALLAX
    include ../partials/navbar.pug
    #container(style='margin:10px;')
      .content.thereIsFeatured.section_content.content_bg.wrp_color_bg
        .section.w736
          .list_block.type_article.a1.column_amt_1.landscape_4_3.large.not_well
            .item_1.the_list_item.center.not_hero.no_image.no_heads.no_desc(lang='en')
              .the_list_wrap
                .the_list_item_heads
                #gform_wrapper_2.gf_browser_safari.gform_wrapper
                  form.js-bookonline-form(action='', data-callback='makeappointmentform_submit', method='post')
                    input(name='fullname', type='text')
                    br 
                    input(name='phone', type='text')
                    br
                    input(name='email', type='text')
                    br
                    input.js-bookonline-submit(type='submit', value='Submit')

        .section.w232
          .list_block.type_article.a1.column_amt_3.landscape_4_3.small.xsmall.not_well
            .item_1.the_list_item.center.hero.no_image.yes_heads.no_desc(lang='en')
              .the_list_wrap
                .the_list_item_heads
                  h3.the_list_item_headline.hds_color Fax: 703-754-1211
    script(type='text/javascript', src='/assets/widgets/bookonline/index.js', data-profileid=practice.mdocsAccount)
    include ../partials/footer.pug
