doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body.PARALLAX
    include ../partials/navbar.pug
    //- include ../partials/raw/service-header.pug
    //- include ../partials/reviewsSmallFlexSlider.pug

    .main-content
      section.service.pinstripe(style='background-color: rgb(245, 249, 249);')
        .container.pb-0
          #social-crumb.row
            .span6
              .breadcrumb(itemprop='breadcrumb')
                a(href='/')= practice.name
                i.fa.fa-angle-right
                span= data.title
          .row
            .span12
              h4= data.title
              .details
                != data.htmlContent
                != contents
              button.btn-book-online.small(type='button', data-practiceid='1')
                | Book Online

      include ../partials/reviewsSmallFlexSlider.pug
      include ../partials/contact.pug
      include ../partials/map.pug
      include ../partials/footer.pug
