doctype html
html(lang="en", dir="ltr")
  head
    include ../partials/header.pug
  body
    div#wrapper
      #preloader
        #spinner
          img(src='/assets/images/preloaders/1.gif', alt='')
        #disable-preloader.btn.btn-default.btn-sm Disable Preloader
      include ../partials/navbar.pug
      case practice.city
        when 'Gainesville'
          include ../partials/raw/vgucc.pug
        when 'Fairfax'
          include ../partials/raw/flucc.pug
        when 'Woodbridge'
          include ../partials/raw/dwmc.pug
      != contents
      include ../partials/footer.pug