doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body.PARALLAX
    include ../partials/navbar.pug
    .main-content(style='margin:10px;')
      != data.htmlContent
    include ../partials/footer.pug