#ctl00_ContentPlaceHolder1_QuickContact1_cf
  #ctl00_ContentPlaceHolder1_QuickContact1_ContactForm.m-form
    #ctl00_ContentPlaceHolder1_QuickContact1_formdiv.formDiv
      form(method='post',data-callback='makeappointmentform_submit').js-bookonline-form
        #ctl00_ContentPlaceHolder1_QuickContact1_PnlTopHeading
          div(style='float: right;')
            img#ctl00_ContentPlaceHolder1_QuickContact1_ImagIntroTitle(src='/assets/images/miniform-mouse.jpg')
          h2
            | Contact Us!
          input#ctl00_ContentPlaceHolder1_QuickContact1_TxtName.qcformcolor(name='fullname', type='text', placeholder='Name:')
          input#ctl00_ContentPlaceHolder1_QuickContact1_TextPhone.qcformcolor(name='phone', type='text', placeholder='Phone:')
          input#ctl00_ContentPlaceHolder1_QuickContact1_TextEmail.qcformcolor(name='email', type='text', placeholder='Email:')
          #ctl00_ContentPlaceHolder1_QuickContact1_CommentInfoDiv.Comments
            textarea#ctl00_ContentPlaceHolder1_QuickContact1_txtComment.qcformcolor(name='ctl00$ContentPlaceHolder1$QuickContact1$txtComment', rows='5', cols='20', placeholder='Type your message here: (Messages sent using this form are not considered private.  Avoid sending confidential information via email.)')
          span(style='display: none;')
            input#ctl00_ContentPlaceHolder1_QuickContact1_EmailText.qcformemailcheck(name='ctl00$ContentPlaceHolder1$QuickContact1$EmailText', type='text')
          input#btnSend.Button(type='submit', value='Send').js-bookonline-submit
        #ctl00_ContentPlaceHolder1_QuickContact1_OfficeNotesPanel(style='border-style:None;')
      #ctl00_ContentPlaceHolder1_QuickContact1_pnlQCThankYou(style='display: none')
        div(style='float: right;')
          img#ctl00_ContentPlaceHolder1_QuickContact1_ImageThankyou(src='/assets/images/miniform-mouse.jpg')
        h2 Thank You!
        div(style='clear: both; text-align: center; font-style: italic;')
          | Your message has been sent. We will contact you shortly if your message requires a response.
  if practice.widgets.bookonline
    script(type='text/javascript' src='/assets/widgets/bookonline/index.js' data-profileid=practice.mdocsProfile)