.sidebar-header.finance
    h2 Financial Options
    p
      | Our office participates with many dental insurance plans. To find out about all of our financial options, 
      a(href='/content/financial-options') click here
      | .