#w_footer
  #footer_bg
    #footer
      p.footer_nav
        span
          a.submenulink(href='/') Welcome
          | &nbsp;|&nbsp;
          a.submenulink(href='/content/our-doctor/') Our Doctor
          | &nbsp;|&nbsp;
          a.submenulink(href='/content/dental-videos/') Dental Videos
          | &nbsp;|&nbsp;
          a.submenulink(href='/content/smile-gallery/') Smile Gallery
          | &nbsp;|&nbsp;
          a.submenulink(href='/content/procedures/') Procedures
          | &nbsp;|&nbsp;
          a.submenulink(href='/content/family-dentistry/') Family Dentistry
          | &nbsp;|&nbsp;
          a.submenulink(href='/content/cosmetic-dentistry/') Cosmetic Dentistry
          | &nbsp;|&nbsp;
          a.submenulink(href='/content/patient-forms/') Patient Forms
          | &nbsp;|&nbsp;
          a.submenulink(href='/content/contact/') Contact
      p
        br
        br
        | Lansdowne Dentist, Dr. Paul Ellington is dedicated to family dentistry such as Exams, Veneers, and more. We are looking forward to your visit to our Lansdowne, VA dental office.
      p.devby
        br(clear='all')
