#four-icons
  .col-4.span_1_of_4.our-team
    a(href='/our-team.html')
      img(src='/assets/images/icon-our-team.gif', alt='Our team', border='0')
    h4 Our Team
    div
      p
        | We offer complete and cosmetic dentistry for all ages. Our office in Sterling, Virginia is a relaxing, comfortable environment where we remember your name and treat you like family. Everyone is genuinely friendly and helpful.
      p.new-para
        | We take time to listen to what is important to you. All your options are explained to your satisfaction – we consider this an important part of our 5-star service!
    p
      a(href='#') Find out more
  .col-4.span_1_of_4.dental-services
    a(href='/dental-services/index.html')
      img(src='/assets/images/icon-dental-services.gif', alt='Dental services', border='0')
    h4 Dental Services
    div
      p
        | Patients routinely comment on how gentle and painless Dr. Hawa and his staff are. Patients are pleasantly surprised especially at the painless injections.
      p.new-para
        | Our entire purpose is to improve the very quality of the lives of our patients. We do this by keeping your teeth healthy and strong so you can eat any food you like, by creating gorgeous smiles, by getting you out of any dental pain you might have and by fixing broken or decayed teeth.
    p
      a(href='#') Find out more
  .col-4.span_1_of_4.gorgeous-smile
    a(href='/gorgeous-smile.html')
      img(src='/assets/images/icon-gorgeous-smile.gif', alt='Gorgeous Smile', border='0')
    h4 Gorgeous Smile
    div
      p
        | You can have a smile makeover in just 1-2 visits. Whether you want a Hollywood, dazzling smile, or just whiter and straighter teeth, Dr. Hawa can give you exactly what you want.
      p.new-para
        | We are very proud to offer Invisalign – the invisible way to straighten your teeth without braces. You’ll look and feel beautiful!
    p
      a(href='#') Find out more
  .col-4.span_1_of_4.oral-health
    a(href='/oral-health.html')
      img(src='/assets/images/icon-oral-health.gif', alt='Oral Health', border='0')
    h4 Oral Health
    div
      p
        | We use modern, state-of-the-art technology to assess your oral health. Early detection of disease or potential problems is an important part of protecting your overall health and wellbeing.
      p.new-para
        | The doctors, hygienists and assistants are highly trained and experienced, and are leaders in their field. Dr. Hawa has taken thousands of hours of continuing education following dental school, to keep up with the latest advancements in dental technologies and techniques. He even trains other dentists!
    p
      a(href='#') Find out more
#four-icons-links
  .col-4.span_1_of_4.our-team
    p
      a(href='/our-team.html') Find out more
  .col-4.span_1_of_4.dental-services
    p
      a(href='/dental-services/index.html') Find out more
  .col-4.span_1_of_4.gorgeous-smile
    p
      a(href='/gorgeous-smile.html') Find out more
  .col-4.span_1_of_4.oral-health
    p
      a(href='/oral-health.html') Find out more