title
	| Family Dentist in Lansdowne | Dr. Paul Ellington | Senior Dental Care
meta(http-equiv='Content-Language', content='en')
meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
meta(name='description', content='Paul Ellington, DDS is your local Lansdowne dentist providing cosmetic & restorative dental care services for children, adults & seniors. We also serve the communities of Ashburn & Sterling.')
meta(name='keywords', content='Lansdowne Dentist, Dr Paul Ellington, Dr Robert Hulbert, Lansdowne Family and Cosmetic Dentistry, Lansdowne, VA, 20176, Loudoun County, Virginia, Paul Ellington, DDS, Robert Hulbert, DDS, Dentistry, Family Dentist, Dental Exams, Dental X-Rays, Cleanings, Prevention, Home Care, Cosmetic Dentist, Cosmetic Dentistry, Composite Fillings, Porcelain Crowns, Caps, Porcelain Fixed Bridges, Porcelain Veneers, Tooth Whitening, Periodontal Disease, Diagnosis, Treatment, Maintenance, Restorations, Composite Fillings, Dentures, Partial Dentures, Fixed Bridges, Root Canal Therapy, Extractions, Dental Implants')
meta(name='index', content='index,follow')
link(href='/assets/css/global.css', rel='stylesheet', type='text/css', media='all')
link(href='/assets/css/default.css', rel='stylesheet', type='text/css', media='all')
//- link(href='http://fonts.googleapis.com/css?family=Crimson+Text', rel='stylesheet', type='text/css')
script(async='', src='//www.google-analytics.com/analytics.js')
script(type='text/javascript', src='/assets/js/swfobject.js')
script(type='text/javascript', src='/assets/js/jquery-1.9.1.js')
script(type='text/javascript', src='/assets/js/jquery-migrate-1.1.0.js')
meta(name='google-site-verification', content='XECbKXvG6e1PREg6-yj-lKlAeB61KYHQ6XQc-JSEsHQ')
meta(itemprop='name', content='Lansdowne Family & Cosmetic Dentistry')
meta(itemprop='description', content='Lansdowne Dentists, Dr. Paul Ellington and Dr. Robert Hulbert are dedicated to family dentistry such as Exams, Veneers, and more. We are looking forward to your visit to our Lansdowne, VA dental office.')
meta(itemprop='image', content='office@mmrdentistry.com')
meta(name='msvalidate.01', content='FA7E9567AEB5E4B3B9B253EA33F4530E')
script(type='text/javascript', src='/assets/js/d-tect.js')
script(type='text/javascript', src='/assets/js/milonic_src.js')
script(type='text/javascript', src='/assets/js/submenustyle.js')
script(type='text/javascript').
	if(ns4)
		_d.write('<script language=JavaScript src=/assets/js/mmenuns4.js><\\/script>');
	else
		_d.write('<script language=JavaScript src=/assets/js/mmenudom.js><\\/script>');
script(language='JavaScript', src='/assets/js/mmenudom.js')
script(type='text/javascript', src='/assets/js/menu.js')
script(type='text/javascript', src='/assets/js/mm.js')
link(rel='stylesheet', href='http://www.lansdownesmiles.com/css/LiteSiteForms.css?chg7=3503', type='text/css')
link(href='/assets/css/LiteSiteOverrides.css', type='text/css', rel='stylesheet')
link(rel='canonical', href='http://www.lansdownesmiles.com/')
style(type='text/css', media='screen').
style.
	.pkt_added {text-decoration:none !important;}