title
  | Family Dentist in Lansdowne | Dr. Paul Ellington | Senior Dental Care
meta(http-equiv='Content-Language', content='en')
meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
meta(name='description', content='Paul Ellington, DDS is your local Lansdowne dentist providing cosmetic & restorative dental care services for children, adults & seniors. We also serve the communities of Ashburn & Sterling.')
meta(name='keywords', content='Lansdowne Dentist, Dr Paul Ellington, Dr Robert Hulbert, Lansdowne Family and Cosmetic Dentistry, Lansdowne, VA, 20176, Loudoun County, Virginia, Paul Ellington, DDS, Robert Hulbert, DDS, Dentistry, Family Dentist, Dental Exams, Dental X-Rays, Cleanings, Prevention, Home Care, Cosmetic Dentist, Cosmetic Dentistry, Composite Fillings, Porcelain Crowns, Caps, Porcelain Fixed Bridges, Porcelain Veneers, Tooth Whitening, Periodontal Disease, Diagnosis, Treatment, Maintenance, Restorations, Composite Fillings, Dentures, Partial Dentures, Fixed Bridges, Root Canal Therapy, Extractions, Dental Implants')
meta(name='index', content='index,follow')
link(href='/assets/css/global.css', rel='stylesheet', type='text/css', media='all')
link(href='/assets/css/default.css', rel='stylesheet', type='text/css', media='all')
//- link(href='http://fonts.googleapis.com/css?family=Crimson+Text', rel='stylesheet', type='text/css')
script(type='text/javascript', src='/assets/js/swfobject.js')
script(type='text/javascript', src='/assets/js/jquery-1.9.1.js')
script(type='text/javascript', src='/assets/js/jquery-migrate-1.1.0.js')
meta(itemprop='name', content='Lansdowne Family & Cosmetic Dentistry')
meta(itemprop='description', content='Lansdowne Dentists, Dr. Paul Ellington and Dr. Robert Hulbert are dedicated to family dentistry such as Exams, Veneers, and more. We are looking forward to your visit to our Lansdowne, VA dental office.')
script(type='text/javascript', src='/assets/js/menu.js')
script(type='text/javascript', src='/assets/js/mm.js')
link(href='/assets/css/LiteSiteOverrides.css', type='text/css', rel='stylesheet')
link(rel='canonical', href='http://www.lansdownesmiles.com/')
style(type='text/css', media='screen').
style.
  .pkt_added {text-decoration:none !important;}

  #nav_container {
    width: 1000px;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    background: url(/assets/images/container-bg.png) top center repeat-y;
    z-index: -10!important;
  }

  #nav {
    font-size: 1.05em;
  }

  #nav span {
    display: inline-block;
  }

  #nav ul {
    background: white;
    float: left;
    -webkit-transition: .5s;
    transition: .5s;
    margin: 0;
    padding: 0;
    z-index: 99;
  }

  #nav li {
    float: left;
    position: relative;
    list-style: none;
    -webkit-transition: .5s;
    transition: .5s;
    margin: 0;
    padding: 0;
  }

  #nav > ul > li > a, h1 {
    text-transform: uppercase;
  }

  #nav a {
    display: block;
    text-decoration: none;
    padding: 0;
    color: #000;
  }

  #nav ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    opacity: 0;
  }
  #nav ul ul li {
    padding: 12px 15px;
    min-width: 150px;
    width: 100%;
    text-align: left;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.15);
  }

  #nav ul ul ul {
    left: 100%;
    top: 0;
  }

  #nav li:hover, #nav li:hover li {
    background: #FFF;
  }

  #nav li li:hover {
    background: #80ACBF;
  }

  #nav li li li:hover {
    background: #70ACBF;
  }

  #nav li:hover > ul {
    display: block;
    opacity: 1;
  }
//if lt IE 9
  script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
