#w_footer
  #footer_bg
    #footer
      p.footer_nav
        span
          a.submenulink(href='/')  Welcome
          a.submenulink(href='/content/our-doctor/')  Our Doctor
          a.submenulink(href='/content/dental-videos/')  Dental Videos
          a.submenulink(href='/content/smile-gallery/')  Smile Gallery
          a.submenulink(href='/content/procedures/')  Procedures
          a.submenulink(href='/content/family-dentistry/')  Family Dentistry
          a.submenulink(href='/content/cosmetic-dentistry/')  Cosmetic Dentistry
          a.submenulink(href='/content/patient-forms/')  Patient Forms
          a.submenulink(href='/content/contact/')  Contact
