#w_footer
  #footer_bg
    #footer
      p.footer_nav
        span
          a.submenulink(href='/')  Welcome 
          a.submenulink(href='/our-doctor/')  Our Doctor 
          a.submenulink(href='/dental-videos/')  Dental Videos 
          a.submenulink(href='/smile-gallery/')  Smile Gallery 
          a.submenulink(href='/procedures/')  Procedures 
          a.submenulink(href='/family-dentistry/')  Family Dentistry 
          a.submenulink(href='/cosmetic-dentistry/')  Cosmetic Dentistry 
          a.submenulink(href='/patient-forms/')  Patient Forms 
          a.submenulink(href='/contact/')  Contact 
      p.devby
        br(clear='all')
        br
        | Site Developed by 
        span.footcolor
          a(href='http://www.prosites.com/') ProSites.com

