.standardcontainer.quote
	.maincontent.centre
		img(src='/assets/images/quote-open.png', alt='Quote')
		p 
			| I love your office! Pat and Karen are amazing and both have made me 100% more comfortable with going to the dentist. I hadn't been in several years due to childhood memories and fear of the dentist. Dr. Ellington is very nice and takes the time to answer all your questions and make sure you understand everything.
			| I couldn't be happier and love going to the dentist now!
		div(style='margin: auto 0;')
			p.from — Happy Customer: SA —
		img(src='/assets/images/quote-close.png', alt='Quote')

