#top-bar
	.maincontent
		a(href=practice.social.facebook, target='_blank')
			img(src='/assets/images/icon-facebook.gif', alt='Facebook')
		p
			a(href='/') Home
			a(href='/content/contact') Contact & Location
			a(href='/content/financial-options') Financial Options
			a(href='/content/new-patient-forms') New Patient Forms