#nav
  span
    ul
      li
        a(href='/')
          img(src='/assets/images/menu/welcome.jpg')
        ul
          li
            a(href='/content/blog/') Blog
            ul
              li
                a(href='/content/articles/') Articles
      li
        a(href='')
          img(src='/assets/images/menu/ourdoctor.jpg')
        ul
          li
            a(href='/content/meet-our-team/') Meet Our Team
          li
            a(href='/content/our-practice') Our Practice
            ul
              li
                a(href='/content/health-fairs-events/') Health Fairs & Events
              li
                a(href='/content/patient-reviews') Patient Reviews
      li
        a(href='')
          img(src='/assets/images/menu/dentalvideos.jpg')
      li
        a(href='')
          img(src='/assets/images/menu/smilegallery.jpg')
      li
        a(href='')
          img(src='/assets/images/menu/procedures.jpg')
      li
        a(href='')
          img(src='/assets/images/menu/familydentistry.jpg')
      li
        a(href='')
          img(src='/assets/images/menu/cosmeticdentistry.jpg')
      li
        a(href='')
          img(src='/assets/images/menu/patientforms.jpg')
      li
        a(href='')
          img(src='/assets/images/menu/contact.jpg')

//- #nav
//-   span
//-     a(href='/')
//-       img(src='/assets/images/menu/welcome.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/our-doctor/')
//-       img(src='/assets/images/menu/ourdoctor.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/dental-videos/')
//-       img(src='/assets/images/menu/dentalvideos.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/smile-gallery/')
//-       img(src='/assets/images/menu/smilegallery.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/procedures/')
//-       img(src='/assets/images/menu/procedures.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/family-dentistry/')
//-       img(src='/assets/images/menu/familydentistry.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/cosmetic-dentistry/')
//-       img(src='/assets/images/menu/cosmeticdentistry.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/patient-forms/')
//-       img(src='/assets/images/menu/patientforms.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/contact/')
//-       img(src='/assets/images/menu/contact.jpg', style='border-width:0px;border-style:None;margin-right:0px')

