#nav
  span
    a(href='/')
      img(src='/assets/images/menu/welcome.jpg', style='border-width:0px;border-style:None;margin-right:0px')
    a(href='/content/our-doctor/')
      img(src='/assets/images/menu/ourdoctor.jpg', style='border-width:0px;border-style:None;margin-right:0px')
    a(href='/content/dental-videos/')
      img(src='/assets/images/menu/dentalvideos.jpg', style='border-width:0px;border-style:None;margin-right:0px')
    a(href='/content/smile-gallery/')
      img(src='/assets/images/menu/smilegallery.jpg', style='border-width:0px;border-style:None;margin-right:0px')
    a(href='/content/procedures/')
      img(src='/assets/images/menu/procedures.jpg', style='border-width:0px;border-style:None;margin-right:0px')
    a(href='/content/family-dentistry/')
      img(src='/assets/images/menu/familydentistry.jpg', style='border-width:0px;border-style:None;margin-right:0px')
    a(href='/content/cosmetic-dentistry/')
      img(src='/assets/images/menu/cosmeticdentistry.jpg', style='border-width:0px;border-style:None;margin-right:0px')
    a(href='/content/patient-forms/')
      img(src='/assets/images/menu/patientforms.jpg', style='border-width:0px;border-style:None;margin-right:0px')
    a(href='/content/contact/')
      img(src='/assets/images/menu/contact.jpg', style='border-width:0px;border-style:None;margin-right:0px')

