#nav
  span
    ul
      li
        a(href='/')
          img(src='/assets/images/menu/welcome.jpg')
        ul
          li
            a(href='/content/blog/') Blog
            ul
              li
                a(href='/content/articles/') Articles
      li
        a(href='/content/our-doctor/')
          img(src='/assets/images/menu/ourdoctor.jpg')
        ul
          li
            a(href='/content/meet-our-team/') Meet Our Team
          li
            a(href='/content/our-practice') Our Practice
            ul
              li
                a(href='/content/health-fairs-events/') Health Fairs & Events
              li
                a(href='/content/patient-reviews') Patient Reviews
      li
        a(href='/content/dental-videos/')
          img(src='/assets/images/menu/dentalvideos.jpg')
      li
        a(href='/content/smile-gallery')
          img(src='/assets/images/menu/smilegallery.jpg')
        ul
          li
            a(href='/content/restorations/') Restorations
            ul
              li
                a(href='/content/crowns-caps/') Crowns (Caps)
              li
                a(href='/content/dentures-partial-dentures') Dentures &amp; Partial Dentures
          li
            a(href='/content/other-procedures') Other Procedures
            ul
              li
                a(href='/content/porcelain-crowns-caps/') Porcelain Crowns (Caps)
              li
                a(href='/content/dental-implants') Dental Implants
      li
        a(href='/content/procedures')
          img(src='/assets/images/menu/procedures.jpg')
        ul
          li
            a(href='/content/cleanings-prevention/') Cleanings &amp; Prevention
            ul
              li
                a(href='/content/dental-exams-cleanings/') Dental Exams &amp; Cleanings
              li
                a(href='/content/dental-x-rays/') Dental X-Rays
              li
                a(href='/content/home-care/') Home Care
              li
                a(href='/content/how-to-properly-brush-floss/') How&nbsp;to&nbsp;Properly&nbsp;Brush&nbsp;&amp;&nbsp;Floss
          li
            a(href='/content/periodontal-disease/') Periodontal Disease
            ul
              li
                a(href='/content/what-is-periodontal-gum-disease/') What&nbsp;is&nbsp;Periodontal&nbsp;(Gum)&nbsp;Disease
              li
                a(href='/content/diagnosis/') Diagnosis
              li
                a(href='/content/treatment') Treatment
              li
                a(href='/content/maintenance') Maintenance
          li
            a(href='/content/restorations') Restorations
            ul
              li
                a(href='/content/composite-fillings/') Composite Fillings
              li
                a(href='/content/crowns-caps/') Crowns (Caps)
              li
                a(href='/content/dentures-partial-dentures/') Dentures &amp; Partial Dentures
              li
                a(href='/content/fixed-bridges/') Fixed Bridges
              li
                a(href='/content/root-canal-therapy/') Root Canal Therapy
      li
        a(href='/content/family-dentistry/')
          img(src='/assets/images/menu/familydentistry.jpg')
        ul
          li
            a(href='/content/oral-health-for-seniors/') Oral Health for Seniors
      li
        a(href='/content/cosmetic-dentistry/')
          img(src='/assets/images/menu/cosmeticdentistry.jpg')
        ul
          li
            a(href='/content/composite-fillings/') Composite Fillings
          li
            a(href='/content/porcelain-crowns-caps/') Porcelain Crowns (Caps)
          li
            a(href='/content/porcelain-fixed-bridges/') Porcelain Fixed Bridges
          li
            a(href='/content/teeth-whitening/') Teeth Whitening
          li
            a(href='/content/porcelain-veneers/') Porcelain Veneers
      li
        a(href='/content/patient-forms/')
          img(src='/assets/images/menu/patientforms.jpg')
        ul
          li
            a(href='/content/new-patient-referral-program/') New&nbsp;Patient&nbsp;Referral&nbsp;Programm
      li
        a(href='/content/contact/')
          img(src='/assets/images/menu/contact.jpg')
        ul
          li
            a(href='/appointment/') Appointment Request

//- #nav
//-   span
//-     a(href='/')
//-       img(src='/assets/images/menu/welcome.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/our-doctor/')
//-       img(src='/assets/images/menu/ourdoctor.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/dental-videos/')
//-       img(src='/assets/images/menu/dentalvideos.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/smile-gallery/')
//-       img(src='/assets/images/menu/smilegallery.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/procedures/')
//-       img(src='/assets/images/menu/procedures.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/family-dentistry/')
//-       img(src='/assets/images/menu/familydentistry.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/cosmetic-dentistry/')
//-       img(src='/assets/images/menu/cosmeticdentistry.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/patient-forms/')
//-       img(src='/assets/images/menu/patientforms.jpg', style='border-width:0px;border-style:None;margin-right:0px')
//-     a(href='/content/contact/')
//-       img(src='/assets/images/menu/contact.jpg', style='border-width:0px;border-style:None;margin-right:0px')

