extends ../layouts/landingLayout.pug

block head
  title Login

block styles
  link(rel='stylesheet', href='/app/lib/animate.css/animate.css')

block content
  #root(style='width: 280px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 0px; text-align: center;')
    i.fa.fa-lg.fa-spinner

block scripts
  script(src='https://cdn.auth0.com/js/lock/11.6.1/lock.min.js')
  script.
    var loc = window.location;
    var options = {
      allowAutocomplete: true,
      rememberLastLogin: true,
      allowedConnections: ['Username-Password-Authentication'],
      container: 'root',
      auth: {
        redirectUrl: '#{config.AUTH_CALLBACK_URL}',
        responseType: 'code'
      }      
    };
    var lock = new Auth0Lock('#{config.AUTH_CLIENT_ID}', '#{config.AUTH_CLIENT_NAMESPACE}', options);
    lock.show({
    container: 'root'
    , callbackURL: 'http://mdocs.loc:3030/app/hooks/login'
    , responseType: 'code'
    , signupLink: 'http://www.practicewin.com#product'
    , authParams: {
    },
    rememberLastLogin: false,
    icon: 'https://app.mdocs.co/favicon.png'
    });
    window.onload = function() {
      var input = document.getElementById('a0-signin_easy_email').focus();
    }
