extends ../layouts/landingLayout.pug

block head
  title Login

block styles
  link(rel='stylesheet', href='/app/lib/animate.css/animate.css')

block content
  #root(style='width: 280px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 0px; text-align: center;')
    i.fa.fa-lg.fa-spinner

block scripts
  script(src='https://cdn.auth0.com/js/lock-9.1.min.js')
  script.
    var loc = window.location;
    var lock = new Auth0Lock('#{config.AUTH_CLIENT_ID}', '#{config.AUTH_CLIENT_NAMESPACE}');
    lock.show({
    container: 'root'
    , callbackURL: '#{config.AUTH_CALLBACK_URL}'
    , responseType: 'code'
    , signupLink: 'https://app.mdocs.co/app/subscribe/pricing'
    , authParams: {
    },
    rememberLastLogin: false,
    icon: 'https://app.mdocs.co/pr-logo-square.png'
    });
    window.onload = function() {
      var input = document.getElementById('a0-signin_easy_email').focus();
    }
