doctype html
html(lang='en', data-pageloader='y')
  head
    include ../partials/header.pug
  body
    script(type='text/javascript' src='/assets/js/jquery-3.1.1.min.js')
    script(type='text/javascript' src='/assets/js/jquery.validate.min.js')
    #page(data-linkscroll='y')
      include ../partials/topnavbar.pug
      include ../partials/intro.pug
      include ../partials/product.pug
      include ../partials/howitworks.pug
      include ../partials/learnmore.pug
      include ../partials/seeitinaction.pug
      include ../partials/features.pug
      include ../partials/testimonials.pug
      include ../partials/subscribeus.pug
      include ../partials/mobile.pug
      include ../partials/googlemap.pug
      include ../partials/contact.pug
      include ../partials/footer.pug
      include ../partials/popup.pug
    script(type='text/javascript' src='/assets/js/app.bundle.js')
    script(type='text/javascript' src='/assets/js/custom.bundle.js' async='async')


