doctype html
html
  head
    include ../partials/header.pug
    //- script(type='text/javascript' src='/assets/widgets/bookonline/index.js' data-accountid=practice.mdocsAccount)
  body(style='')
    #wrapper
      include ../partials/topnavbar.pug
      include ../partials/headnavbar.pug
      include ../partials/menu.pug
      include ../partials/slider.pug
      .maincontent.centre
        include ../partials/portrait&intro.pug
        include ../partials/fourcols.pug 
    include ../partials/commitments.pug  
    include ../partials/quote_v1.pug  
    include ../partials/footer.pug
    include ../partials/jslibraries.pug
    script.
      $(document).ready(function(){
        $('ul.bxslider').bxSlider({
          mode: 'fade',
          captions: true,
          controls: false,
          speed: 1500,
          pause: 6000,
          auto: true
        });
      });

