/*  GRID OF SEVEN  */

.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
  	width: 85.28%;
}

.span_5_of_7 {
  	width: 70.57%;
}

.span_4_of_7 {
  	width: 55.85%;
}

.span_3_of_7 {
  	width: 41.14%;
}

.span_2_of_7 {
  	width: 26.42%;
}

.span_1_of_7 {
  	width: 11.71%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_7_of_7 {
		width: 100%; 
	}
	.span_6_of_7 {
		width: 100%; 
	}
	.span_5_of_7 {
		width: 100%; 
	}
	.span_4_of_7 {
		width: 100%; 
	}
	.span_3_of_7 {
		width: 100%; 
	}
	.span_2_of_7 {
		width: 100%; 
	}
	.span_1_of_7 {
		width: 100%; 
	}
}