doctype html
html.js.no-flexbox.flexbox-legacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
  head
    include ../partials/header.pug
  body(style='')
    #wrapper
      include ../partials/topnavbar.pug
      include ../partials/headnavbar.pug
      include ../partials/menu.pug
      .standardcontainer
  .maincontent.subpage
    .col-7.span_5_of_7
      h1 Advanced Technology
      p
        | We believe in taking advanced courses to keep up with the most state-of-the-art dental technologies, materials and procedures.
      p
        | “It is important to me that a dentist stays up-to-date with the best technologies and techniques – and Dr. Hawa does. He has worked with me to create a beautiful smile that I always get compliments on.” – JM, long-time patient
      p
        | Hawa Dental uses digital X-Rays for your safety, as well as for more accurate diagnosis. Digital X-Rays emit far less radiation and allow the doctor and patient to see small details in your teeth and gums.
      p Dr. Hawa is Certified with Invisalign – the invisible way to straighten teeth.
      .photos-adjacent.margin-bottom
        img(src='/assets/images/northern-virginia-dental-advanced-technology-1.jpg', alt='Advanced Technology')
        img(src='/assets/images/northern-virginia-dental-advanced-technology-2.jpg', alt='Advanced Technology /')
      p
        | Dr. Hawa uses laser treatment for many procedures. The dental laser is painless, and requires no drilling and no injections. You won’t even know the procedure is being done!
      p
        | We partner with the very best laboratories, using only the finest materials and most exacting standards, to produce the highest quality results for you.
      .photos-adjacent
        img(src='/assets/images/northern-virginia-dental-advanced-technology-3.jpg', alt='Advanced Technology')
        img(src='/assets/images/northern-virginia-dental-advanced-technology-4.jpg', alt='Advanced Technology /')

    .col-7.span_2_of_7.sidebar
      .sidebar-header
        h2 Make appointment
        p
          | For an appointment, oral cancer screening or FREE smile consultation, 
          a(href='/appointment.html') click here today
          | .
      .sidebar-header.blue
        h2 Emergencies Welcome
        p And usually seen the same day.
        p Call us at: 703-444-5108.
      .sidebar-header.finance
        h2 Financial Options
        p
          | Our office participates with many dental insurance plans. To find out about all of our financial options, 
          a(href='/financial-options.html') click here
          | .
      #contact-form-short
        h3 Get in touch
        p Simply fill out the form below
        form#ContactFormSidebar.cmxform(method='post', action='', novalidate='novalidate')
          label(for='cname') Name
          input#cname(name='fullname', minlength='2', type='text', required='', aria-required='true')
          label(for='cemail') Email
          input#cemail(type='email', name='email', required='', aria-required='true')
          label(for='message') Message
          textarea#message(name='comment', required='', aria-required='true')
          input(type='submit', value='SEND MESSAGE')

  .standardcontainer.quote
        .maincontent.centre
          img(src='/assets/images/quote-open.png', alt='Quote')
          p
            | I thoroughly enjoyed meeting and talking with Dr. Hawa. I enjoyed listening to his experiences with new technology and hearing his genuine concern for the patient. I couldn't be happier to have Dr. Hawa as my new dentist! Thank you for spending your time with me. Everything was perfect!
          div(style='margin: auto 0;')
            p.from — Happy Customer: TB —
          img(src='/assets/images/quote-close.png', alt='Quote')
  include ../partials/footer.pug
  script(src='/assets/js/jquery-1.11.0.min.js')
  script(src='/assets/js/jquery.validate.min.js')
  script(src='/assets/js/drop-down-menu.js')
  script(src='/assets/js/validate-short-form.js')
