doctype html
html.js.no-flexbox.flexbox-legacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
  head
    include ../partials/header.pug
  body(style='')
    #wrapper
      include ../partials/topnavbar.pug
      include ../partials/headnavbar.pug
      include ../partials/menu.pug
      include ../partials/slider.pug
      .maincontent.centre
        include ../partials/portrait&intro.pug
        include ../partials/fourcols.pug 
    include ../partials/commitments.pug  
    .standardcontainer.quote
      .maincontent.centre
        img(src='/assets/images/quote-open.png', alt='Quote')
        p
          | Entire staff was on point. Highly engaging and friendly. Staff works well together - great synergy. High level of genuine interest in the patient. Didn't feel like I was being processed. I think our society has lost a great deal of the personal attention from our healthcare professionals. I will certainly recommend this dental practice to my work associates and friends.
        div(style='margin: auto 0;')
          p.from — Happy Customer: TF —
        img(src='/assets/images/quote-close.png', alt='Quote')
    include ../partials/footer.pug
    script(src='/assets/js/jquery-1.11.0.min.js')
    script(src='/assets/js/jquery.validate.min.js')
    script(src='/assets/js/drop-down-menu.js')
    script(src='/assets/js/validate-short-form.js')
    script(src='/assets/js/jquery.bxslider.min.js')
    script.
      $(document).ready(function(){
        $('ul.bxslider').bxSlider({
          mode: 'fade',
          captions: true,
          controls: false,
          speed: 1500,
          pause: 6000,
          auto: true
        });
      });

