doctype html
html(lang="en")
  include ../partials/head.pug
  body
    include ../partials/navigation.pug
    include ../partials/flash.pug
    block content
    include ../partials/footer.pug
    block scripts

