section.contact-form.pinstripe
  .row
    h5 Contact Us
    h4 Send A Message To
      span= practice.name
    p
      | If you have any questions, concerns, or comments regarding
      span=practice.name
      |, please fill out the short contact form below.

      form.contact_form.js-bookonline-form.js-bookonline-form--send-message(data-callback="sendMessageSubmitCallback" data-callback-beforesubmit="sendMessageBeforeSubmitCallback")
        .span6.left
          .label(property='fullname') Name
          input(name='fullname', type='text', value='', placeholder='Full name', required='true')
          .label(property='email') Email address
          input(name='email', type='email', value='', placeholder='Email address', required='true')
          .label(property='phone') Phone number
          input(name='phone', type='text', value='', placeholder='Phone number', required='')
          input(name="systype" type="hidden" value="message")
          input(name="profileId" type="hidden" value=practice.mdocsProfile)

        .span6.right
          .label(property='description') Comments
          textarea(name='description', cols='50', rows='10')
          input(type='checkbox' name='form_ack', required='true')
          label.ack_medical_condition(property='form_ack') I understand and agree that any information submitted will be forwarded to our office by email and not via a secure messaging system. This form should not be used to transmit private health information, and we disclaim all warranties with respect to the privacy and confidentiality of any information submitted through this form.
          br
          br

          button.btn-submit.js-bookonline-submit(type='submit', value='Send', data-loading-msg='Submitting...', data-success-msg='Success!', data-error-msg='Error! Try again.') Send
  #message-sent.modal(tabindex='-1', role='dialog', aria-hidden='true', aria-labelledby='messageSentLabel')
    .modal-backdrop.in(style='height: 100%;')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#messageSentLabel.modal-title Thank You
        .modal-body
          p.type-wrapper
            | You message has been sent successfully.
          span.apt-conf-formlinks.apt-conf-formlinks2
script.
  $(function() {
    var formValidateBlock = {
      messages: {
        form_ack: "&nbsp;You should check this box&nbsp;"
      }
    }

    $(".js-bookonline-form--send-message").validate(formValidateBlock);
    $("#message-sent .close").on('click', function() {
      $('.contact_form #message-sent').hide();
    })
  });

  function sendMessageBeforeSubmitCallback() {
    var form_btn = $(this).find('button[type="submit"]');
    var loading_msg = form_btn.data('loading-msg');
    form_btn.attr("disabled", "disabled");
    form_btn.text(loading_msg);
  }

  function showThankYouSendMessageModal() {
    var modal = $('.contact-form #message-sent');
    modal.show();
    setTimeout(function() { modal.hide(); }, 5000);
  }

  function sendMessageSubmitCallback(maybeError) {
    var form = $(this);
    var form_btn = form.find('button[type="submit"]');
    var success_msg = form_btn.data('success-msg');
    var error_msg = form_btn.data('error-msg');
    var button_default_msg = "Send";

    setTimeout(function() {
      form_btn.text(button_default_msg);
      form_btn.attr("disabled", false);
      form_btn.removeClass("error");
      form_btn.addClass("success");
    }, 2000);

    if (maybeError) {
      form_btn.text(error_msg);
      form_btn.addClass("error");
    } else {
      form_btn.text(success_msg);
      form_btn.addClass("success");
      form[0].reset();
      showThankYouSendMessageModal();
    }
  }

