.social-container
  a.social-tab.social-plus(href= practice.social.googleplus, target='_blank', title="Follow us on Google+")
    i.fa.fa-2x.fa-google-plus
  a.social-tab.social-tw(href= practice.social.twitter, target='_blank', title="Follow us on Twitter")
    i.fa.fa-2x.fa-twitter
  a.social-tab.social-fb(href= practice.social.facebook, target='_blank', title="Like un on Facebook")
    i.fa.fa-2x.fa-facebook
  a.social-tab.social-yelp(href= practice.social.yelp, target='_blank', title="Review our Springfield location on Yelp")
    i.fa.fa-2x.fa-yelp
  a.social-tab.social-yelp(href= practice.social.yelp2, target='_blank', title="Review our Whiteplains location on Yelp")
    i.fa.fa-2x.fa-yelp
